<accordion close-others="oneAtATime">
    <!--<accordion-group is-open="accordionStatus.openEditActivities[showActivity.activityId]" is-disabled="accordionStatus.isFirstDisabled" class="b-info">-->
    <accordion-group is-open="accordionStatus.openEditActivity" is-disabled="accordionStatus.isFirstDisabled" class="b-info">
        <accordion-heading style="white-space: nowrap;">
            <i class="fa fa-edit"></i>  &nbsp; {{'page.activities.editActivity' | translate }} <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.openEditActivity, 'fa-angle-right': !accordionStatus.openEditActivity}"></i>
        </accordion-heading>
  

        <form class="m-b-none ng-pristine ng-valid" ng-submit="submitActivityChange(showActivity)" name="editActivityForm">

            
            <div class="form-group">
                <label>{{'page.activities.activityTitle' | translate}}<span ng-hide="showActivity.title" class="requiredField">*</span></label>
                <input type="text" class="form-control focusModal" ng-model="showActivity.title" placeholder="{{'page.activities.activityTitle' | translate}}" required>

            </div>

            <div class="form-group" id="img{{showActivity.initId}}">
                <label>{{::'page.activities.activityLogo' | translate}} (visible first after saving)</label>

                <input ng-model="newActivityFile" ngf-fix-orientation="true"
                       onchange="angular.element(this).scope().newFile_changed(this, 'activity')"
                       type="file" accept="image/*"/>
                <!--<input type="button" ng-click="uploadFilesX()">-->
            </div>


            <div class="form-group">
                <label>{{'page.activities.activityShortDescription' | translate}}<span ng-hide="showActivity.shortDescription" class="requiredField">*</span></label>
                <textarea  class="form-control focusModal" rows="5" ng-model="showActivity.shortDescription" placeholder="{{'page.activities.activityShortDescription' | translate}}" required></textarea>
            </div>
            
            <div class="form-group">
                <label>{{'page.activities.activityDescription' | translate}}<span ng-hide="showActivity.description" class="requiredField">*</span></label>
                <div  text-angular ng-model="showActivity.description" class="btn-groups focusModal"  ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo']]" required></div>
                <!--<textarea class="form-control" rows="5" ng-model="newactivity.description" placeholder="{{'page.activities.activityDescription' | translate}}"></textarea>-->
            </div>

            <div class="form-group">
                <!--<label class="control-label" style="white-space: nowrap;color:red;">{{::'page.activities.hidden' | translate}}: </label>-->
                <div class="">
                    <div class="btn-group">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" ng-model="showActivity.hidden"><i></i> {{::'page.activities.hidden' | translate}}
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label" style="white-space: nowrap;">{{::'page.activities.dealAllowed' | translate}}: </label>
                <div class="">
                    <div class="btn-group">
                        <label class="i-switch m-t-xs m-r">
                            <input type="checkbox" checked="true" ng-model="showActivity.dealAllowed">
                            <i></i>
                        </label>
                    </div>
                </div>

            </div>
            
            <div class="form-group">
                <label class="control-label" style="white-space: nowrap; color:red;">{{::'page.activities.lastMinuteActivity' | translate}}: </label>
                <div class="">
                    <div class="btn-group">
                        <label class="i-switch m-t-xs m-r">
                            <input type="checkbox" checked="true" ng-model="showActivity.lastMinute">
                            <i></i>
                        </label>
                    </div>
                </div>

            </div>
            
            <div ng-if="showActivity.lastMinute!=true">
                
                <div class="form-group">
                    <label>{{'page.activities.validFrom' | translate}} <span class="requiredField">*</span></label>

                    <div class="input-group"  ng-controller="DatepickerCheckinCtrl">
                        <input  type="text" placeholder="DD.MM.YYYY"  class="form-control focusModal" datepicker-popup="{{format}}" ng-model="showActivity.validFrom" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-required="showActivity.lastMinute!=true"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>

                </div>
                <div class="form-group">
                    <label>{{'page.activities.validTo' | translate}} <span class="requiredField">*</span></label>
                    <div class="input-group"  ng-controller="DatepickerCheckinCtrl">
                        <input  type="text" placeholder="DD.MM.YYYY"  class="form-control focusModal" datepicker-popup="{{format}}" ng-model="showActivity.validTo" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-required="showActivity.lastMinute!=true"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                
            </div>

            <div class="form-group" ng-if="showActivity.lastMinute==true">
                <!--<label class="control-label" style="white-space: nowrap;color:red;">{{::'page.activities.notificateCreation' | translate}}: </label>-->
                <div class="">
                    <div class="btn-group">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" ng-model="showActivity.publishInWall"><i></i> {{::'page.activities.publishInWall' | translate}}
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group" ng-if="showActivity.dealDaysDuration>0 && showActivity.dealAllowed==true">
                <label>{{'page.activities.dealDaysDuration' | translate}}</label>
                <input type="number" min="1" class="form-control focusModal" ng-model="showActivity.dealDaysDuration" placeholder="{{'page.activities.activityTitle' | translate}}">

            </div>
            
            <!--<div class="form-group" ng-show="showActivity.dealDaysDuration>0 && showActivity.dealAllowed">-->
                <!--<label>{{'page.activities.limitDealNumber' | translate}} (0 : unlimited)</label>-->
                <!--<input type="number" min="0" class="form-control focusModal" ng-model="showActivity.limitDealNumber" placeholder="{{'page.activities.activityTitle' | translate}}" required>-->

            <!--</div>-->


            <div class="form-group">
                <button type="submit" ng-disabled="(showActivity.shortDescription.length > localState.maxActivityShortDescription) || showActivity.shortDescription.length == 0" class="btn btn-block btn-lg btn-success btn-addon"><i class="fa fa-check-square-o"></i>{{'page.activities.editActivity' | translate }}</button>
            </div>
        </form>
    </accordion-group>
</accordion>