<accordion close-others="oneAtATime">

    <accordion-group is-open="accordionStatus.editHotelOpen" is-disabled="accordionStatus.isEditHotelDisabled" class="b-info">

        <accordion-heading>
            <i ng-class="::localState.editHotelAccordionIconClass"></i> &nbsp; {{localState.editHotelAccordionTitle}} <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.editHotelOpen, 'fa-angle-right': !accordionStatus.editHotelOpen}"></i>
        </accordion-heading>

        <form class="m-b-none ng-pristine ng-valid" ng-submit="submitHotelChange(showHotel)" name="hotelForm">


            <md-content layout-padding>
                <div>

                    <div class="form-group" >
                        <label>{{::'page.activities.activityLogo' | translate}} (visible first after saving)</label>

                        <input ng-model="newActivityFile"
                               onchange="angular.element(this).scope().newFile_changed(this, 'hotel', angular.element(this).scope().showHotel.creationTime)"
                               type="file" accept="image/*" />
                        <!--<input type="button" ng-click="uploadFilesX()">-->
                    </div>
                    
                    <div layout-gt-sm="column">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.hotelName' | translate }} <span ng-hide="showHotel.name" class="requiredField">*</span></label>
                            <input type="text" rows="5" ng-model="showHotel.name" required >
                        </md-input-container>
                        
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.hotelCode' | translate }} <span ng-hide="showHotel.currentHotelAccessCode" class="requiredField">*</span></label>
                            <input type="text" rows="5" ng-model="showHotel.currentHotelAccessCode" required >
                        </md-input-container>  
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.rating' | translate }} <span ng-hide="showHotel.rating" class="requiredField">*</span></label>
                            <input type="number" max="5" rows="5" ng-model="showHotel.rating" required >
                        </md-input-container>                        
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Hotel-Staff E-Mail <span ng-hide="showHotel.email" class="requiredField">*</span></label>
                            <input type="email" rows="5" ng-model="showHotel.email" required >
                        </md-input-container>                        
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.phone' | translate }}</label>
                            <input type="text" rows="5" ng-model="showHotel.phone">
                        </md-input-container> 
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.fax' | translate }}</label>
                            <input type="text" rows="5" ng-model="showHotel.fax">
                        </md-input-container>                        
                        
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.street' | translate }}</label>
                            <input type="text" rows="5"ng-model="showHotel.street">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.house' | translate }}</label>
                            <input type="text" ng-model="showHotel.house"></in>
                        </md-input-container>
                    
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.city' | translate }}</label>
                            <input type="text" rows="5" ng-model="showHotel.city"></in>
                        </md-input-container>
                
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{::'page.hotel.postalCode' | translate }}</label>
                            <input type="text" rows="5" ng-model="showHotel.postalCode"></in>
                        </md-input-container>
                        
                        
                    </div>
                </div>
            </md-content>
            
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.hotelName' | translate }}<span class="requiredField">*</span></label>-->
                <!--<input type="text" class="form-control" ng-model="showHotel.name" placeholder="{{::'page.hotel.hotelName' | translate }}" required>-->

            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.activityLogo' | translate}} (visible first after saving)</label>-->

                <!--<input ng-model="newActivityFile"-->
                       <!--onchange="angular.element(this).scope().newFile_changed(this, 'hotel', angular.element(this).scope().showHotel.creationTime)"-->
                       <!--type="file" accept="image/*" />-->
                <!--&lt;!&ndash;<input type="button" ng-click="uploadFilesX()">&ndash;&gt;-->
            <!--</div>-->
            
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.hotelCode' | translate }}<span class="requiredField">*</span></label>-->
                <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="newHotel.pictureUrl" placeholder="{{::'page.hotel.hotelLogo' | translate }}">&ndash;&gt;-->
                <!--<input type="text" class="form-control" ng-model="showHotel.currentHotelAccessCode" placeholder="{{::'page.hotel.hotelCode' | translate }}" required>-->

            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.rating' | translate }}<span class="requiredField">*</span></label>-->
                <!--<input type="number" max="5" class="form-control" rows="5" ng-model="showHotel.rating" placeholder="{{::'page.hotel.rating' | translate }}" required></in>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--&lt;!&ndash;{{::'page.hotel.hotelEmail' | translate }}&ndash;&gt;-->
                <!--<label>Hotel-Staff E-Mail<span class="requiredField">*</span></label>-->
                <!--<input type="email" class="form-control" rows="5" ng-model="showHotel.email" placeholder="{{::'page.hotel.hotelEmail' | translate }}"></in>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.phone' | translate }}</label>-->
                <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.phone" placeholder="{{::'page.hotel.phone' | translate }}"></in>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.fax' | translate }}</label>-->
                <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.fax" placeholder="{{::'page.hotel.fax' | translate }}"></in>-->
            <!--</div>-->
           

            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.street' | translate }}</label>-->
                <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.street" placeholder="{{::'page.hotel.street' | translate }}"></in>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.house' | translate }}</label>-->
                <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.house" placeholder="{{::'page.hotel.house' | translate }}"></in>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.city' | translate }}</label>-->
                <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.city" placeholder="{{::'page.hotel.city' | translate }}"></in>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.hotel.postalCode' | translate }}</label>-->
                <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.postalCode" placeholder="{{::'page.hotel.postalCode' | translate }}"></in>-->
            <!--</div>-->

            <div class="form-group">
                <label>{{::'page.hotel.hotelDescription' | translate }}</label>
                <!--<div lazy-load="textAngular">-->
                <div>
                    <!--<small>{{::'system.restLength' | translate}}:</small> -->
                    <span class="count" ng-bind="localState.maxHotelDescription - showHotel.description.length" ng-class="{danger: showHotel.description.length > localState.maxHotelDescription}">1040</span>
                </div>
                <div text-angular ng-model="showHotel.description" class="btn-groups"   ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear']]" ></div>

            </div>

            <div class="form-group">
                <label>{{::'page.hotel.info' | translate }}</label>
                <!--<div lazy-load="textAngular">-->
                <div>
                    <!--<small>{{::'system.restLength' | translate}}:</small> -->
                    <span class="count" ng-bind="localState.maxHotelDescription - showHotel.info.length" ng-class="{danger: showHotel.info.length > localState.maxHotelDescription}">1040</span>
                </div>
                <div text-angular ng-model="showHotel.info" class="btn-groups"   ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear']]" ></div>

            </div>
            
            <div class="form-group" ng-if="hotelState.profileData.admin">
                <label>Wellcome Mail Message</label>
                <!--<div lazy-load="textAngular">-->
                <div>
                    <!--<small>{{::'system.restLength' | translate}}:</small> -->
                    <span class="count" ng-bind="localState.maxHotelDescription - showHotel.wellcomeMessage.length" ng-class="{danger: showHotel.wellcomeMessage.length > localState.maxHotelDescription}">1040</span>
                </div>
                <div text-angular ng-model="showHotel.wellcomeMessage" class="btn-groups"   ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear']]" ></div>

            </div>

            <div class="form-group">
                <button type="submit" ng-disabled="showHotel.description.length > localState.maxHotelDescription" class="btn btn-block btn-lg btn-success btn-addon"><i class="fa fa-check-square-o"></i>{{::'page.hotel.updateHotelButton' | translate }}</button>
            </div>
        </form>
    </accordion-group>
</accordion>