<div class="modal-body wrapper-lg" stop-event="touchend" ng-init="unlockModal();">
  
   <a ng-click="cancel()" style="position: absolute; top:0; right:5px;"><i class="fa fa-times"/></a>
    
    <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

    <div class="myFlex">
        <!--ng-init="setTimeout(mainPushRequest, 2000);">-->

        <div layout="column" ng-if="isChromeDevice && !hotelService.cancelPushRequest  &&!hotelService.chromePushRegistrationId && !hotelState.profileData.hideChromePushPopup && hotelService.noPushIdRegistered">

            <span style="margin-right: 10px;margin-top: 3px;font-weight: bolder; "><i class="fa fa-exclamation-triangle"></i> Allow Notifications:</span>

            {{'alert.info.agreePush' | translate }}:
            
            <div class="myFlex myCenter">
                <div class="myFlex myCenter myBorder" ng-style="::!isSmartDevice && {'width':'232px'}">
                    <img src="angulr/img/build/menu/push-mobile.png" style="max-width:250px; max-height: 100px;" ng-show="::isSmartDevice">
                    <img src="angulr/img/build/menu/push-pc.png"  ng-hide="::isSmartDevice">
                </div>
            </div>

           
            
            <div class="myFlex mySpaceBetween" style="margin-top: 15px;">
                
                <button ng-click="hotelService.doCancelPushRequest();"  class="btn btn-default" style="padding: 2px;height: 25px;">{{'alert.noPopupMore' | translate}}</button>

                <!--<button ng-click="mainPushRequest()"  class="btn btn-block btn-blue" style="padding: 2px;height: 25px;">Activate</button>-->
                <button ng-click="closeModal();"  class="btn btn-success" style="padding: 2px;height: 25px; min-width:100px;">OK</button>

            </div>
          
        </div>
   </div>
</div>