<div class="bg-light lter b-b wrapper-md" ng-init="
app.hideFooter = true;
app.header.showTab = false;
app.header.showBackArrow = true;
app.rootSettings.darkBg = true;
">
  <!--<h1 class="m-n font-thin h3"></h1>-->
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Feedback</h1>
    </div>
<div class="wrapper-md" ng-controller="FeedbackController">
  <div class="row">

      <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />


      <div ng-show="successMsg" class="myCenter" style="margin-bottom: 10px;">
            <a ui-sref="app.hotel" class="btn btn-sm btn-success">{{'page.feedback.tohotel' | translate }}</a>
        </div>
        
      <!--<div class="panel b-a" >-->


        <div class="panel panel-default">
            <div class="panel-body">

                  <label>{{'page.feedback.header' | translate }}:</label>
                    <br>
                     <div ng-hide="hotelState.profileData.id>0">
                         <input type="text" class="form-control" placeholder="{{::'profile.firstName' | translate}}"  ng-model="localState.anonymName">
                         <input type="text" class="form-control" placeholder="{{::'profile.email' | translate}}"  ng-model="localState.anonymMail">

                     </div>
                    <br>
                  <!--<div text-angular ng-model="localState.feedbackText" ta-toolbar="[]" class="btn-groups"></div>-->
                <textarea  stop-event="touchend" ng-model="localState.feedbackText"   style="width:100%;" class="focusModal" placeholder="Feedback"></textarea>

                <!--<textarea style="width: 100%"-->
                            <!--ng-model="profileData.feedback">-->
                    <!--</textarea>-->
                  <button type="submit" class="btn btn-lg btn-orange btn-block" ng-click="submitFeedback();"  ng-disabled="!localState.feedbackText" style="margin-top: 10px;">{{'page.feedback.button' | translate }}</button>

              </div>
 
      </div>
    
  </div>
  </div>
</div>