<div ng-controller="WallContr" class="hbox hbox-auto-xs bg-white-only" ng-init="
app.hideFooter = true;
app.header.showTab = true;
app.header.showBackArrow = true;
app.rootSettings.darkBg = true;
app.header.tabIndex = 2;
">

    <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/notLoggedInfoBlock.html' " />-->

    <div class="hbox hbox-auto-xs hbox-auto-sm" style="height: 100%">
        <!-- main -->
        <div ng-class="{'col' : isSmartDevice}">

            <!-- / main -->
            <!-- right col -->
            <div ng-class="{'col w-md bg-white-only b-l bg-auto no-border-xs': isSmartDevice, 'bg-white-only bg-auto no-border-xs' : !isSmartDevice}">
                <div id="wallContent" ng-class="{'app-aside-right pos-fix no-padder w-md w-auto-xs bg-white b-l fadeInRight chatWindow' : isSmartDevice, 'bg-white b-l chatWindow' : !isSmartDevice}" ng-style=" localState.chatVisibleHeight? {'height': localState.chatVisibleHeight}:{'height':'90%'}"><!-- Eugen weg: animated -->
                    <!--style="top:auto;">-->
                    <div class="vbox" ng-style="::isSmartDevice? {}:{'height':'90vh'}">
                       
                        <div class="b-b b-t b-light m-b" ng-hide="::isSmartDevice" style="padding: 5px 15px;">
                            <a ui-sref="app.hotel" class="pull-right text-muted text-md"><i class="fa fa-times"></i></a>
                            <a ui-sref="app.hotel" style="text-decoration: underline;">{{hotelState.profileData.hotelName}}</a> Wall
                        </div>
                        
                        <div class="row-row" >
                            <div id="chatContainer"  class="cell" data-scroll-to-bottom='localState.wallMessages.length+localState.waitingMessages.length*2'>
                                <div class="cell-inner padder" style="margin-top: 5px;    padding-right: 5px;
    padding-left: 5px; ">

                                    <!-- wall list -->
                                    <div class="myCenter m-t" ng-show="localState.wallMessages && localState.dataLoaded && localState.wallMessages.length==0">
                                        <span >{{::'page.wall.noEvents' | translate }}</span>
                                    </div> 
                                    <div class="myCenter m-t" ng-hide="localState.dataLoaded">
                                        <span >Loading...</span>
                                    </div>
                                    
                                    <div class="m-b b-l m-l-md streamline" style="margin-bottom: 7px;" ng-repeat="nextMessage in localState.wallMessages | orderBy:'id' track by nextMessage.id">
                                        <div>
                                            <a class="pull-left thumb-sm avatar m-l-n-md" ui-sref="app.user({userId: nextMessage.senderId})" ng-show="hotelState.profileData.logged && hotelState.profileData.fullCheckin || nextMessage.senderId==hotelState.profileData.id">
                                                <img src="{{getProfileImageUrl(nextMessage.senderId)}}" class="img-circle" style="background-color: #fff;" alt="...">
                                            </a>
                                            <a class="pull-left thumb-sm avatar m-l-n-md" ng-hide="hotelState.profileData.logged && hotelState.profileData.fullCheckin || nextMessage.senderId==hotelState.profileData.id">
                                                <img src="{{getProfileImageUrl(nextMessage.senderId, true)}}" class="img-circle" style="background-color: #fff;" alt="...">
                                            </a>
                                            <div class="m-l-lg panel b-a" style="margin-bottom: 15px;border-radius: 3px;">
                                                <div class="panel-heading pos-rlt b-b b-light wall" style="padding: 1px 15px; background-color: beige;">
                                                    <span class="wall arrow left"></span>

                                                    <a href ui-sref="app.user({userId: nextMessage.senderId})" ng-class="(hotelState.profileData.logged && hotelState.profileData.fullCheckin || nextMessage.senderId==hotelState.profileData.id)? 'customerNameElement' : 'customerNameElement diffuseText' ">{{nextMessage.senderName}}</a>

                                                    <label class="label bg-orange hotelStaff" ng-show="nextMessage.hotelStaff" style="margin-top: -2px;">{{'system.hotelStaff' | translate}}</label> 
                                                    
                                                      <span class="text-muted m-l-sm pull-right messageTimeElement">
                                                          <time style="background-color: beige">{{nextMessage.sendTimeString}}</time>
                                                      </span>
                                                </div>
                                                <div class="panel-body" style=" word-wrap: break-word;background-color:beige;padding: 0px;padding-left: 15px;">
                                                    <div ng-class="{'staffMessage' : nextMessage.hotelStaff}">{{nextMessage.message}}</div>
                                                    <!--<div class="m-t-sm">-->
                                                        <!--&lt;!&ndash;<a href ui-toggle-class class="btn btn-default btn-xs active">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="fa fa-star-o text-muted text"></i>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="fa fa-star text-danger text-active"></i>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;Like&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<a href class="btn btn-default btn-xs">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="fa fa-mail-reply text-muted"></i> Reply&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                    <!--</div>-->
                                                    <blockquote ng-if="nextMessage.specialContent.name">
                                                        
                                                        <div ng-show="nextMessage.specialContent.customerId" ui-sref="app.user({userId: nextMessage.specialContent.customerId})" style="min-height: 37px;">
                                                            <a class="pull-left thumb-sm avatar">
                                                                <img src="{{nextMessage.specialContent.pictureUrl}}" class="img-circle" alt="...">
                                                            </a>
                                                            <a style="margin-left: 5px;">{{nextMessage.specialContent.name}}</a>
                                                        </div>

                                                        <div ng-show="nextMessage.specialContent.activityId" ui-sref="app.activityList({filterHotelId: nextMessage.specialContent.hotelId, filterActivityId: nextMessage.specialContent.activityId})" style="min-height: 37px;">
                                                            <a class="pull-left thumb-sm avatar">
                                                                <img src="{{nextMessage.specialContent.pictureUrl}}" class="img-circle" alt="...">
                                                            </a>
                                                            <a style="margin-left: 5px;">{{nextMessage.specialContent.name}}</a>
                                                        </div>                                     
                                                    
                                                    </blockquote>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .comment-reply -->
                                        <!--<div class="m-l-lg">-->
                                        <!--<a class="pull-left thumb-sm avatar">-->
                                        <!--<img src="angulr/img/build/a8.jpg" alt="...">-->
                                        <!--</a>-->
                                        <!--<div class="m-l-xxl panel b-a">-->
                                        <!--<div class="panel-heading pos-rlt">-->
                                        <!--<span class="arrow left pull-up"></span>-->
                                        <!--<span class="text-muted m-l-sm pull-right">-->
                                        <!--<i class="fa fa-clock-o"></i>-->
                                        <!--10m ago-->
                                        <!--</span>-->
                                        <!--<a href>Mika Sam</a>-->
                                        <!--Report this comment is helpful-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!-- / .comment-reply -->
                                    </div>

                                    <div class="m-b b-l m-l-md streamline" ng-repeat="nextMessage in localState.waitingWallMessages | orderBy:'creationTime':false track by nextMessage.initId">
                                        <div>
                                            <a class="pull-left thumb-sm avatar m-l-n-md" ui-sref="app.user({userId: nextMessage.senderId})">
                                                <img src="{{getProfileImageUrl(nextMessage.senderId)}}" class="img-circle" style="background-color: #fff;" alt="...">
                                            </a>
                                            <div class="m-l-lg panel b-a" style="border-radius: 3px; margin-bottom: 7px;">
                                                <div class="panel-heading pos-rlt b-b b-light wall" style="background-color: beige;">
                                                    <span class="wall arrow left" ></span>

                                                    <a href ui-sref="app.user({userId: nextMessage.senderId})" class="customerNameElement">{{nextMessage.senderName}}</a>

                                                    <!--<span ng-show="!message.hotelStaff && hotelCustomersById[message.senderId] && hotelCustomersById[message.senderId].age"> ({{hotelCustomersById[message.senderId].age}})</span><span ng-hide="!hotelCustomersById[message.senderId].jobTitle || hotelCustomersById[message.senderId].hotelStaff">, {{hotelCustomersById[message.senderId].jobTitle}}</span>-->

                                                    <!--<span ng-hide="!hotelCustomersById[message.senderId].company || hotelCustomersById[message.senderId].hotelStaff"><span style="margin-left: -3px;" ng-hide="!hotelCustomersById[message.senderId].jobTitle">&nbsp; </span> {{hotelCustomersById[message.senderId].company}}</span>-->

                                                    <!--<label class="label bg-orange hotelStaff" ng-show="message.hotelStaff" style="margin-top: 8px;">{{'system.hotelStaff' | translate}}</label> -->
                                                
                                                      <span class="text-muted m-l-sm pull-right messageTimeElement">
                                                        <!--<i class="fa fa-clock-o"></i>-->
                                                         <time style="background-color: beige;">{{nextMessage.sendTime | date:'HH:mm'}}</time>
                                                      </span>
                                                </div>
                                                <div class="panel-body" style=" word-wrap: break-word;background-color:beige;padding: 0px;padding-left: 15px;">
                                                    <div style="vertical-align: top;word-wrap: break-word;" ng-class="{'staffMessage' : nextMessage.hotelStaff}">
                                                        <img src="angulr/icons/loader.gif" style="margin-right: 5px;" ng-hide="localState.showResend">
                                                        <i class="fa fa-exclamation text-muted"  ng-show="localState.showResend"/>
                                                        {{nextMessage.decodeMessage}}
                                                    </div>
                                                    <!--<div class="m-t-sm">-->
                                                        <!--&lt;!&ndash;<a href ui-toggle-class class="btn btn-default btn-xs active">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="fa fa-star-o text-muted text"></i>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="fa fa-star text-danger text-active"></i>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;Like&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<a href class="btn btn-default btn-xs">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<i class="fa fa-mail-reply text-muted"></i> Reply&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                                    <!--</div>-->

                                                    <small class="text-muted" style="position: relative;float: right;margin-top: -15px;" ng-show="localState.showResend">
                                                        <div ng-click="resendWallRessource(nextMessage)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-repeat text-muted" ></i> Retry
                                                        </div>
                                                        <div  ng-click="removeWaitingMessage(nextMessage)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-trash-o text-muted" ></i> Remove
                                                        </div >
                                                        <!--<time>{{message.sendTimeString}}</time>-->
                                                    </small>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .comment-reply -->
                                        <!--<div class="m-l-lg">-->
                                        <!--<a class="pull-left thumb-sm avatar">-->
                                        <!--<img src="angulr/img/build/a8.jpg" alt="...">-->
                                        <!--</a>-->
                                        <!--<div class="m-l-xxl panel b-a">-->
                                        <!--<div class="panel-heading pos-rlt">-->
                                        <!--<span class="arrow left pull-up"></span>-->
                                        <!--<span class="text-muted m-l-sm pull-right">-->
                                        <!--<i class="fa fa-clock-o"></i>-->
                                        <!--10m ago-->
                                        <!--</span>-->
                                        <!--<a href>Mika Sam</a>-->
                                        <!--Report this comment is helpful-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!-- / .comment-reply -->
                                    </div>

                                    <chat-box></chat-box>

                                    <!-- / chat list -->
                                </div>
                            </div>
                        </div>
                        <div class="wrapper m-t b-t b-light" style="margin-bottom: 0px; margin-top:0; padding-top: 0px; min-height: 70px;">
                            <!--<a class="pull-left thumb-sm avatar" style="margin-top: 5px;"><img src="{{getProfileImageUrl()}}" alt="..."></a>-->
                            <a class="pull-left thumb-sm avatar" style="margin-top: 5px;"><img ng-src="{{hotelState.profileData.avatarUrl}}" alt="..."></a>
                            <div class="m-l-xxl" ng-show="app.settings.blockGuestInWall && hotelState.profileData.guestAccount" >
                                <div class="input-group">
                                    <span class="form-control input-lg" style="margin-top: 4px;">
                                        {{'page.wall.guestMessage' | translate}}:
                                    </span>
                                    <span class="input-group-btn" ng-whow="hotelState.profileData.guestAccount">
                                        <button class="btn btn-orange btn-lg" ng-click="clickLoading('app.me')">
                                            {{'page.wall.register' | translate}}
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="m-l-xxl" ng-hide="app.settings.blockGuestInWall && hotelState.profileData.guestAccount">
                                <form class="m-b-none ng-pristine ng-valid" ng-submit="addMessage()" name="messageForm">
                                    <div class="input-group">
                                        <input type="text" id="wallInput" autocomplete="off" ng-focus="focusChatInput()" ng-blur="checkVisibleHeight();" class="form-control input-lg" placeholder="{{'page.wall.commentPlaceholder' | translate}}" ng-model="localState.newWallMessage">
                                        <span class="input-group-btn">
                                            <button class="btn btn-orange btn-lg" ng-disabled="localState.newWallMessage.length > localState.max">
                                                <!--{{'page.wall.sendButton' | translate}}-->
                                                <i class="fa fa-angle-right" style="font-size: 18px;"/>
                                            </button>
                                        </span>
                                    </div>
                                    <!--<div style="/*  margin-bottom: -20px;*/">-->
                                        <!--<span class="count" ng-bind="localState.max - localState.newWallMessage.length" ng-class="{danger: localState.newWallMessage.length > localState.max}">{{localState.max}}</span>-->
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / right col -->
        </div>
    </div>
</div>
