<style media="screen" type="text/css">
    .app:before {  background-color: white !important;}
</style>

<div style="height: 100%;" class="hbox hbox-auto-xs bg-white-only" ng-controller="ChatContr" ng-init="
app.hideFooter = true;
app.header.showTab = false;
app.header.showBackArrow = true;
app.header.tabIndex = 1;
app.rootSettings.darkBg = true;
">

    <!-- modal -->
    <!--<div class="panel b-a">-->
        <!--<script type="text/ng-template" id="myModalContent.html">-->
            <!--<div ng-include="'angulr/tpl/hotel/chat_modal.html'"></div>-->
        <!--</script>-->
        <!--<button class="btn btn-success" ng-click="openModal()">Open me!</button>-->
    <!--</div>-->
    <!-- /modal -->
    
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div ng-class="{'col' : isSmartDevice}">
            
            <!-- / main -->
            <!-- right col -->
            <div ng-class="{'col w-md bg-white-only b-l bg-auto no-border-xs': isSmartDevice, 'bg-white-only bg-auto no-border-xs' : !isSmartDevice}">
                <div id="chatContent" ng-class="{'app-aside-right pos-fix no-padder w-md w-auto-xs bg-white b-l fadeInRight chatWindow' : isSmartDevice, 'bg-white b-l chatWindow' : !isSmartDevice}" ng-style=" localState.chatVisibleHeight? {'height': localState.chatVisibleHeight}:{'height':'90%'}"><!-- Eugen weg: animated -->
                    <!--style="top:auto;">-->
                    <div class="vbox" ng-style="::isSmartDevice? {}:{'height':'90vh'}">
                        <div class="b-b b-t b-light m-b" ng-hide="::isSmartDevice" style="padding: 5px 15px;">
                            <a ui-sref="app.chatList({hotelScope: localState.chatPartner.hotelId == hotelState.profileData.hotelId})" class="pull-right text-muted text-md"><i class="fa fa-times"></i></a>
                            Chat with:

                            <!--<a href ui-sref="app.user({userId: localState.chatPartner.id})" class="avatar thumb-sm m-r">-->
                                <!--&lt;!&ndash;<img src="{{getProfileImageUrl(nextCustomer.id)}}" class="r r-2x">&ndash;&gt;-->
                                <!--<img ng-src="{{localState.chatPartner.avatarUrl}}" class="r r-2x" style="height: 20px; margin-right: 5px;">-->
                                <!--<i class="on md b-white right customerOnlineStatus" ng-show="hotelNotification.notificationObj.hotelOnlineGuestIds[localState.chatPartner.id]"></i>-->
                                <!--<i class="offline md b-white right customerOnlineStatus" ng-hide="localState.chatPartner.hotelStaff || hotelNotification.notificationObj.hotelOnlineGuestIds[localState.chatPartner.id]"></i>-->
                            <!--</a>-->
                            
                            
                            <!--<a ui-sref="app.user({userId: chatPartner.id})"  class="thumb-xs avatar"><img src="{{getProfileImageUrl(chatPartner.id)}}" alt="..."></a>-->
                            <a ui-sref="app.user({userId: localState.chatPartner.id})">                            
                                <img ng-src="{{localState.chatPartner.avatarUrl}}" class="r r-2x" alt="..." style="height: 20px; margin-right: 2px;">
                                <span  style="text-decoration: underline;">{{::localState.chatPartner.firstName}} {{::localState.chatPartner.lastName}}</span>
                            </a>
                            <span class="label bg-orange inline hotelStaff" ng-show="localState.chatPartner.hotelStaff" style="margin-left: 5px; margin-top: 3px;">{{::'system.hotelStaff' | translate}}</span>
                            <i class="offline md b-white right customerOnlineStatus" ng-hide="hotelNotification.notificationObj.hotelOnlineGuestIds[localState.chatPartner.id]" style="background-color: red;position: absolute;height: 4px;width: 4px;border-radius: 5px;"></i>
                            <i class="on md b-white right customerOnlineStatus" ng-show="localState.chatPartner.hotelStaff || hotelNotification.notificationObj.hotelOnlineGuestIds[localState.chatPartner.id]" style="background-color: #27c24c;position: absolute;height: 4px;width: 4px;border-radius: 5px;"></i>
                            <div style="display: none"><a id="resendButton" ng-href="resend()"></a></div>
                        </div>
                        <div class="row-row" >
                            <div id="chatContainer" class="cell" scroll-to-bottom='localState.messages.length+localState.waitingMessages.length*2' layout="column" style="justify-content: space-between;">
                                <div class="cell-inner padder" style="margin:5px; padding: 0px;">
                                    <!-- chat list -->
                                    <div  ng-repeat="(key, nextMessage) in hotelState.chatHistoryByPartnerId[localState.receiverId] | orderBy:'creationTime':false track by nextMessage.id" ng-class="{'leftMessage' :hotelState.profileData.id!=nextMessage.senderId, 'rightMessage': hotelState.profileData.id==nextMessage.senderId}">

                                        <div style="margin-bottom: 5px;">
                                            <!--<a href="" class="pull-left thumb-xs avatar"><img src="{{getProfileImageUrl(message.senderId)}}" alt="..."></a>-->

                                            <div class="clear">
                                                <div ng-class="{'pos-rlt wrapper-sm b b-light r m-l-sm senderChatMessage': hotelState.profileData.id!=nextMessage.senderId, 'pos-rlt wrapper-sm bg-light r m-r-sm receiverChatMessage': hotelState.profileData.id == nextMessage.senderId}">
                                                    <span ng-class="{'arrow left pull-up' :hotelState.profileData.id!=nextMessage.senderId, 'arrow right pull-up arrow-light': hotelState.profileData.id==nextMessage.senderId}"></span>

                                                    <div ng-show="nextMessage.specialContent.name" class="staffMessage" style="vertical-align: top;word-wrap: break-word;">Deal Invitation <span style="font-weight: normal;">(group discount)</span>:</div>
                                                    <div style="vertical-align: top;word-wrap: break-word;" ng-class="{'staffMessage': nextMessage.hotelStaff, 'm-b-none': true}" >{{nextMessage.message}}</div>
                                                    
                                                    <small class="text-muted" style="float: right;margin-top: -5px; display: flex; display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;">
                                                        <time style="color:#000;">{{::nextMessage.sendTimeString}}</time>
                                                        <!--Eugen: seenByReceiver-->
                                                        <div ng-show="!nextMessage.seenByReceiver && !nextMessage.delieveredToReceiver && hotelState.profileData.id==nextMessage.senderId" style="margin-left: 2px;margin-top: -3px;"><img src="angulr/img/build/chat/delieveredToServer.png"/></div>
                                                        <div ng-show="!nextMessage.seenByReceiver && nextMessage.delieveredToReceiver && hotelState.profileData.id==nextMessage.senderId" style="margin-left: 2px;margin-top: -3px;"><img src="angulr/img/build/chat/delieveredToReceiver.png"/></div>
                                                        <div ng-show="nextMessage.seenByReceiver && hotelState.profileData.id==nextMessage.senderId" style="margin-left: 2px;margin-top: -3px;"><img src="angulr/img/build/chat/seenByReceiver.png"/></div>
                                                    </small>
                                                </div>
                                                
                                                <div class="panel-body" ng-class="{'chat_left_content' :hotelState.profileData.id!=nextMessage.senderId, 'chat_right_content': hotelState.profileData.id==nextMessage.senderId}" style=" word-wrap: break-word;padding: 0px;padding-left: 10px;margin-top: -2px;">
                                                    <!--<div ng-class="{'staffMessage' : nextMessage.hotelStaff}">{{nextMessage.message}}</div>-->
                                                    
                                                    <blockquote ng-if="nextMessage.specialContent.name">

                                                        <div ng-show="nextMessage.specialContent.customerId" ui-sref="app.user({userId: nextMessage.specialContent.customerId})" style="min-height: 37px;">
                                                            <a class="pull-left thumb-sm avatar">
                                                                <img src="{{nextMessage.specialContent.pictureUrl}}" class="img-circle"  alt="...">
                                                            </a>
                                                            <a style="margin-left: 5px;">{{nextMessage.specialContent.name}}</a>
                                                        </div>

                                                        <div ng-show="nextMessage.specialContent.activityId" ui-sref="app.activityList({filterHotelId: nextMessage.specialContent.hotelId, filterActivityId: nextMessage.specialContent.activityId})" style="min-height: 37px;">
                                                            <a class="pull-left thumb-sm avatar">
                                                                <img src="{{nextMessage.specialContent.pictureUrl}}" class="img-circle" alt="...">
                                                            </a>
                                                            <a style="margin-left: 5px;">{{nextMessage.specialContent.name}}</a>
                                                        </div>

                                                    </blockquote>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div ng-repeat="(key, nextMessage) in localState.waitingMessages | orderBy:'creationTime':false track by nextMessage.initId" ng-class="{'leftMessage' :hotelState.profileData.id!=nextMessage.senderId, 'rightMessage': hotelState.profileData.id==nextMessage.senderId}">

                                        <div style="margin-bottom: 5px;">
                                            <!--<a href="" class="pull-left thumb-xs avatar"><img src="{{getProfileImageUrl(message.senderId)}}" alt="..."></a>-->

                                            <div class="clear">
                                                <div ng-class="{'pos-rlt wrapper-sm b b-light r m-l-sm senderChatMessage': hotelState.profileData.id!=nextMessage.senderId, 'pos-rlt wrapper-sm bg-light r m-r-sm receiverChatMessage': hotelState.profileData.id==nextMessage.senderId}">
                                                    <span ng-class="{'arrow left pull-up' : hotelState.profileData.id!=nextMessage.senderId, 'arrow right pull-up arrow-light': hotelState.profileData.id==nextMessage.senderId}"></span>

                                                    <div style="vertical-align: top;word-wrap: break-word;" ng-class="{'staffMessage': nextMessage.hotelStaff, 'm-b-none': true}" > 
                                                        <img src="angulr/icons/loader.gif" style="margin-right: 5px;" ng-hide="localState.showResend">
                                                        <i class="fa fa-exclamation text-muted"  ng-show="localState.showResend"/>
                                                        {{nextMessage.decodeMessage}}
                                                    </div>

                                                     
                                                    
                                                    <small class="text-muted" style="position: relative;float: right;margin-top: -15px; z-index: 9999;" ng-show="localState.showResend">
                                                        <div ng-click="resendChatRessource(nextMessage)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-repeat text-muted" ></i> Retry
                                                        </div>
                                                        <div  ng-click="removeWaitingMessage(nextMessage)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-trash-o text-muted" ></i> Remove
                                                        </div >
                                                        <!--<time>{{message.sendTimeString}}</time>-->
                                                    </small>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <!--TODO EUGEN: What is chat-box?????-->
                                    <!--<chat-box></chat-box>-->

                                    <!-- / chat list -->

                                    
                                    
                                </div>

                                <!--<div>-->
                                    <!--<form class="m-b-none ng-pristine ng-valid" ng-submit="addMessage()" name="messageForm">-->
                                        <!--<div class="input-group">-->
                                            <!--<input type="text" id="chatInput" autocomplete="off" ng-focus="focusChatInput()" ng-blur="checkVisibleHeight()" class="form-control" placeholder="Say something" ng-model="localState.newMessage">-->
                                                <!--<span class="input-group-btn">-->
                                                <!--<button class="btn btn-orange" ng-disabled="localState.newMessage.length > max"> <i class="fa fa-angle-right" style="font-size: 18px;"/></button>-->
                                                <!--</span>-->
                                        <!--</div>-->
                                        <!--<div style=" /* margin-bottom: -20px;*/">-->
                                            <!--<span class="count" ng-bind="localState.max - localState.newMessage.length" ng-class="{danger: localState.newMessage.length > localState.max}">{{::localState.max}}</span>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->
                                
                            </div>
                        </div>
                        <div class="wrapper b-t b-light" style="margin-top:0;padding-top: 0px;min-height:53px;">
                            <form class="m-b-none ng-pristine ng-valid" ng-submit="addMessage()" name="messageForm">
                                <div class="input-group">
                                    <input type="text" id="chatInput" autocomplete="off" ng-focus="focusChatInput()" ng-blur="checkVisibleHeight()" class="form-control" placeholder="Say something" ng-model="localState.newMessage">
    <span class="input-group-btn">
    <button class="btn btn-orange" ng-disabled="localState.newMessage.length > max"> <i class="fa fa-angle-right" style="font-size: 18px;"/></button>
    </span>
                                </div>
                                <!--<div style=" /* margin-bottom: -20px;*/">-->
                                    <!--<span class="count" ng-bind="localState.max - localState.newMessage.length" ng-class="{danger: localState.newMessage.length > localState.max}">{{::localState.max}}</span>-->
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / right col -->
        </div>
    </div>
    </div>
