<div data-ng-include=" 'angulr/tpl/hotel/blocks/dealSubTabBlock.html' " style="display: flex;"/>

<div id="minPaddingPage" ng-controller="HotelController" class="bg-light lter b-b wrapper-md" ng-init="
app.hideFooter = false;
app.header.showTab = true;
app.header.tabIndex = 0;
app.header.showBackArrow = false;
app.rootSettings.darkBg = true;
">
    <div data-ng-include=" 'angulr/tpl/hotel/blocks/notLoggedInfoBlock.html' " />


    <div class="wrapper-md" style="padding-top: 0;" >
    
    <div class="row">
      
      <div>
        <!--ng-class="::{'col-sm-9': !isSmartDevice}">-->

          <div data-ng-include=" 'angulr/tpl/hotel/blocks/pushRequest.html' " />


          <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />
        <!--<button id="sendButton" class="button-primary" ng-click="send()">Send me a push notification</button>-->

        <!-- START HOTEL -->
        
        <div id="hotelPart" ng-show="hotelState.profileData.checkedIn" ng-controller="hotelCtrl">

            <div data-ng-include=" 'angulr/tpl/hotel/blocks/fullCheckinRequest.html' " />

            <!-- START HOTEL accordion -->
  
          <!--<div class="staffContent" ng-if="(hotelState.profileData.hotelStaff  && hotelState.profileData.hotelId==showHotel.id|| hotelState.profileData.admin)">-->
              <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/editHotelAccardion.html' " />-->
          <!--</div>-->
            
          <!-- / END hotel accordion -->

          <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/showHotelBlock.html' " />-->

        </div>
        
        <!-- END HOTEL -->
        
        <!-- ACTIVITES START -->
  
        <div id="activityPart" ng-controller="activityCtrl">

          <!-- LIST ALL ACTIVITIES -->

          <div class="staffContent myCenter" ng-if="::(hotelState.profileData.hotelStaff || hotelState.profileData.admin)" style="margin-top: 10px; margin-bottom: 15px;">
            <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/addActivityAccardion.html' " />-->
            <button class="btn btn-lg btn-blue btn-addon" ng-click="openModal('editActivity', 'new')"><i class="fa fa-plus"></i>{{::'page.activities.addActivity' | translate }}</button>
          </div>
          
          <div ng-show="localState.filterActivities.length>0" style="text-align: center;" class="hotelicoHeader orange-text myCenter">
            {{::'page.hotel.actualActivities' | translate}} 
            <!--in {{::showHotel.name}}-->
            <!--:-->
            <a id="activitiesAnchor"/>
          </div>

          <div class="list-group list-group-lg list-group-sp m-t">
            
            <div ng-repeat="showActivity in localState.filterActivities | orderBy: '-orderIndex':true  track by showActivity.initId" >

              <div data-ng-include=" 'angulr/tpl/hotel/blocks/showActivityBlock.html' " />

            </div>

          </div>
          
        </div>
        
        
  
        <!-- END ACTIVITES START -->
        
        <!-- END Activities -->
        
      </div>
      
    </div>
    
  </div>

  <div ng-show="localState.activitiesLoaded && localState.filterActivities.length==0" style="text-align: center;" class="myCenter">
    {{::'page.hotel.noActualActivities' | translate}} in {{::showHotel.name}}
  </div>
  
</div>