<div ng-controller="LoginController" ng-init="
app.settings.container = false; 
app.hideAside = true; 
app.hideFooter = true;
app.rootSettings.darkBg = false;
" 
 class="container w-xxl w-auto-xs">

  <div  ng-style=" ::isSmartDevice && {'width': '100%'}" class="container w-xxl w-auto-xs" style="display: flex;  display: -webkit-flex;display: -moz-flex;display: -ms-flexbox; justify-content: space-between; padding: 0;">
      
    <div class="text-center" ui-sref="app.hotelLogin" style="padding: 5px;">
      <a id="hotelLoginId" ui-sref="app.hotelLogin" style="white-space: nowrap;">{{'page.login.hotelLoginPreview' | translate }} <span style="text-decoration: underline;">{{'page.login.hotelLoginLink' | translate}}</span></a>
    </div>
      
    <!--<div style="margin-top: 5px;" isteven-multi-select id="selectSystemLanguages" input-model="localState.availableSystemLanguages" output-model="localState.selectSystemLanguage" button-label="icon langKeyLabel" item-label="icon name" tick-property="ticked" max-labels="5" max-height="320px" search-property="name" output-properties="name" helper-elements="filter" selection-mode="single"></div>-->

  </div>


  <div class="wrapper text-center">
    <img src="angulr/img/build/logo/logoFull2.png" />
  </div>

  <div ng-class="::isSmartDevice? 'wrapper-md' : 'container w-xxl w-auto-xs' ">
  <!--<a href class="navbar-brand block m-t">{{::app.name}}</a>-->
    <div class="m-b-lg">
      
      <div class="wrapper loginWellcomeMsg text-center" style="padding: 0px; color: #f1592a;">
        {{' page.login.wellcomeMsg' | translate}}
      </div>
      
      <div class="wrapper text-center loginHeaderItems" style="padding-left: 0; padding-right: 0;">
        <a href="" ng-click="setLoginTabState('guest')" ng-class="{'label bg-orange inline loginSelectedItem': loginTabState.guest}">{{ 'page.login.guestTitle' | translate}}</a> 
        <span style="padding: 5px;">|</span>
        <a href="" ng-click="setLoginTabState('login')" ng-class="{'label bg-orange inline loginSelectedItem': loginTabState.login}">{{ 'page.login.loginTitle' | translate}}</a>
        <span style="padding: 5px;">|</span>
        <a href="" ng-click="setLoginTabState('signup')" ng-class="{'label bg-orange inline loginSelectedItem': loginTabState.signup}">{{ 'page.login.signupTitle' | translate}}</a>
      </div>
      
      <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />
  
      <div class="panel panel-default" >
        
        <div class="panel-body" ng-show="loginTabState.guest">
          
          <form name="loginGuestForm" id="loginGuestForm" class="form-validation" ng-submit="guestRegister();">

            <div class="list-group list-group-sm">
              <div class="list-group-item text-center" style="height: 60px;padding: 0;margin: 0">
                <div style="width: 250px;display: table;margin: 0 auto;padding-top: 7px;">
                  <div style="width: 100px; float: left;">
                      <input type="text" placeholder="{{' profile.firstName' | translate}}" class="form-control no-border" ng-model="localState.guestUser.firstName" required>
                  </div>
                  <div style="float: left; margin-top: 7px; margin-left: 10px;">
                      <label class="i-checks">
                        <input type="radio" value="m" ng-model="localState.guestUser.sex" ng-required="!localState.guestUser.sex"><i></i> {{ 'profile.gender-m' | translate}} &nbsp;
                      </label>
                      <label class="i-checks">
                        <input type="radio" value="w" ng-model="localState.guestUser.sex" ng-required="!localState.guestUser.sex"><i></i> {{ 'profile.gender-f' | translate}}
                      </label>
                  </div>
                </div>
                  
              </div>
  
              <button type="submit" class="btn btn-lg btn-orange btn-block">{{' page.login.guestRegister'
                  | translate }}</button>
            </div>
              
            <hr>
  
            <div style="text-align: justify;" class="text-center">
                {{' page.login.guestMsg' | translate }}
                <br/>
                {{' page.login.guestMsg2' | translate }}
            </div>
          
        </form>
    
        </div>
      
        <div class="panel-body" ng-show="loginTabState.login">
          <!-- TODO Eugen: create Form hier!!! autofill-->
          <form name="hotelicoLoginForm"  autocomplete="on" class="form-validation" ng-submit="loginPassword()">

            <div class="list-group list-group-sm">
              <div class="list-group-item">
                <input type="email" id="hotelicoLoginMail" name="hotelicoLoginMail" placeholder="{{' profile.email' | translate}}" class="form-control no-border" ng-model="localState.checkUser.email" required autocomplete="on">
              </div>
              <div class="list-group-item">
                <input type="password" id="hotelicoLoginPassword" name="hotelicoLoginPassword" placeholder="{{' profile.password' | translate}}" class="form-control no-border" ng-model="localState.checkUser.password" required autocomplete="on">
              </div>
              <button type="submit" class="btn btn-lg btn-orange btn-block">{{' page.login.doLogin'
                | translate }}</button>
            </div>
          </form>
          
          <div class="text-center m-t m-b"><a ui-sref="app.forgotpwd">Forgot password?</a></div>
       
        </div>

        <div class="panel-body"  ng-show="loginTabState.signup">

          <a ng-click="clickLoading('app.register')" class="btn btn-lg btn-orange btn-block">{{' page.login.goToSignUp' | translate}}</a>

        </div>
        
      </div>


      <div data-ng-include=" 'angulr/tpl/hotel/blocks/socialLogin.html' " />


    </div>

      <div data-ng-include=" 'angulr/tpl/hotel/blocks/impressumBottomBlock.html' " />

    <!--<div class="text-center" ng-include="'angulr/tpl/blocks/page_footer.html'">-->
      <!--&lt;!&ndash;{% include 'blocks/page_footer.html' %}&ndash;&gt;-->
    <!--</div>-->
  </div>
</div>