<div ng-controller="ProfileController" ng-init="
app.hideFooter = false;
app.header.showTab = false;
app.header.showBackArrow = true;
app.rootSettings.darkBg = true;
">
  <div class="panel panel-default">
    
    <div class="panel-heading" ngCloak>
      <div class="clearfix">
        <a href class="pull-left thumb-md avatar b-3x m-r">
          <!--<img src="{{getProfileImageUrl()}}" alt="...">-->
          <img ng-src="{{hotelState.profileData.avatarUrl}}" alt="...">
        </a>
        <div class="clear">
          <div class="h3 m-t-xs m-b-xs">
            {{hotelState.profileData.firstName}} {{hotelState.profileData.lastName}}
            <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
            <br/>
            <a ui-sref="app.avatar" style=" font-size: 12px; text-decoration: underline;">(Change Avatar)</a>
          </div>
          <small class="text-muted">{{hotelState.profileData.status}}</small>
        </div>
      </div>
    </div>

    <div class="wrapper-md">

      <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />


      <div class="panel panel-default">
        
        <div class="panel-heading font-bold">
          {{:: 'profile.section.personalInfo' | translate }}
        </div>
  
        <div class="panel-body">
         
          <div class="form-group">
             
            <label class="col-sm-2 control-label">{{::'profile.statusLabel' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded" placeholder="{{::'profile.status' | translate}}"  ng-model="localState.updateProfileData.status">
              <span class="help-block m-b-none">{{::'profile.statusDescr' | translate}}</span>
   
            </div>
          </div>
          
          
          <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

          <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">{{::'profile.changeAvatar' | translate}}</label>-->
            <!--<div class="col-sm-10">-->

              <!--<div  ng-cloak>-->
                <!--<div>-->
                  <!--<div class="well">-->
                    <!--<form action="" class="dropzone" dropzone="" id="dropzone">-->
                      <!--<div class="dz-default dz-message">-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->
                  <!--<div class="pull-right">-->
                    <!--&lt;!&ndash;<button class="btn btn-success" ng-click="uploadFile()">Upload Avatar</button>&ndash;&gt;-->
                    <!--<button class="btn btn-danger" ng-click="reset()" ng-show="fileAdded">{{::'profile.removeAvatar' | translate}}</button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
          
          
          <div class="line line-dashed b-b line-lg pull-in"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <label class="i-checks">
                <input type="radio" value="m" ng-model="localState.updateProfileData.sex"><i></i> {{::'profile.gender-m' | translate}} &nbsp;
              </label>
              <label class="i-checks">
                <input type="radio" value="w" ng-model="localState.updateProfileData.sex"><i></i> {{::'profile.gender-f' | translate}}
              </label>
              <span class="requiredField">*</span>
            </div>
          </div>

          <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.firstName' | translate}}<span class="requiredField">*</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.firstName' | translate}}"  ng-model="localState.updateProfileData.firstName" required>
            </div>
          </div>

          <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.lastName' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.lastName' | translate}}" ng-model="localState.updateProfileData.lastName">
            </div>
          </div>
          
          <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">{{::'profile.section.aboutYou' | translate}}<span class="requiredField">*</span></label>-->
            <!--<div class="col-sm-10">-->
              <!--<div class="m-b">-->
                <!--<input type="text" class="form-control" placeholder="{{::'firstName' | translate}}"  ng-model="localState.updateProfileData.firstName" required>-->
              <!--</div>-->
              <!--<div class="m-b">-->
                <!--<input type="text" class="form-control" placeholder="{{::'lastName' | translate}}" ng-model="localState.updateProfileData.lastName" required>-->
              <!--</div>-->
              <!--<div class="m-b">-->
                <!--<label class="i-checks">-->
                  <!--<input type="radio" value="m" ng-model="localState.updateProfileData.sex"><i></i> Mann &nbsp;-->
                <!--</label>-->
                <!--<label class="i-checks">-->
                  <!--<input type="radio" value="w" ng-model="localState.updateProfileData.sex"><i></i> Frau-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="line line-dashed b-b line-lg pull-in"></div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.birthday' | translate}}</label>
            <div class="col-sm-10">
              <!--< class="input-group"  ng-controller="DatepickerCheckinCtrl">-->
                <!--<input type="text" placeholder="{{::'birthday' | translate}}"  class="form-control" datepicker-popup="{{::format}}" ng-model="localState.updateProfileData.birthdayTimeString" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />-->
                              <!--<span class="input-group-btn">-->
                                  <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                              <!--</span>-->
              <!--</div>-->

                <a editable-date="localState.profileBirthday">{{ localState.generatedProfileBirthdayString || 'system.selectDate' | translate }}</a>
                <!--<select class="form-control ng-pristine localState.birthdayDaySelector" ng-model="localState.birthday.day" id="day" ng-options="day as day for day in days" placeholder="Tag"></select>-->
                <!--<select class="form-control ng-pristine localState.birthdayMonthSelector" ng-model="localState.birthday.month" id="month" ng-options="month.id as month.name for month in months" placeholder="Monat"></select>-->
                <!--<select class="form-control ng-pristine localState.birthdayYearSelector" ng-model="localState.birthday.year" id="year" ng-options="year as year for year in years track by year" placeholder="Jahr"></select>-->

              </div>
          </div>
          
          <div class="line line-dashed b-b line-lg pull-in"></div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.language' | translate}}<span class="requiredField">*</span></label>
            <div class="col-sm-10">
              {{usedLanguage}}<div isteven-multi-select  style="margin-left: -15px;" id="selectLanguages" class="col-xs-10" input-model="localState.languages" output-model="localState.updateProfileData.languages" button-label="icon" item-label="icon name" tick-property="ticked" max-labels="5" max-height="250px" search-property="name" output-properties="name" helper-elements="filter"></div>
            </div>
          </div>
          
          <div class="line line-dashed b-b line-lg pull-in"></div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.city' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.city' | translate}}"  ng-model="localState.updateProfileData.city">
            </div>
          </div>
          
          <div class="line line-dashed b-b line-lg pull-in"></div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.originalCity' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.originalCity' | translate}}"  ng-model="localState.updateProfileData.originalCity">
            </div>
          </div>
  
        </div>
      </div>
  
      <!-- #### arbeit --->
  
      <div class="panel panel-default">
        <div class="panel-heading font-bold">
          {{::'profile.section.aboutYourJob' | translate}}
        </div>
  
        <div class="panel-body">
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.jobTitle' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.jobTitle' | translate}}" ng-model="localState.updateProfileData.jobTitle">
              <!--<span class="help-block m-b-none">{{::'profile.jobTitleDescr' | translate}}</span>-->
            </div>
          </div>
  
          <div class="line line-dashed b-b line-lg pull-in"></div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.jobDescriptor' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.jobDescriptor' | translate}}" ng-model="localState.updateProfileData.jobDescriptor">
              <span class="help-block m-b-none">{{::'profile.jobDescriptorDescr' | translate}}</span>
            </div>
          </div>
  
          <div class="line line-dashed b-b line-lg pull-in"></div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.company' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="{{::'profile.company' | translate}}" ng-model="localState.updateProfileData.company">
              <!--<span class="help-block m-b-none">{{::'profile.companyDescr' | translate}}</span>-->
            </div>
          </div>
        </div>
      </div>

      <!-- #### lopgin --->

      <div class="panel panel-default">

        <div class="panel-heading font-bold">
          {{::'profile.section.privateSetting' | translate}}
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.allowHotelNotification' | translate}}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <label class="i-switch m-t-xs m-r">
                  <input type="checkbox" checked="true" ng-model="localState.updateProfileData.allowHotelNotification">
                  <i></i>
                </label>
              </div>
            </div>

          </div>
          <div class="line line-dashed b-b line-lg pull-in" ng-show="localState.updateProfileData.avatarUrl.length>0"></div>

          <div class="form-group" ng-show="hotelState.profileData.avatarUrl.length>0">
            <label class="col-sm-2 control-label">{{::'profile.showAvatar' | translate}}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <label class="i-switch m-t-xs m-r">
                  <input type="checkbox" checked="true" ng-model="localState.updateProfileData.showAvatar">
                  <i></i>
                </label>
              </div>
            </div>

          </div>
          
          <div class="line line-dashed b-b line-lg pull-in"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.showInGuestList' | translate}}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <label class="i-switch m-t-xs m-r">
                  <input type="checkbox" checked="true" ng-model="localState.updateProfileData.showInGuestList">
                  <i></i>
                </label>
              </div>
            </div>

          </div>

        </div>

      </div>
      
      
      <!-- #### lopgin --->
  
      <div class="panel panel-default">
        
        <div class="panel-heading font-bold">
          {{::'profile.section.loginData' | translate}}
        </div>
  
        <div class="panel-body">
  
          <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Email</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="text" class="form-control" placeholder="{{::'email' | translate}}"  ng-model="localState.updateProfileData.email">-->
            <!--</div>-->
          <!--</div>-->
  
          <div class="form-group">
            <label class="col-lg-2 control-label">Email<span class="requiredField">*</span></label>
            <div class="col-lg-10">
              <p class="form-control-static" ng-show="localState.goodEmail">{{localState.updateProfileData.email}}</p>
              <input type="email" class="form-control" placeholder="email"  ng-model="localState.updateProfileData.email" ng-hide="localState.goodEmail">

            </div>
          </div>
  
          <div class="line line-dashed b-b line-lg pull-in"></div>
         
          <div class="form-group">
            <label class="col-sm-2 control-label">{{::'profile.newPasswordLabel' | translate}}</label>
            <div class="col-sm-10">
              <div class="m-b">
                <input type="password" name="password" class="form-control" id="inputPassword" ng-model="localState.updateProfileData.password" placeholder="{{::'profile.password' | translate}}">
              </div>
              <div class="m-b">
                <input type="password" name="password" class="form-control" id="inputConfirmPassword" ng-model="localState.updateProfileData.confirmPassword" placeholder="{{::'profile.confirmPassword' | translate}}">
              </div>
            </div>
          </div>
  
        </div>
        
      </div>

      
      
      
    </div>
  </div>
    
  <div class="container w-xxl w-auto-xs" style="margin-bottom: 50px;">
    <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

    <button type="submit" class="btn btn-lg btn-success btn-block btn-addon" ng-click="submitProfile()"  ng-disabled="!localState.updateProfileData.firstName || !localState.updateProfileData.sex" ><i class="fa fa-pencil-square-o"></i>{{'profile.changeData' | translate }}</button>
  </div>
    
</div>
</div>