.loadSlogan{
    /*font-weight: bold;*/
    color: black;
}

/*orange*/
.text-orange{
    color: #f1592a;
}
.bg-orange {
    /*color: #7793a7;*/
    color: #fff;
    background-color: #f1592a;
}

.bg-orange.lt,
.bg-orange .lt {
    background-color: #263845;
}

.bg-orange.lter,
.bg-orange .lter {
    background-color: #314554;
}

.bg-orange.dk,
.bg-orange .dk {
    background-color: #131e26;
}

.bg-orange.dker,
.bg-orange .dker {
    background-color: #0a1015;
}

.bg-orange.bg,
.bg-orange .bg {
    background-color: #1c2b36;
}

.bg-orange a {
    color: #96abbb;
}

.bg-orange a:hover {
    color: #ffffff;
}

.bg-orange a.list-group-item:hover,
.bg-orange a.list-group-item:focus {
    background-color: inherit;
}

.bg-orange .nav > li:hover > a,
.bg-orange .nav > li:focus > a,
.bg-orange .nav > li.active > a {
    color: #ffffff;
    background-color: #131e26;
}

.bg-orange .nav > li > a {
    color: #869fb1;
}

.bg-orange .nav > li > a:hover,
.bg-orange .nav > li > a:focus {
    background-color: #16232d;
}

.bg-orange .nav .open > a {
    background-color: #131e26;
}

.bg-orange .caret {
    border-top-color: #7793a7;
    border-bottom-color: #7793a7;
}

.bg-orange.navbar .nav > li.active > a {
    color: #ffffff;
    background-color: #131e26;
}

.bg-orange .open > a,
.bg-orange .open > a:hover,
.bg-orange .open > a:focus {
    color: #ffffff;
}

.bg-orange .text-muted {
    color: #5c798f !important;
}

.bg-orange .text-lt {
    color: #c4d0d9 !important;
}

.bg-orange.auto .list-group-item,
.bg-orange .auto .list-group-item {
    background-color: transparent;
    border-color: #131e25 !important;
}

.bg-orange.auto .list-group-item:hover,
.bg-orange .auto .list-group-item:hover,
.bg-orange.auto .list-group-item:focus,
.bg-orange .auto .list-group-item:focus,
.bg-orange.auto .list-group-item:active,
.bg-orange .auto .list-group-item:active,
.bg-orange.auto .list-group-item.active,
.bg-orange .auto .list-group-item.active {
    background-color: #131e26 !important;
}

/* End orange*/

.orange-text{
    color: #f1592a !important;
}

/*orange border*/

.bg-orange-border {
    /*color: #7793a7;*/
    color: #fff;
    background-color: transparent;
    border-color: #f1592a;
    border-style: solid;
    height: 30px;
    padding-top: 5px !important;
    border-radius: 524px;
    border-width: 1px;
}

.bg-orange-border.lt,
.bg-orange-border .lt {
    background-color: #263845;
}

.bg-orange-border.lter,
.bg-orange-border .lter {
    background-color: #314554;
}

.bg-orange-border.dk,
.bg-orange-border .dk {
    background-color: #131e26;
}

.bg-orange-border.dker,
.bg-orange-border .dker {
    background-color: #0a1015;
}

.bg-orange-border.bg,
.bg-orange-border .bg {
    background-color: #1c2b36;
}

.bg-orange-border a {
    color: #96abbb;
}

.bg-orange-border a:hover {
    color: #ffffff;
}

.bg-orange-border a.list-group-item:hover,
.bg-orange-border a.list-group-item:focus {
    background-color: inherit;
}

.bg-orange-border .nav > li:hover > a,
.bg-orange-border .nav > li:focus > a,
.bg-orange-border .nav > li.active > a {
    color: #ffffff;
    background-color: #131e26;
}

.bg-orange-border .nav > li > a {
    color: #869fb1;
}

.bg-orange-border .nav > li > a:hover,
.bg-orange-border .nav > li > a:focus {
    background-color: #16232d;
}

.bg-orange-border .nav .open > a {
    background-color: #131e26;
}

.bg-orange-border .caret {
    border-top-color: #7793a7;
    border-bottom-color: #7793a7;
}

.bg-orange-border.navbar .nav > li.active > a {
    color: #ffffff;
    background-color: #131e26;
}

.bg-orange-border .open > a,
.bg-orange-border .open > a:hover,
.bg-orange-border .open > a:focus {
    color: #ffffff;
}

.bg-orange-border .text-muted {
    color: #5c798f !important;
}

.bg-orange-border .text-lt {
    color: #c4d0d9 !important;
}

.bg-orange-border.auto .list-group-item,
.bg-orange-border .auto .list-group-item {
    background-color: transparent;
    border-color: #131e25 !important;
}

.bg-orange-border.auto .list-group-item:hover,
.bg-orange-border .auto .list-group-item:hover,
.bg-orange-border.auto .list-group-item:focus,
.bg-orange-border .auto .list-group-item:focus,
.bg-orange-border.auto .list-group-item:active,
.bg-orange-border .auto .list-group-item:active,
.bg-orange-border.auto .list-group-item.active,
.bg-orange-border .auto .list-group-item.active {
    background-color: #131e26 !important;
}
.orange {
    background-color: #f1592a;
}

/* End orange border*/
/* orange border */

.btn-orangeBorder {
    color: #f1592a !important;
    background-color: #fcfdfd;
    background-color: #fff;
    border-color: #f1592a;
    border-bottom-color: #f1592a;
    -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.btn-orangeBorder:hover,
.btn-orangeBorder:focus,
.btn-orangeBorder:active,
.btn-orangeBorder.active,
.open .dropdown-toggle.btn-orangeBorder {
    color: #58666e !important;
    background-color: #edf1f2;
    border-color: #f1592a;
    text-shadow: none;
}

.btn-orangeBorder:active,
.btn-orangeBorder.active,
.open .dropdown-toggle.btn-orangeBorder {
    background-image: none;
}

.btn-orangeBorder.disabled,
.btn-orangeBorder[disabled],
fieldset[disabled] .btn-orangeBorder,
.btn-orangeBorder.disabled:hover,
.btn-orangeBorder[disabled]:hover,
fieldset[disabled] .btn-orangeBorder:hover,
.btn-orangeBorder.disabled:focus,
.btn-orangeBorder[disabled]:focus,
fieldset[disabled] .btn-orangeBorder:focus,
.btn-orangeBorder.disabled:active,
.btn-orangeBorder[disabled]:active,
fieldset[disabled] .btn-orangeBorder:active,
.btn-orangeBorder.disabled.active,
.btn-orangeBorder[disabled].active,
fieldset[disabled] .btn-orangeBorder.active {
    background-color: #fcfdfd;
    border-color: #f1592a;
}

.btn-orangeBorder.btn-bg {
    border-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

/* END orange border */
/* btn-orange */

.btn-orange {
    color: #ffffff !important;
    background-color: #f1592a;
    border-color: #f1592a;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    color: #ffffff !important;
    background-color: #f1592a;
    border-color: #f1592a;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #f1592a;
    border-color: #f1592a;
}

/* end btn-orange */

a.bg-offline:hover {
    background-color: #f94641;
}

a.text-offline:hover {
    color: #f94641;
}

.text-offline {
    color: #f94641;
}

.text-offline-lt {
    color: #f94641;
}

.text-offline-lter {
    color: #f94641;
}

.text-offline-dk {
    color: #f94641;
}

.text-offline-dker {
    color: #f94641;
}

.avatar {
    min-height: 40px;
    border-radius: 5px;
}

.avatar img {
    /*border-radius: 500px;*/
    border-radius: 5px;
}

.avatar i.offline {
    background-color: red;
}

.signLinkedIn{
    background-image: url('../../img/linkedIn/signLinkedIn.png');
    background-color: #0077b4;
    border-radius: 2px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

/* ################### bottom menu ###################*/

.bottomIcon{
    font-size: 25px;
    /*font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font-weight: bold;*/
    color: #939393;
    float: left;
    vertical-align: sub;
}
.active .bottomIcon{
    color: #f1592a;
}

.bottomIconLabel{
    font-size: 15px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    min-width: 60px;
}

.bottomMenuItem{
    text-align: center;
    vertical-align: middle;

    /*border-color: lightgray;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-radius: 5px;*/
}

.bottomMenuLink{
    width: 20%;
}

.navIconItem{
    font-size: 19px;

    color: #626262;
}

.active .navIconItem
{
    color: #f1592a !important;
}


.helperContainer .line{
    height: 22px;
}

.helperContainer .line .clearButton{
    display: none;
}

/*#feedBody .helperContainer .line .clearButton{*/
    /*display: inherit;*/
/*}*/

.profileInput{
    width: 300px !important;
}

.profileInputLabel{
    float: left;
    font-weight: bold;
    width: 150px;
    vertical-align: middle;
}

.profileInputContainer{
    white-space: nowrap;
    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    vertical-align: middle;
}

.activityLogoUrl{
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.customerLastSeen{
    /*margin-top: -17px;*/
    position: absolute;
    right: 5px;
    bottom:0;
}


.input-group-btn .btn-default{
    margin-top: 3px;
}
.input-group-btn .btn-orange{
    margin-top: 3px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.requiredField{
    color: red;
    font-weight: bold;
}



.nav-tabs > li{
    font-weight: bold;
}

.btn-primary{
    background-color: #E36C0D;
    border-color: #E36C0D;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff !important;
    background-color: #6254b2;
    border-color: #5a4daa;
    background-color: #E36C0D;
    border-color: #E36C0D;
}


.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    /*background-color: #7266ba;*/
    border-color: #7266ba;

    background-color: grey;
}


#loginForm .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active
{
    background-color: #E36C0D;
    border-color: #E36C0D;
}

.unreadChatMessage{
    font-weight: bold;
}

.unreadMessageTime{
    color: #27c24c;
}

.chatMessageTime{
    position: absolute;
    right: 0px;
    top: 6px;
    z-index: 99;
    background-color: white;
    padding-right: 24px;
    padding-left: 3px;
    font-size: 16px;
    padding-bottom: 2px;
}
.chatMessageArrow{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
    background-color: white;
    padding-right: 10px;
    font-size: 24px;
    padding-bottom: 2px;
    padding-left: 3px;
}
.hotelCustomerJob{
    left: 65px;
    bottom: 14px;
    position: absolute;
}

.hotelCustomerName{
    font-weight: bold;
    position: absolute;
    left: 65px;
}

.unreadMessagesCounter{
    position: absolute;
    right: 25px;
    top: 28px;
}

.chatListCustomerName{
    font-weight: normal;
    position: absolute;
    left: 75px;
    top: 8px;
    white-space: nowrap;
    font-size: 18px;
    color: #444444;
}

.hotelInfoOpacity{
    /*background-color: rgb(28, 43, 54);*/
    /*color: rgb(119, 147, 167);*/
    background-color: rgba(28,43,54,0.9);
    /*opacity: 0.85;*/
    padding: 5px;
    border-radius: 10px;
    /*font-weight: bold;*/
    /*display: flex;*/
    display: inline-block;
}

.chatListCol{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.lastMessageFrom{
    position: absolute;
    top: 31px;
    left: 74px;
    width: 64%;
}
.lastMessageFromText{
    color: #8b8b8b !important;
}

.birthdayDaySelector{
    width: 65px;float: left; margin-right: 3px;
}.birthdayMonthSelector{
     width: 115px;float: left;margin-right: 3px;
 }.birthdayYearSelector{
      width: 82px;float: left;
  }

.hotelHeader{
    background-color: rgb(28, 43, 54);
    color: rgb(119, 147, 167);
    margin-bottom: -40px !important;
    z-index: 999999;
    position: relative;
    opacity: 0.8;
}

.staffMessage, .messageRed{
    /*background-color: #E36C0D;*/
    color: #E36C0D;
    /*color: white;*/
    font-weight: bold;
}

.customerNameElement{
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    /*color: #444444;*/
    color: chocolate !important;
}

.messageTimeElement{
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: white;*/
}


.menuNotificationLeft{
    margin-top: 1px !important;
    font-size: 15px !important;
    font-weight: normal;
}

.customerOnlineStatus{
    margin-right: -12px !important;
}

.hotelStaff{
    border-radius: 10px;
    margin-left: 8px;
    font-size: 9px;
    top: 7px;
    position: absolute;
}

.chatPreviewMessage{
    color: #8b8b8b;
}
.loginWellcomeMsg{
    font-size: 18px;
}

.loginHeaderItems{
    font-size: 20px;
    color: #808080;
    font-size: 18px;
    padding-bottom: 4px;
}

.loginSelectedItem{
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

/*.checkinCodeInput{*/
/*width: 90%;*/
/*height: 150px;*/
/*font-size: 2em;*/
/*display: block;*/
/*margin: 0 auto;*/
/*text-align: center;*/
/*border-radius: 10px;*/
/*outline: 0;*/
/*}*/

.bottomMenuLabel
{
    font-size: 16px;
}

.bottomMenuIcon
{
    height: 25px;
}

.menuIconBottom
{
    margin-left: 5px;
    margin-right: 0px;
}

.menuIconLeft{
    /*font-size: 30px;*/
    /*vertical-align: initial;*/
    vertical-align: sub;
    /*padding-right: 7px;*/
    /*height: 25px;*/
    color: #939393;
    font-size: 30px;
    float: left;
    /* padding-right: 7px; */
    margin-right: 7px;
    width: 50px;
    height: 25px;
    background-repeat: no-repeat !important;
}
.menuLabelLeft{
    /*font-size: 20px;*/
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.iconMe{
    background: url("../img/build/menu/bottom/me-inactive.png");
}
.active .iconMe{
    background: url("../img/build/menu/bottom/me-active.png");
}

.iconHotel{
    background: url("../img/build/menu/bottom/hotel-inactive.png");
}
.active .iconHotel{
    background: url("../img/build/menu/bottom/hotel-active.png");
}

.iconActivity{
    background: url("../img/build/menu/bottom/angebot-inactive.png");
}
.active .iconActivity{
    background: url("../img/build/menu/bottom/angebot-active.png");
}

.iconChat{
    background: url("../img/build/menu/bottom/chat-inactive.png");
}
.active .iconChat{
    background: url("../img/build/menu/bottom/chat-active.png");
}


.iconWall{
    background: url("../img/build/menu/bottom/wall-inactive.png");
}
.active .iconWall{
    background: url("../img/build/menu/bottom/wall-active.png");
}

.iconCheckout{
    background: url("../img/build/menu/bottom/checkout-inactive.png");
}
.active .iconCheckout{
    background: url("../img/build/menu/bottom/checkout-active.png");
}

.active .bottomMenuLabel{
    color: #f1592a;
}

.arrow-left{
    font-size: 35px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
    color:#fff;
}
  
/*.arrow-left:focus{*/
/*color: orangered;*/
/*}*/

.headerAvatar{
    line-height: 50px;
    float: left;
}

.headerTitle{
    float: right;
    line-height: 50px;
    font-weight: bold;
    font-size: 19px;
    color: white;
    float: left;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.bg-white .topRightMenuButton, .bg-white .arrow-left
{
    color: #f1592a;
}

.bg-white .headerTitle{
    color: black   !important;
}

.image-box-shadow{
    -webkit-box-shadow: 0px 2px 6px 0px rgba( 18, 19, 19, 0.25 );
    -moz-box-shadow: 0px 2px 6px 0px rgba( 18, 19, 19, 0.25 );
    box-shadow: 0px 2px 6px 0px rgba( 18, 19, 19, 0.25 );
    /*background-color: rgb( 241, 89, 42 );*/
}

.clickedItem, .clickedItem .bg-dark{
    color: #f1592a !important;
    font-weight: bold;

}

.active .bg-dark{
    color: #f1592a !important;
    /*font-weight: bold;*/
}

.clickedBackArrow{
    background-color: rgba( 18, 19, 19, 0.25 );
}

div.zone-ajax-overlay {
    background-color: #FFFFFF;
    opacity: 0.45;
    /*background-image: url("../img/loading/loader.gif");*/
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
   
    position: absolute;
    top: 0;
    z-index: 100000;
    color: #f1592a;
}

.hotelDescrElt .panel-group{
    margin-bottom: 0;
}

.hotelDescrElt  .panel-default{
    border-radius: 0;
    border-color:  rgba(0,0,0,0);
}

.hotelAccordion {
    width: 150px;
    display: table;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;

}

.menuBottomItem{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
    
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    
    text-align: center;
    text-align: -webkit-center
}

.unvisible{
    visibility: hidden;
}

.i-checks input:checked + i {
    border-color: #f1592a;
}

.i-checks input:checked + i:before {
    background-color: #f1592a;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.1s 0.1s ease;
    opacity: 0;
}

.pushLeft{
    margin-left: -90px !important;
}

.colorUl ul{
    list-style: none;
    padding:0;
    margin:0;
}

/*.colorUl li {*/
/*padding-left: 1em;*/
/*text-indent: -.7em;*/
/*}*/
/*.colorUl li:before {*/
/*content: "� ";*/
/*color: #2c2c2c;*/
/*font-size: 17px;*/
/*font-weight: 900;*/
/*}*/

.localHeader{
    /*font-weight: bold;*/
    font-size: 20px;
    color: #2e74b5;
}

.vipCustomers{
    margin-bottom: 50px;
}

.vipCustomers .panel-body{
    padding: 0;
}

.lastChatMessagesToMe{
    /*width: 150px;*/
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}

.headerAccordion{
    padding-top: 10px;
    padding-bottom: 10px;
}

.vipCustomers .panel-title, .vipCustomers .panel-heading{
    padding-top: 0;
    padding-bottom: 0;
}

/*phone*/
/* weniger ausen-abstand fuer Hotels */

@media (max-width: 767px) {
    div#minPaddingPage.wrapper-md {
        padding: 5px;
    }
}


div#minPaddingPage .panel-body{
    padding: 5px;
}

.b-b-dark {
    border-bottom: 1px solid #dee5e7;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #131e26;
}

.content-marginTop{
    margin-top: 40px;
}

md-tabs md-ink-bar{
    background-color: white;
    color: white;
}

.loginBody md-tabs md-ink-bar, .hotelLoginBody md-tabs md-ink-bar{
    background-color: #f1592a;
    color: #f1592a;
}

.loginBody .md-ripple.md-ripple-visible, .loginBody .md-ripple-container, .hotelLoginBody .md-ripple.md-ripple-visible, .hotelLoginBody .md-ripple-container{
    background-color: transparent !important;    
}

.loginBody .md-stretch-tabs, .hotelLoginBody .md-stretch-tabs{
    border-bottom-color: #dee5e7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

md-tabs .md-tab{
    color: white;
}

.loginBody md-tabs .md-tab, .hotelLoginBody md-tabs .md-tab{
    color: #58666e;
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused{
    color: white;
    font-weight: bold;
    /*text-decoration: underline;*/
}
.loginBody md-tabs .md-tab.md-active, .hotelLoginBody md-tabs .md-tab.md-active{
    color: #f1592a;
}

md-tabs .md-tab[disabled]
{
    color: white;
}

.tabPseudoDisabled{
    color: white;
    opacity: 0.5;
    font-weight: 500;
}

.facebookShare .facebookButton .pluginButton {
    background: #4c69ba;
    background: -moz-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c69ba), color-stop(100%, #3b55a0));
    background: -webkit-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -o-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -ms-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: linear-gradient(to bottom, #4c69ba 0%, #3b55a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c69ba', endColorstr='#3b55a0', GradientType=0);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: auto;
    line-height: 20px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
}

/*div#headerTabDiv{*/
    /*border-width: 0px;*/
    /*border-top-width: 1px;*/
    /*/!* border-width: 0px; *!/*/
    /*/!* border-width: 1px; *!/*/
    /*border-style: solid;*/
/*}*/

.navbar-header > button{
    padding: 10px 17px !important;
}

.md-tab{
    padding: 6px 6px;
}

md-tabs-canvas, md-pagination-wrapper{
    height: 35px;
}

@media (max-width: 767px){
    .off-screen.md-content {
        /*top: 50px !important;*/
        top: 0px !important;
    }
}
.md-navbar {
    min-height: 50px !important;
}

.fullscreenDiv
{
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.45;
}

.centerDiv{
    /*position: absolute;*/
    position: fixed;
    width: 110px;
    /* height: 120px; */
    /* top: 50%; */
    left: 50%;
    margin-left: -110px;
    /* margin-top: -12px; */
    font-size: 50px;
    font-weight: 900;
    color: #f1592a;
    opacity: 1;
    white-space: nowrap;
    bottom: 0;
}

.loadingLogo{
    height: 45px;
    margin-top: -19px;
    margin-right: 7px;
}

div#headerTabDiv[aria-hidden="false"]
{
    display: block !important;
}

.asideHotelStaff{
    border-radius: 10px;
    margin-left: 8px;
    font-size: 9px;
}

div#angulrContent .md-content
{
    overflow: hidden;
}

/*ANIMATIONS START*/

.fade-in-right-big.ng-enter {
    -webkit-animation: fadeInRightBig 0s;
    animation: fadeInRightBig 0s;
}

.fade-in-right-big.ng-leave {
    -webkit-animation: fadeOutLeftBig 0s;
    animation: fadeOutLeftBig 0s;
}

.fade-in-left-big.ng-enter {
    -webkit-animation: fadeInLeftBig 0s;
    animation: fadeInLeftBig 0s;
}

.fade-in-left-big.ng-leave {
    -webkit-animation: fadeOutRightBig 0s;
    animation: fadeOutRightBig 0s;
}

.fade-in-up-big.ng-enter {
    -webkit-animation: fadeInUpBig 0s;
    animation: fadeInUpBig 0s;
}

.fade-in-up-big.ng-leave {
    -webkit-animation: fadeOutUpBig 0s;
    animation: fadeOutUpBig 0s;
}

.fade-in-down-big.ng-enter {
    -webkit-animation: fadeInDownBig 0s;
    animation: fadeInDownBig 0s;
}

.fade-in-down-big.ng-leave {
    -webkit-animation: fadeOutDownBig 0s;
    animation: fadeOutDownBig 0s;
}

.fade-in.ng-enter {
    -webkit-animation: fadeIn 0s;
    animation: fadeIn 0s;
}

.fade-in.ng-leave {
    -webkit-animation: fadeOut 0s;
    animation: fadeOut 0s;
}

.fade-in-right.ng-enter {
    -webkit-animation: fadeInRight 0s;
    animation: fadeInRight 0s;
}

.fade-in-right.ng-leave {
    -webkit-animation: fadeOutLeft 0s;
    animation: fadeOutLeft 0s;
}

.fade-in-left.ng-enter {
    -webkit-animation: fadeInLeft 0s;
    animation: fadeInLeft 0s;
}

.fade-in-left.ng-leave {
    -webkit-animation: fadeOutRight 0s;
    animation: fadeOutRight 0s;
}

.fade-in-up.ng-enter {
    -webkit-animation: fadeInUp 0s;
    animation: fadeInUp 0s;
}

.fade-in-up.ng-leave {
    -webkit-animation: fadeOutUp 0s;
    animation: fadeOutUp 0s;
}

.fade-in-down.ng-enter {
    -webkit-animation: fadeInDown 0s;
    animation: fadeInDown 0s;
}

.fade-in-down.ng-leave {
    -webkit-animation: fadeOutDown 0s;
    animation: fadeOutDown 0s;
}
/*ANIMATIONS END*/

md-backdrop.md-dialog-backdrop{
    /*mdContent is 1050*/
    z-index: 1055;

}

.md-dialog-container{
    /*mdContent is 1050*/
    z-index: 1060;
}

#angulrContent{
    background-color: #f6f8f8;
}

/*.wrapper-md, .bg-light, #angulrContent{*/
    /*/!*background-color: #f6f8f8;*!/*/
    /*background-color: #fff;*/
/*}*/
/*.bg-light.lter, .bg-light .lter{*/
    /*background-color: #fff;*/
/*}*/
/*.panel-default{*/
    /*border-bottom-color: transparent;*/
/*}*/
.bg-dark{
    background: #393e43;
}

.pcContentWidth{
    margin-top: 3px;
    min-width: 800px;
    
}

.contentFullSize {
    width: 100%;
}

.feedBody .multiSelect>button
{
    text-align: left;
}
#languageHeader .multiSelect>button{
    padding: 0;
    min-height: 21px !important;
    white-space: nowrap;
    color: #fff;
    /*border-color: #f1592a ;*/
    border-width: 0;
}


#languageHeader .multiSelect .buttonLabel{
    padding: 0;
    padding-right: 3px;
}

#selectSystemLanguagesFull .helperContainer, #languageHeader  .helperContainer{
    display: none;
}

.nothingFoundMsg{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    
    text-align: center;
}

#languageHeader .caret{
    margin-left: 3px !important;
}

#languageHeader .checkBoxContainer {
    overflow: hidden !important;
}

#languageHeader .checkboxLayer{
    /*right: 10px;*/
    width: 100px;
    min-width: 100px;
    height: 85px;
}

@media (max-width: 767px) {
    #languageHeader .checkboxLayer{
        right: 10px;
    }
}

 
#languageHeader .caret{
    border-top-color: #fff;
}

#languageHeader .buttonLabel {
    font-size: 15px;
    font-weight: 700;
}
.bg-orange #languageHeader .buttonLabel {
    background-color: #f1592a;
}
.bg-black #languageHeader .buttonLabel {
    background-color: #1c2b36;
}
.hotelicoHeader{
    font-size: 25px; 
    color: #8b8b8b;
}

/*chat arrow*/
.arrow.right.arrow-light:after {
    border-left-color: #f6f8f8;
}
.arrow.bottom.arrow-light:after {
    border-top-color: #f6f8f8;
}

#textAngular-editableFix-010203040506070809{
    visibility: hidden;
}

@media (min-width: 800px) {
    #app-aside-div {
        z-index: 100;
        border-bottom-left-radius: 5px;
    }

    #topHeaderElt, #angulrContent {
        border-radius: 5px;
    }
    
    #mdContent{
        /*border-bottom-right-radius: 5px;*/
        border-radius: 5px;
        border-bottom-left-radius: 0px;

    }
}

.modal.center .modal-dialog{
    position:absolute !important;
    top:40%;left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
} 


.hiddenContent{
    visibility: hidden;
}

.hotelCitySelectInfo{
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: green;
}

.hotelCityBlockWrapper{
    width: 90%;
}

/*#checkinBody .hotelCityBlockWrapper{*/
    /*width: 100%;*/
/*}*/

#loadingElt{
    z-index: 1051;
}

.senderChatMessage{
    background-color: aliceblue;
    border-radius: 5px;
    color: #000;
    border-color: aliceblue;
}
.arrow.right.arrow-light:after{
    border-left-color: #dcf8c6;
}
.receiverChatMessage{
    background-color: #dcf8c6;
    border-radius: 5px;
    color: #000;
    border-color: #dcf8c6;
}

.arrow.left:after{
    border-right-color: aliceblue !important;
}


.wall .arrow.left:after{
    border-right-color: beige !important;
}


.myFlex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.mySpaceBetween{
    -webkit-justify-content: space-between; 
    -moz-justify-content: space-between; 
    -ms-justify-content: space-beetwen;
    justify-content: space-between;
}

.myBorder{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-color: lightgray;
    border-radius: 2px;
}

.myCenter{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

.leftMessage{
    margin-right: 45px;

}

.rightMessage{
    margin-left: 45px;

}

/*.md-dialog-container .md-button:not([disabled]):hover, .md-dialog-container .md-button.md-primary, .md-dialog-container a.md-button.md-primary{*/
    /*color: #f1592a !important;*/
/*}*/

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis'); 
}

/*only firefox!!!*/
@-moz-document url-prefix() {
    
    .myEllipsis {
        width: 340px;
    }

    .myEllipsis span {

        white-space:nowrap;

        text-overflow:ellipsis; /* for internet explorer */

        overflow:hidden;

        width:340px;
        display:block;

    }

    html>body .myEllipsis {

        clear:both;

    }

    html>body .myEllipsis span:after {

        content: "...";

    }

    html>body .myEllipsis span {

        max-width:330px;

        width:auto !important;

        float:left;

    }
}

.notDisplay{
    display: none;
}

.md-button.md-default-theme.md-primary {
    color: #f1592a;
    fill: #f1592a;
}

.facebookCount{
    display: none !important;
}

/*#checkinBody .hotelCitySelectInfo{*/
    /*margin-top: -22px;*/
    /*margin-left: -10px;*/
/*}*/
div.rn-carousel-indicator span{
    color:#888;cursor:pointer
}

div.rn-carousel-indicator span.active{
    color:#f1592a
}


/* ### slides DEMO START ### */

.carousel-bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    width: auto;
    height:344px;
    margin: 0 auto;
}
.loginBody ul[rn-carousel] {
    height:339px;
}

@media (max-width: 767px){
    ul[rn-carousel] {
        width: auto;
        height:275px;
        margin: 0 auto;
    }

    .loginBody ul[rn-carousel] {
        /*height:270px;*/
        height: 178px;
        width: 200px;
    }

    #scrollingSuperElt{
      background-color: #f6f8f8;
    } 
}

/* Iphone 4 Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-height: 500px)
and (-webkit-min-device-pixel-ratio: 2) {
    .checkinBody ul[rn-carousel]{
        /*height:270px;*/
        height: 150px;
        /*width: 180px;*/
    }
}



ul[rn-carousel]>li{
    padding-top: 55px;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:5px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
    width:100%;
    height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
    width:100%;
    height:100%;
}

.carousel-top-label{
    font-size: 20px; 
    text-align: center; 
    position: absolute; 
    height: 55px; 
    margin-top: -55px; 
    width: 100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
    margin-left:100px;
}

.custom-indicator span {
    transition: all 0.3s ease-in;
}
.custom-indicator span.active {
    color:yellow !important;
}

/* ### slides DEMO END ### */

#checkinPanel {
    width: 80%;
}
@media (max-width: 767px){
    #checkinPanel {
        width: 100%;
    }
}

#checkinBody .hotelCitySelectInfo{
    display: none;
}

#checkinBody .panel .accordion-toggle {
    display: flex;
}

#checkinBody .panel-collapse{
    height: 0px !important;
}

#checkinBody  .panel{
    margin-bottom: 12px;
}

#checkinBody  #hotelCity, #checkinBody  #hotelListByCitySelector{
    font-weight: bolder;
    /*background-color: rgb(69, 155, 231);*/
    color: white;
}

.btn-vsm{
    font-size: 11px;
    padding: 3px;
    font-weight: bold;
    border-radius: 4px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
    min-height: 170px;
}

.tabBadge{
    margin-left: 2px;
    margin-top: -3px;
    /*font-size: 11px;*/
    color: #16232d;
}

@media (max-width: 767px){
    .tabBadge {
        color: #f1592a;
    }
}

.countdown_deal{
    color: red;
    font-size: 14px;
}

#chatContent .vbox, #wallContent .vbox{
    min-height: auto;
}

#chatContent blockquote, #wallContent blockquote{
    padding: 3px 8px;
    margin: 0 0 5px;
}

.subMenu{
    margin-left: 22px;
}

.subMenuLabel{
    color: #869fb1;
}

md-backdrop, md-dialog-container
{
    position: fixed;
}


.menu-bottom-sum {
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.menu-add-button:before {
    content: '+';
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 22px;
    border-left: 1px solid #ddd;
    padding: 0 0 0 6px;
    line-height: 1;
}

.status-ACCEPTED, .status-EXECUTED{
    color: green;
    text-transform: capitalize;
}

.status-REJECTED, .status-CLOSED{
    color: red;
    text-transform: capitalize;

}
.lastMinuteDeal{
    font-size: 16px;
}

.leftMenuIcon{
    font-size: 30px;
    margin-left: 5px !important;
    margin-right: 11px !important;
}

.img-activity{
    max-height: 300px;
}

#hotelMenuItems .table>tbody>tr>td{
    padding: 0 !important;
}

.menu-euro{
    white-space: nowrap;
    box-sizing: border-box;
}

.menu-price{
    background-color : rgb(80, 174, 204);
    background-position: -50px 50%;
    border-radius: 3px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    line-height: 33px;
    margin: 0px;
   
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    /*width: 50px;*/
    user-select: none;
    -webkit-user-select: none;
}

.menu-declaimer{
    font-size: 11px;
    text-align: left;
    line-height: 1.5;
    padding: 20px;
    display: block;
}

.ulHorizontal {
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
}

.ulHorizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*color: #1c2b36;*/
    color: #58666e;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;

    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
}

.ulHorizontal li {
    float: left;
}

.ulHorizontal li.active {
    text-decoration: underline;
    font-weight: bolder;
}

.ulHorizontal li a {
    display: block;
    /*color: white;*/
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
.ulHorizontal li a:hover {
    /*background-color: #111;*/
    color: #5c798f !important;
}

.diffuseText{
    color:transparent;
    text-shadow:0 0 7px #000;
    transition:all 0.3s ease;
}

.menuPriceItem{
     margin-left  :  15px;
    margin-right: 5px;
    padding-bottom: 10px;
    border-bottom-color: lightblue;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.menuDelimiter{
    margin-bottom: 0;
    margin-top: 20px;
    margin-right: 5px;
}

.bottom-menu-sum{
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 100;
}

.bottom-menu-sum-content{
    line-height: 40px;
    text-align: left;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
}

.bottom-menu-sum-transparent{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    line-height: 40px;
    font-size: 24px;
    text-align: left;
    color: #fff;
    background: rgba(0,0,0,.8);
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear;
    transition: background .5s linear;
}

.menuItemAmountcount{
    font-size: 25px;
    width: 30px;
    min-width: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    height: 37px;
    padding: 0;
    vertical-align: middle;
    font-weight: bold;
}

.selectedMenuItem{
    background-color: #BCCFB2;
}

.checkinBody .selectWrapper{
    width: 100%;
    background: url(../img/build/menu/selectArrow.png) no-repeat right #459be7;   
}

.checkinBody .selectWrapper option{
    background: transparent;
    color: #000;
    font-weight: bolder;
}

.checkinBody .selectWrapper select{
    background: transparent;
    -webkit-appearance: none;
}

.myBoxSizing{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.chat_left_content{
    background-color:aliceblue;
    margin-left: 10px;
}
.chat_right_content{
    background-color:#dcf8c6;
    margin-right: 10px;
}

div.rn-carousel-indicator span
{
    font-size: 25px;
}

.activityDescrElt .panel-heading {
    padding: 0;
    background-color: transparent;
}

.activityDescrElt .pluginButton
{
    height: 23px;
    border-radius: 4px;
}

.activityDescrElt .facebookShare 
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.activityDescrElt .facebookShare .facebookButton
{
    width: 100px;
}

/*.activityBlock .facebookShare*/
/*{*/
    /*height: auto;*/
/*}*/

.rubber_stamp {
    font-family: 'Vollkorn', serif;
    font-size: 39px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    border: 7px solid red;
    float: left;
    padding: 10px 7px;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    position: absolute;
    top: 32%;
    text-align: center;
}

.rubber_stamp::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: auto;
    min-height: 100%;
    top: -10px;
    left: -10px;
    padding: 10px;
    background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
}

.btn-deal{
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 23px;
}

.lastMinuteBorder
{
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

md-input-container{
    padding: 0;
}

.subTab{
    color: #fff;
    border-radius: 5px;
	font-size: 11px;
}

.subTab.active .label{
    background-color: #f1592a;
}
