<li class="list-group-item chatListCol">
    <a href ui-sref="app.chat({receiverId: nextCustomer.id})">
        <div ng-click="clickLoading(null, null, '#/app/chat/'+nextCustomer.id)" style="cursor: pointer;">
            <a href ui-sref="app.user({userId: nextCustomer.id})" class="avatar thumb-sm m-r">
                <!--<img src="{{getProfileImageUrl(nextCustomer.id)}}" class="r r-2x">-->
                <img ng-src="{{nextCustomer.avatarUrl}}" class="r r-2x">
                <i class="on md b-white right customerOnlineStatus" ng-show="hotelNotification.notificationObj.hotelOnlineGuestIds[nextCustomer.id]"></i>
                <i class="offline md b-white right customerOnlineStatus" ng-hide="hotelNotification.notificationObj.hotelOnlineGuestIds[nextCustomer.id]"></i>
            </a>
            <a ui-sref="app.chat({receiverId: nextCustomer.id})" ng-class="hotelNotification.notificationObj.unreadChatProSenderCount[nextCustomer.id]? ' unreadMessageTime text-muted chatMessageTime': 'text-muted chatMessageTime' ">
                {{hotelNotification.notificationObj.lastMessageTimesToMe[nextCustomer.id]}}
            </a>
            <a ui-sref="app.chat({receiverId: nextCustomer.id})" ng-class="hotelNotification.notificationObj.unreadChatProSenderCount[nextCustomer.id]? ' unreadMessageTime text-muted chatMessageArrow': 'text-muted chatMessageArrow' " ui-toggle-class="show">
                <i class="fa fa-angle-right"></i>
            </a>
            <a ui-sref="app.chat({receiverId: nextCustomer.id})" class="text-muted unreadMessagesCounter" ui-toggle-class="show">
                                             <span style="margin-left: 4px;" class="badge bg-success" ng-show="hotelNotification.notificationObj.unreadChatProSenderCount[nextCustomer.id]">
                                              +{{hotelNotification.notificationObj.unreadChatProSenderCount[nextCustomer.id]}}
                                            </span>
            </a>

            <div class="chatUserInfo">
                <small class="text-muted clear text-ellipsis lastMessageFrom">
                    <!-- eugen: ng-class="unreadChatProSenderCount[nextCustomer.id]? 'unreadChatMessage':''" -->
                    <a ui-sref="app.chat({receiverId: nextCustomer.id})">

                        <a ng-show="nextCustomer.hotelName && nextCustomer.city" class="text-ellipsis lastChatMessagesToMe" style="text-decoration: underline; padding-top: 5px; padding-bottom: 5px;" ui-sref="app.hotelList({filterCity: nextCustomer.hotelCity, filterHotelId: nextCustomer.hotelId})">{{nextCustomer.hotelCity}}, {{nextCustomer.hotelName}}</a>
                        <span ng-hide="nextCustomer.hotelName" class="text-ellipsis lastChatMessagesToMe">{{nextCustomer.city}}</span>
                        <!--{{hotelNotification.notificationObjlastMessagesToMe[nextCustomer.id]}}-->
                    </a>
                </small>

                <a href ui-sref="app.chat({receiverId: nextCustomer.id})" class="chatListCustomerName">
                    {{nextCustomer.firstName}} {{nextCustomer.lastName}}
                    <span class="label bg-orange inline hotelStaff" ng-show="nextCustomer.hotelStaff" style="margin-left: 3px;">{{::'system.hotelStaff' | translate}}</span>

                    <div class="inline chatUserLanguages" ng-hide="!nextCustomer.languages || nextCustomer.hotelStaff">
                        <!--<div class="col-xs-6">-->
                                                        <span ng-repeat="nextLanguage in nextCustomer.languages">
                                                            <img class="language-flag" src="angulr/icons/flags/{{nextLanguage}}.png"
                                                                 alt="{{nextLanguage}}"/>
                                                        </span>
                        <!--</div>-->
                    </div>
                </a>
            </div>

        </div>
    </a>
</li>