<!--//TODO Problems: visualization Problems-->
<!--//TODO: if no hotelCode: chat flag, wall hide names -->

<!--&lt;!&ndash;### START HotelCode &ndash;&gt;-->
<!--<div class="myCenter" style="border-width: 1px;-->
    <!--border-style: solid;-->
    <!--border-radius: 5px;-->
    <!--padding: 5px;-->
    <!--margin-bottom: 10px;-->
    <!--border-color: lightgray;" ng-if="hotelState.profileData.logged && !hotelState.profileData.fullCheckin">-->

    <!--<span style="margin-right: 10px;margin-top: 3px;font-weight: bolder; ">Your hotel checkin is limited:</span>-->

    <!--<button ng-click="openModal('checkin')"  class="btn btn-orange" style="padding: 2px;height: 25px;">Input HotelCode</button>-->

    <!--<i style="margin-top: -4px; padding-left: 8px; padding-right: 5px; /*position: absolute;*/" class="fa fa-info-circle navIconItem hotelCitySelectInfo" ng-click="openHotelCodePopup()"></i>-->

<!--</div>-->
<!--&lt;!&ndash;### END HotelCode&ndash;&gt;-->