<div class="myFlex mySpaceBetween" ng-class="{'menuPriceItem' : !showMenuItem.delimiter, 'menuDelimiter' : showMenuItem.delimiter}">
    <div class="v-middle" ng-if="hotelState.isHotelStaffOrAdmin" style="width: 25px; padding: 0; text-align: center;">
        <!-- editable username (text with validation) -->
        <i class="fa fa-bars"></i>
        <div class="menuItem_{{showMenuItem.id}}_index menuItem_index hidden">
            {{ showMenuItem.orderIndex }}
        </div>
    </div>
    <div ng-show="showMenuItem.amount>0" style="margin-right: 3px;white-space: nowrap;">
        <span><b>{{showMenuItem.amount}}</b>&nbsp;x&nbsp;</span>
    </div>
    <div class="v-middle" layout="column" style="flex-grow: 1;flex-shrink: 1;" ng-style="showMenuItem.delimiter && {'font-size': '17px'} || isSmartDevice && {'flex-basis' : localState.menuDescrWidth}">
        <!-- editable username (text with validation) -->
        <a href="#" editable-text="showMenuItem.title" e-name="title" e-form="rowform" onbeforesave="checkName($data, showMenuItem)" e-placeholder="Name" e-required>
            <b>{{ showMenuItem.title || 'empty' }}</b>
        </a>        
        <a href="#" editable-text="showMenuItem.shortDescription" e-name="shortDescription" e-form="rowform" onbeforesave="checkDescription($data, showMenuItem)" e-placeholder="Description" e-required>
            {{ showMenuItem.shortDescription || '&nbsp;' }}
        </a>
    </div>
    <div class="v-middle" style="width: 65px; padding: 2px; text-align: right;" ng-style="showMenuItem.delimiter && {'visibility':'hidden'}">
        <!-- editable status (select-local) -->
        <a class="menu-price" href="#" editable-text="showMenuItem.price" e-name="price" e-form="rowform" onbeforesave="checkPrice($data, showMenuItem)" e-placeholder="Price" e-required ng-style="showMenuItem.delimiter && {'visibility':'hidden'}">
            {{ showMenuItem.price | currency:"":2}} <i class="fa fa-eur menu-euro"></i>
        </a>
    </div>
    <div class="v-middle" style="width: 45px;padding: 0;text-align: right; padding-top: 5px;" ng-show="hotelState.isHotelStaffOrAdmin" >
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveMenuItem($data, showMenuItem)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == showMenuItem">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info" style="width: 50px; margin-right: 2px;">
                save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default" style="margin-top: 2px;width: 50px;margin-right: 2px;">
                cancel
                <!--<i class="fa fa-times"></i>-->
            </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-sm btn-info" ng-click="rowform.$show()" style="width: 40px;margin-right: 2px;">edit</button>
            <button class="btn btn-sm btn-danger" ng-click="removeMenuItem(showMenuItem)" style="margin-top: 2px;width: 40px;margin-right: 2px;">del</button>
        </div>
    </div>
</div>