<div class="modal-body wrapper-lg" stop-event="touchend" ng-controller="CheckInController" ng-init="unlockModal();">
  
  <a ng-click="cancel()" style="position: absolute; top:0; right:5px;"><i class="fa fa-times"/></a>
  
  <div class="row">
    <div class="col-sm-6 b-r">
      <!--<div style="display: flex;  display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;justify-content: center; text-align: center;">-->
        <!--{{:: 'page.checkin.youNeedLogin'| translate}}:-->
      <!--</div>-->

      <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

      <div   >

          <!--START HOTELCODE-->

          <div id="checkinCode" ng-class="{'unvisible': localState.selectedFilterHotel}" class="myCenter">
           
              <div style="margin-bottom: 25px;width: 90%;">
                  <input stop-event="touchend" ng-change="onHotelCodeInput();" autocomplete="off" ng-focus="hideFocus('none');localState.hotelcodeFocus=true; " ng-blur="hideFocus('flex');localState.hotelcodeFocus=false" type="text" class="focusModal form-control" ng-model="localState.selectedHotelCode" id="hotelCode" placeholder="{{'page.checkin.hotelCode' | translate}}" style="height: 80px;font-size: 2em;display: block;margin: 0 auto;text-align: center;border-radius: 10px;outline: 0;">
                  <div>
                     {{'page.checkin.askReception' | translate}}
                  </div>
                  <!--<button style="margin-top: 15px;" ng-click="onCheckinSubmit()" ng-disabled="localState.disableCheckin" class="btn btn-lg btn-block btn-orange" >{{localState.selectedFilterHotel.name}} {{'page.checkin.doCheckIn' | translate }}</button>-->
                  
                  <div class="myCenter">
                      <div class="text-center bg-light lt b-t" ng-show="(localState.selectedFilterHotel || localState.selectedHotelCode || localState.hotelcodeFocus)" style="width: 100%; margin-top: 10px;">
                          <button ng-click="onHotelCodeSubmit()" ng-disabled="localState.disableCheckin || mainState.disableCheckin" class="btn btn-lg btn-block btn-orange hiddenContent">{{localState.selectedFilterHotel.name}} {{'page.checkin.doCheckIn' | translate }}</button>
                      </div>
                  </div>
                  
              </div>
    
              <!--<i style="margin-top: -4px;-->
              <!--padding-left: 8px;-->
              <!--padding-right: 5px;-->
              <!--position: absolute;" class="fa fa-info-circle navIconItem hotelCitySelectInfo" ng-click="openHotelCodePopup()"></i>-->

          </div>

         
         


          <!-- END HOTELCODE -->

      </div>
      
      <!-- END 3 CONTENT DIV --->
      
    </div>
      
    <div class="b-r">
        TEXT......
    </div>  
    
  </div>
</div>