<div class="modal-body wrapper-lg loginBody" stop-event="touchend" ng-controller="LoginController"
     ng-init="initLogin();unlockModal();">
  
  <a ng-click="cancel()" style="position: absolute; top:0; right:5px;"><i class="fa fa-times"/></a>
  
  <div class="row">
    <div class="col-sm-6 b-r">

 
      <div ng-if="::!isSmartDevice" class="myCenter text-orange" data-ng-include=" 'angulr/tpl/hotel/blocks/showCarousel.html' "/>

      <div ng-if="::isSmartDevice" class="myCenter" style="text-align: center; font-weight: bold; margin-bottom: 10px;">{{'slide.'+showTopic + 1 | translate}}: </div>
      
      
      <!-- END 3 CONTENT DIV --->
      
    </div>
    <div class="col-sm-6" ng-style="!isSmartDevice && {'margin-top' : '5px'}">

      <!--<div ng-show="::isSmartDevice" class="line b-b line-lg pull-in" style="width: auto;"></div>-->
      
      <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />
      
      
      <!--<div class="wrapper text-center loginHeaderItems" style="padding-left: 0; padding-right: 0;">-->
      <!--<a href="" ng-click="setLoginTabState('guest')" ng-class="{'label bg-orange inline loginSelectedItem': loginTabState.guest}">{{ 'page.login.guestTitle' | translate}}</a>-->
      <!--<span style="padding: 5px;">|</span>-->
      <!--<a href="" ng-click="setLoginTabState('login')" ng-class="{'label bg-orange inline loginSelectedItem': loginTabState.login}">{{ 'page.login.loginTitle' | translate}}</a>-->
      <!--<span style="padding: 5px;">|</span>-->
      <!--<a href="" ng-click="setLoginTabState('signup')" ng-class="{'label bg-orange inline loginSelectedItem': loginTabState.signup}">{{ 'page.login.signupTitle' | translate}}</a>-->
      <!--</div>-->



      <div class="panel panel-default" style="margin-top: 10px;margin-bottom: 10px;">

        <md-content>
          <md-tabs md-stretch-tabs="always" md-selected="loginTabIndex">

            <md-tab label="{{ 'page.login.guestTitle' | translate}}" id="loginTab0" class="" aria-controls="loginTab0-content" >
              <md-content class="md-padding">

                <!-- START GUEST LOGIN (1) -->
                <!--ng-show="loginTabState.guest"-->
                <div  class="" style="margin-top: 6px;">

                  <form role="form" name="loginGuestForm" id="loginGuestForm" class="form-validation" ng-submit="guestRegister();">

                    <div class="list-group list-group-sm">
                      <div class="list-group-item text-center" style="height: 52px;padding: 0;margin: 0">
                        <div style="width: 250px;display: table;margin: 0 auto;padding-top: 7px;">
                          <div style="width: 100px; float: left;">
                            <input stop-event="touchend" type="text" placeholder="{{' profile.firstName' | translate}}" class="focusModal form-control no-border" ng-model="localState.guestUser.firstName" ng-focus="scrollModalDown();" required>
                          </div>
                          <div style="float: left; margin-top: 7px; margin-left: 10px;">
                            <label class="i-checks">
                              <!--ng-required="!localState.guestUser.sex"-->
                              <input type="radio" value="m" ng-model="localState.guestUser.sex" ><i></i> {{ 'profile.gender-m' | translate}} &nbsp;
                            </label>
                            <label class="i-checks">
                              <input type="radio" value="w" ng-model="localState.guestUser.sex" ><i></i> {{ 'profile.gender-f' | translate}}
                            </label>
                          </div>
                        </div>

                      </div>

                      <button type="submit" class="btn btn-sm btn-orange btn-social btn-block" style="text-align: center; padding:6px; padding-left: 0; font-size: 14px;">{{' page.login.guestRegister'
                        | translate }}</button>
                    </div>

                    <!--<hr>-->

                    <!--<div style="text-align: justify;" class="text-center">-->
                    <!--{{' page.login.guestMsg' | translate }}-->
                    <!--<br/>-->
                    <!--{{' page.login.guestMsg2' | translate }}-->
                    <!--</div>-->

                  </form>

                </div>

                <!-- END GUEST LOGIN -->

              </md-content>
            </md-tab>

            <md-tab label="{{ 'page.login.loginTitle' | translate}}" id="loginTab1" aria-controls="loginTab1-content" >
              <md-content class="md-padding">

                <!-- START LOGIN (2) -->
                <!--ng-show="loginTabState.login"-->
                <div class="" >
                  <!-- TODO Eugen: create Form hier!!! autofill-->
                  <form role="form" name="hotelicoLoginForm"  autocomplete="on" class="form-validation" ng-submit="loginPassword()">

                    <div class="list-group list-group-sm" >
                      <div class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;">
                        <input stop-event="touchend" type="email" id="hotelicoLoginMail" name="hotelicoLoginMail" placeholder="{{' profile.email' | translate}}" class="focusModal form-control no-border" ng-model="localState.checkUser.email" ng-focus="scrollModalDown();" required autocomplete="on">
                      </div>
                      <div class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;">
                        <input stop-event="touchend" type="password" id="hotelicoLoginPassword" name="hotelicoLoginPassword" placeholder="{{' profile.password' | translate}}" class="focusModal form-control no-border" ng-model="localState.checkUser.password" ng-focus="scrollModalDown();" required autocomplete="on">
                      </div>
                      <button type="submit" class="btn btn-sm btn-orange btn-block" style="padding: 6px; font-size: 14px;">{{' page.login.doLogin'
                        | translate }}</button>
                    </div>
                  </form>

                  <div class="text-center m-t m-b"><a ui-sref="app.forgotpwd">Forgot password?</a></div>

                </div>
                <!-- END LOGIN DIV -->

              </md-content>
            </md-tab>
              
            <md-tab label="{{ 'page.login.signupTitle' | translate}}" id="loginTab2" aria-controls="loginTab2-content" >
              <md-content class="md-padding">

                <!-- START REGISTER (3) -->
                <!--ng-show="loginTabState.signup"-->
                <div class="panel-body"  >

                  <a ng-click="ok('app.register')" class="btn btn-sm btn-orange btn-block" style="padding: 6px; font-size: 14px;">{{' page.login.goToSignUp' | translate}}</a>

                </div>

                <!-- END REGISTER -->

              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>

      </div>

      <div data-ng-include=" 'angulr/tpl/hotel/blocks/socialLogin.html' " />


      <!--&lt;!&ndash;<h4>Not a member?</h4>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>You can create an account <a href class="text-info">here</a></p>&ndash;&gt;-->
      <!-- -->
      <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/socialLogin.html' " />-->
    </div>
  </div>
</div>