<!--//TODO Problems: visualization Problems-->
<!--//TODO: if no hotelCode: chat flag, wall hide names -->

<!--### START HotelCode -->
<div layout="column" class="myBorder" style="margin-bottom: 10px; border-radius: 5px; background-color: #fff;" ng-if="!hotelState.profileData.logged || isChromeDevice && !hotelService.chromePushRegistrationId && hotelService.noPushIdRegistered">

    <div ng-if="!hotelState.profileData.logged" class="myFlex mySpaceBetween myBoxSizing">
        
        <span style="margin-right: 10px;margin-top: 3px;font-weight: bolder; "><i class="fa fa-exclamation-triangle"></i> Not logged: you have a limited view and nobody can see you in a hotel:</span>

        <div style="display: table;min-width:45px;" ng-style="::isSmartDevice && {'margin-top': '5px'}">
            <button ng-click="openModal('login')"  class="btn btn-orange" style="padding: 2px;height: 25px;vertical-align:middle;display: table-cell;">Login</button>
        </div>

    </div>
  

    <div ng-if="isChromeDevice && !hotelService.chromePushRegistrationId && !hotelState.profileData.hideChromePushPopup && hotelService.noPushIdRegistered" class="myFlex mySpaceBetween" style="margin-top: 1px;">

        <span style="margin-right: 10px;margin-top: 3px;font-weight: bolder; "><i class="fa fa-exclamation-triangle"></i> You don't get Chrome Notifications:</span> 

        <button ng-click="mainPushRequest()"  class="btn btn-orange" style="padding: 2px;height: 25px;">Activate</button>

    </div>
    
</div>
<!--### END HotelCode-->