<!--&lt;!&ndash;//TODO Problems: visualization Problems&ndash;&gt;-->
<!--&lt;!&ndash;//TODO: if no hotelCode: chat flag, wall hide names &ndash;&gt;-->

<!--&lt;!&ndash;### START HotelCode &ndash;&gt;-->
<!--<div class="myCenter" style="border-width: 1px;-->
    <!--border-style: solid;-->
    <!--border-radius: 5px;-->
    <!--padding: 5px;-->
    <!--margin-bottom: 10px;-->
    <!--border-color: lightgray;" ng-if="isChromeDevice && !hotelService.chromePushRegistrationId && !$scope.hotelState.profileData.hideChromePushPopup">-->

    <!--<span style="margin-right: 10px;margin-top: 3px;font-weight: bolder; "><i class="fa fa-exclamation-triangle"></i> Do you want a push notifications?</span>-->

    <!--<button ng-click="mainPushRequest()"  class="btn btn-orange" style="padding: 2px;height: 25px;">Activate Push</button>-->
    <!-- -->
    <!--&lt;!&ndash;<button ng-click="mainPushRequest('noMore')"  class="btn btn-orange" style="padding: 2px;height: 25px;">Request Push</button>&ndash;&gt;-->

    <!--&lt;!&ndash;<i style="margin-top: -4px; padding-left: 8px; padding-right: 5px; /*position: absolute;*/" class="fa fa-info-circle navIconItem hotelCitySelectInfo" ng-click="openHotelCodePopup()"></i>&ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash;### END HotelCode&ndash;&gt;-->