<!-- START HOTEL DESCR --->
<div class="panel b-a panel-default image-box-shadow" ng-show="showHotel.id>0 || showHotel.id<0">

    <div ng-if="localState.showHotelBlockFullInfo">
        
        <div ng-if="showHotel.rating>0" class="bottom text-white" style="padding: 5px;text-align: right;margin-bottom: -25px;height: 25px;z-index: 9;position: relative;" >
            <!--ng-show="!localState.selectedFilterHotel"-->
            <div class="hotelInfoOpacity">
                <div class="top text-right padder w-full text-orange">
                    <rating ng-model="showHotel.rating" readonly="true" max="5"></rating>
                </div>
            </div>
        </div>

        <div style="margin-top: -1px;">

            <div class="item m-l-n-xxs m-r-n-xxs" ng-click="onHotelCheckinClick(showHotel.id)">
                <img ng-src="{{showHotel.pictureUrl}}" ng-show="showHotel.pictureUrl" class="img-full">
            </div>

        </div>
        
    </div>
    

    <div class="myFlex" style="justify-content: space-between; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content:space-between; margin: 5px; font-size: 26px;">
        <span class="text-lt" style="font-weight: bold;" ng-click="onHotelCheckinClick(showHotel.id)">{{showHotel.name}}</span>
        <!--<a class="text-lt" style="font-weight: bold;" ui-sref="app.activityList({filterCity: showHotel.city, filterHotelId: showHotel.id})" ng-show="!localState.hotelBlockInternActivities && showHotel.activityNumber>0">{{showHotel.activityNumber}}<img style="margin-top: -5px; margin-right: 5px;" src="angulr/img/build/menu/bottom/angebot-active.png" /></a>-->
        <!--<a class="text-lt" style="font-weight: bold;" ng-click="scrollTo('activitiesAnchor')" ng-show="localState.hotelBlockInternActivities && showHotel.activityNumber>0">{{showHotel.activityNumber}}<img style="margin-top: -5px; margin-right: 5px;" src="angulr/img/build/menu/bottom/angebot-active.png" /></a>-->
    </div>

    <div class="text-orange"style="margin-left:5px; font-size: 20px;font-size: 17px;margin-top: -4px;">
        <a class="text-lt" style="text-decoration: underline;" ui-sref="app.activityList({filterCity: showHotel.city, filterHotelId: showHotel.id})" ng-show="!localState.hotelBlockInternActivities && showHotel.activityNumber>0">{{showHotel.activityNumber}}
            <!--<img style="margin-top: -5px; margin-right: 5px;" src="angulr/img/build/menu/bottom/angebot-active.png" />-->
            <span ng-show="showHotel.activityNumber==1">{{'system.activity' | translate}}</span>
            <span ng-show="showHotel.activityNumber>1">{{'system.activities' | translate}}</span>
        </a>
                    <span ng-show="!localState.hotelBlockInternActivities && showHotel.activityNumber>0 && !localState.hotelBlockInternGuests && showHotel.customerNumber>0">
                        , 
                    </span>
        <a class="text-lt" style="text-decoration: underline;" ng-click="clickLoading('app.chatList', null, null, {hotelScope: hotelState.profileData.checkedIn && app.header.tabIndex==1, filterCity: showHotel.city, filterHotelId: showHotel.id})" ng-show="!localState.hotelBlockInternGuests && showHotel.customerNumber>0">{{showHotel.customerNumber}}
            <!--<img style="margin-top: -5px; margin-right: 5px;" src="angulr/img/build/menu/bottom/angebot-active.png" />-->
            <span ng-show="showHotel.customerNumber==1">{{'system.guest' | translate}}</span>
            <span ng-show="showHotel.customerNumber>1">{{'system.guests' | translate}}</span>
        </a>
    </div>

    <div ng-if="hotelState.profileData.admin" style="margin-top: 5px;display: flex; display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;justify-content: flex-end;">
        <!--<button style="width: 110px;" class="btn m-b-xs btn-sm btn-info btn-addon" ui-sref="app.editActivity({activityId: showActivity.activityId, edit: true})"><i class="fa fa-edit"></i>{{::'page.activities.edit' | translate}}</button>-->
        <!--<br/>-->
        <button style="width: 130px;" class="btn m-b-xs btn-sm btn-orange btn-addon" ng-click="removeHotel(showHotel.id)"><i class="fa fa-trash-o"></i>Hotel {{::'page.hotel.remove' | translate}}</button>
    </div>
    
    <div class="hotelDescrElt" ng-if="localState.showHotelBlockFullInfo && showHotel.description">
        <accordion close-others="oneAtATime">
            
            <accordion-group is-open="accordionStatus.descriptionHotelOpen[showHotel.id]" is-disabled="accordionStatus.isDescriptionHotelDisabled[showHotel.id]">

                <accordion-heading>
                    <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.descriptionHotelOpen[showHotel.id], 'fa-angle-right': !accordionStatus.descriptionHotelOpen[showHotel.id]}"></i>
                    <div class="text-center">
                        <div class="hotelAccordion">
                            <i class="glyphicon glyphicon-align-justify"></i> {{'page.hotel.dataFacts' | translate }}
                        </div>
                    </div>
                    <!--<i class="fa fa-pencil-square-o"></i> &nbsp; {{::'page.hotel.updateHotelInfo' | translate }} -->
                </accordion-heading>

                <div ng-bind-html="showHotel.description" style="word-wrap: break-word;"></div>

            </accordion-group>
            
        </accordion>
        
    </div>

    <div class="hotelDescrElt" ng-show="showHotel.info">
        <accordion close-others="oneAtATime">

            <accordion-group is-open="accordionStatus.infoHotelOpen[showHotel.id]" is-disabled="accordionStatus.isInfoHotelDisabled[showHotel.id]">

                <accordion-heading>

                    <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.infoHotelOpen[showHotel.id], 'fa-angle-right': !accordionStatus.infoHotelOpen[showHotel.id]}"></i>
                    
                    <div class="text-center">
                        <div class="hotelAccordion">
                            <i class="glyphicon glyphicon-align-justify"></i> {{'page.hotel.azInfos' | translate }}
                        </div>
                    </div>
                    <!--<i class="fa fa-pencil-square-o"></i> &nbsp; {{::'page.hotel.updateHotelInfo' | translate }} -->
                
                </accordion-heading>

                <div ng-bind-html="showHotel.info" style="word-wrap: break-word;"></div>

            
            </accordion-group>
       
        </accordion>
        
    </div>

    <!--<div class="hotelEditElt" ng-if="(hotelState.profileData.hotelStaff && hotelState.profileData.hotelId==showHotel.id || hotelState.profileData.admin)">-->

        <!--<accordion close-others="oneAtATime">-->
            <!--<accordion-group is-open="accordionStatus.openEditHotels[showHotel.id]" is-disabled="accordionStatus.isFirstDisabled" class="b-info">-->
                <!--&lt;!&ndash;<accordion-heading>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-edit"></i>  &nbsp; {{'page.activities.editActivity' | translate }} <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.open, 'fa-angle-right': !accordionStatus.open}"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</accordion-heading>&ndash;&gt;-->
                <!--<accordion-heading>-->
                    <!--&lt;!&ndash;<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.infoHotelOpen, 'fa-angle-right': !accordionStatus.infoHotelOpen}"></i>&ndash;&gt;-->
                    <!--<div class="text-center">-->
                        <!--&lt;!&ndash;<i class="glyphicon glyphicon-align-justify"></i> Offer Description&ndash;&gt;-->
                        <!--<button style="margin: 0;" class="btn m-b-xs w-xs btn-orangeBorder btn-rounded" ng-click="openEditHotel(showHotel)"><span ng-show="accordionStatus.openEditHotels[showHotel.id]">Cancel</span><span ng-hide="accordionStatus.openEditHotels[showHotel.id]">Edit</span></button>-->

                    <!--</div>-->
                    <!--&lt;!&ndash;<i class="fa fa-pencil-square-o"></i> &nbsp; {{::'page.hotel.updateHotelInfo' | translate }} &ndash;&gt;-->
                <!--</accordion-heading>-->

                <!--<form class="m-b-none ng-pristine ng-valid" ng-submit="submitHotelChange(showHotel)" name="hotelForm">-->

                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.hotelName' | translate }}</label>-->
                        <!--<input type="text" class="form-control" ng-model="showHotel.name" placeholder="{{::'page.hotel.hotelName' | translate }}">-->

                    <!--</div>-->

                  <!-- -->


                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.hotelCode' | translate }}</label>-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="newHotel.pictureUrl" placeholder="{{::'page.hotel.hotelLogo' | translate }}">&ndash;&gt;-->
                        <!--<input type="text" class="form-control" ng-model="showHotel.currentHotelAccessCode" placeholder="{{::'page.hotel.hotelCode' | translate }}">-->

                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.rating' | translate }}</label>-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="newHotel.pictureUrl" placeholder="{{::'page.hotel.hotelLogo' | translate }}">&ndash;&gt;-->
                        <!--<input type="text" class="form-control" ng-model="showHotel.rating" placeholder="{{::'page.hotel.rating' | translate }}">-->

                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.phone' | translate }}</label>-->
                        <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.phone" placeholder="{{::'page.hotel.phone' | translate }}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.fax' | translate }}</label>-->
                        <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.fax" placeholder="{{::'page.hotel.fax' | translate }}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.hotelEmail' | translate }}</label>-->
                        <!--<input type="email" class="form-control" rows="5" ng-model="showHotel.email" placeholder="{{::'page.hotel.hotelEmail' | translate }}"/>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.street' | translate }}</label>-->
                        <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.street" placeholder="{{::'page.hotel.street' | translate }}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.house' | translate }}</label>-->
                        <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.house" placeholder="{{::'page.hotel.house' | translate }}">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.city' | translate }}</label>-->
                        <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.city" placeholder="{{::'page.hotel.city' | translate }}"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.postalCode' | translate }}</label>-->
                        <!--<input type="text" class="form-control" rows="5" ng-model="showHotel.postalCode" placeholder="{{::'page.hotel.postalCode' | translate }}"/>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.hotelDescription' | translate }}</label>-->
                        <!--&lt;!&ndash;<div lazy-load="textAngular">&ndash;&gt;-->
                        <!--<div>-->
                            <!--&lt;!&ndash;<small>{{::'system.restLength' | translate}}:</small> &ndash;&gt;-->
                            <!--<span class="count" ng-bind="localState.maxHotelDescription - showHotel.description.length" ng-class="{danger: showHotel.description.length > localState.maxHotelDescription}">1040</span>-->
                        <!--</div>-->
                        <!--<div text-angular ng-model="showHotel.description" class="btn-groups"  ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear']          ]" ></div>-->

                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label>{{::'page.hotel.info' | translate }}</label>-->
                        <!--&lt;!&ndash;<div lazy-load="textAngular">&ndash;&gt;-->
                        <!--<div>-->
                            <!--&lt;!&ndash;<small>{{::'system.restLength' | translate}}:</small> &ndash;&gt;-->
                            <!--<span class="count" ng-bind="localState.maxHotelDescription - showHotel.info.length" ng-class="{danger: showHotel.info.length > localState.maxHotelDescription}">1040</span>-->
                        <!--</div>-->
                        <!--<div text-angular ng-model="showHotel.info" class="btn-groups"   ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear']          ]" ></div>-->

                    <!--</div>-->
                    <!--<div class="form-group" id="img{{showHotel.id}}">-->
                        <!--<label>{{::'page.activities.activityLogo' | translate}}</label>-->

                        <!--<input ng-model="newHotelFile"-->
                               <!--onchange="angular.element(this).scope().newFile_changed(this, 'hotel')"-->
                               <!--type="file" accept="image/*" />-->
                        <!--&lt;!&ndash;<input type="button" ng-click="uploadFilesX()">&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<button type="submit" ng-disabled="showHotel.description.length > localState.maxHotelDescription" class="btn btn-success">{{::'page.hotel.updateHotelInfo' | translate }}</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</accordion-group>-->
        <!--</accordion>-->
    <!--</div>-->

</div>