<!--<div class="panel panel-default">-->
    <!--<div class="panel-heading font-bold">Or login with social networks:</div>-->
    <!--<div class="panel-body">-->
    
    <div class="myBorder">
        
        <a ng-click="loginService.loginSocial('facebook','facebookLoginId')" id="facebookLoginId" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i>
            Login with Facebook
        </a>

        <span> 
            - We don't show your private Information <br/>
            - We never post in Facebook
        </span>
    </div>

       
        
        <!--<a ng-click="loginService.loginSocial('linkedIn','linkedinLoginId')" id="linkedinLoginId" class="btn btn-block btn-social btn-linkedin">-->
            <!--<i class="fa fa-linkedin"></i>-->
            <!--Login with LinkedIn-->
        <!--</a>-->
        
    <!--</div>-->
<!--</div>-->