<div data-ng-include=" 'angulr/tpl/hotel/blocks/dealSubTabBlock.html' " style="display: flex;"/>

<div id="minPaddingPage" ng-controller="DealListController" class="bg-light lter wrapper-md" ng-init="
app.hideFooter = false;
app.header.showTab = true;
app.header.tabIndex = 0;
app.header.showBackArrow = true;
app.rootSettings.darkBg = true;
hotelState.checkHeaderTab();
"  >
  <!--<h1 class="m-n font-thin h3"></h1>-->


    <div class="wrapper-md" style="padding-top: 0;">
  <div class="row">
    <!--<div class="col-sm-9">-->
    <div>
      <!--ng-class="::{'col-sm-9': !isSmartDevice}">-->

        <div class="myFlex" style="justify-content: space-between;">
             <span class="hotelicoHeader" ng-show="localState.staffView">
                  {{::'system.deals' | translate}} in {{hotelState.profileData.hotelName}}
                 (
                  <a ng-show="localState.showClosed" ng-click="localState.showClosed = false; getUpdateAllCustomerDeals(true);" style="text-decoration: underline;">Show current deals</a>
                  <a ng-hide="localState.showClosed" ng-click="localState.showClosed = true; getUpdateAllCustomerDeals(true);" style="text-decoration: underline;">Show old deals</a>
                  ) 
              </span> 
                
              <span class="hotelicoHeader" ng-show="!localState.staffView">
                  My deals:
                  (
                  <a ng-show="localState.showClosed" ng-click="localState.showClosed = true; getUpdateAllHotelDeals(true);" style="text-decoration: underline;">Show current deals</a>
                  <a ng-hide="localState.showClosed" ng-click="localState.showClosed = false; getUpdateAllHotelDeals(true);" style="text-decoration: underline;">Show old deals</a>
                  ) 
              </span>
            
                
              
              <div ng-click="getUpdateModuleData(true)"><i class="fa fa-refresh" style="font-size: 19px;padding: 5px;}"></i></div>
    
        </div>
        
          <hr/>
            
          <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />
    
          <div class="wrapper text-center" style="padding-top: 0px;">
          
          <div   style="text-align: left; margin-top: 10px;">
    
              <!--{{'page.chat.citySelect' | translate}}:                 -->
              <img src="angulr/icons/loader.gif" ng-show="localState.showDealLoading">
              <input type="number" class="form-control ng-pristine ng-valid ng-touched" ng-model="localState.filterDealCode" ng-change="updateLocalFilter()" id="dealCode" placeholder=" {{'page.activities.dealCode' | translate}}">
              
            <!--&lt;!&ndash;<div style="white-space: pre-line;">{{::'page.hotel.activityFilterLabel' | translate}}:</div>&ndash;&gt;-->
            <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/selectHotelCityBlock.html' " />-->
            <!---->
          </div>
              
    </div>

      <!-- ACTIVITES START -->
      

      <!-- LIST ALL ACTIVITIES -->
      <div id="dealPart" ng-controller="activityCtrl">

        <div class="list-group list-group-lg list-group-sp">

            <div class="nothingFoundMsg" ng-show="localState.dataLoaded && localState.noDealFound">{{::'page.activities.noDealFound' | translate}}</div>
            <div class="nothingFoundMsg" ng-show="!localState.dataLoaded && localState.dealsLoading">Deal {{::'system.loading' | translate}}...</div>

            <div ng-show="localState.staffView">
                <div class="nothingFoundMsg" ng-show="localState.menuLoaded && localState.noMenuFound">{{::'page.menu.noMenuFound' | translate}}</div>
                <div class="nothingFoundMsg" ng-show="!localState.menuLoaded && localState.menusLoading">Menu {{::'system.loading' | translate}}...</div>
            </div>
           

            <!--DEAl HAVE NO ID!!!!!!!-->
          <div ng-repeat="showDeal in localState.filterDeals | orderBy: 'validTo'  track by showDeal.initId">
  
            <div data-ng-include=" 'angulr/tpl/hotel/blocks/showDealBlock.html' " />
  
          </div>
            
            <div ng-if="localState.staffView && (hotelState.profileData.admin || hotelState.profileData.hotelStaff)" data-ng-controller="MenuListController">
                <div ng-repeat="previewMenu in localState.filterMenus | orderBy: 'validTo'  track by previewMenu.id">

                    <div data-ng-include=" 'angulr/tpl/hotel/blocks/showMenuOrderPreviewBlock.html' " />

                </div>
            </div>
            
            

         

        </div>
        
      </div>

      <!-- END ACTIVITES START -->
      
      
    </div>

    <div ng-if="!hotelState.profileData.checkedIn" class=" text-center app-footer navbar navbar-fixed-bottom bg-light lt b-t" ng-style=" ::(isSmartDevice && {'margin': '5px', 'position': 'fixed', 'margin-top': '8px', 'margin-bottom': '2px'}) || (!isSmartDevice && { 'position': 'initial', 'margin-top': '8px', 'margin-left': '0', 'background-color': 'transparent'})" style="background-color: #fff;">
      <!--ng-hide="(localState.selectedFilterHotel || localState.selectedHotelCode || localState.hotelcodeFocus)" >-->
      <button ui-sref="app.checkin" class="btn btn-lg btn-block  btn-blue">
        <!--{{'page.checkin.demoCheckin' | translate }}-->
        Back to Hotel-Selection
      </button>
    </div>

  </div>
</div>
</div>