
<div ng-controller="CheckInController" ng-init="
app.hideAside = true; 
app.hideFooter = true;
app.header.showTab = true;
app.header.tabIndex = 0;
app.header.showBackArrow = true;
app.rootSettings.darkBg = true;
" style="border-color: transparent;min-height: 480px; background-color: #fff;" class="myCenter"> 
    
    <div class="panel panel-default" id="checkinPanel" style="/*border-color: transparent;*/border-color: #fff;box-shadow:none;-webkit-box-shadow:none;/*background-color: inherit;*/margin-bottom: 0;"> <!-- ng-show="localState.ready" -->
      
        <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">{{'page.checkin.title' | translate}} ({{'page.checkin.askReception' | translate}})</h3>-->
      <!--</div>-->
        
        <div class="panel-body checkinBody" id="checkinBody" style="border-color: transparent; padding: 5px;">

          <!--<div id="langDiv" ng-style=" ::isSmartDevice && {'width': '100%'}" class="container w-xxl w-auto-xs hideOnFocus myFlex" style="justify-content: space-between; padding: 0;">-->

              <!--<div class="text-center" ui-sref="app.hotelLogin" style="padding: 5px;">-->
                  <!--<a id="hotelLoginId" ui-sref="app.hotelLogin" style="white-space: nowrap;">{{'page.login.hotelLoginPreview' | translate }} <span style="text-decoration: underline;">{{'page.login.hotelLoginLink' | translate}}</span></a>-->
              <!--</div>-->

              <!--<div style="margin-top: 5px;" isteven-multi-select id="selectSystemLanguages" input-model="localState.availableSystemLanguages" output-model="localState.selectSystemLanguage" button-label="icon langKeyLabel" item-label="icon name" tick-property="ticked" max-labels="5" max-height="320px" search-property="name" output-properties="name" helper-elements="filter" selection-mode="single"></div>-->

              <!--</div>-->
              
              <!--<div class="text-center" ui-sref="app.hotelLogin" style="padding: 5px;">-->
                  <!--<a id="hotelLoginId" ui-sref="app.hotelLogin" style="white-space: nowrap;">{{'page.login.hotelLoginPreview' | translate }} <span style="text-decoration: underline;">{{'page.login.hotelLoginLink' | translate}}</span></a>-->
              <!--</div>-->
              
              <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />
    
              <!--<div class="b-b pull-in hideOnFocus" style="margin-top: 5px;"></div>-->
    
              <!--<button id="sendButton" class="button-primary" ng-click="sendPush();">Send me a push notification</button>-->

              <div class="myCenter text-orange hideOnFocus" data-ng-include=" 'angulr/tpl/hotel/blocks/showCarousel.html' " />
    
              <form class="form-horizontal" >
              
                    <div class="form-group" style="margin-top: 0px; margin-bottom: 10px;">
                        
                        <div class="col-lg-12" ng-class="{'notDisplay': localState.hideCodeInput}">
    
                            
                                <div id="checkinCode" ng-class="{'unvisible': localState.selectedFilterHotel}" class="myCenter">
                                     
                                    <div style="margin-bottom: 25px;width: 90%;">
                                        <input ng-change="onHotelCodeInput();" autocomplete="off" ng-focus="hideFocus('none');localState.hotelcodeFocus=true; " ng-blur="hideFocus('flex');localState.hotelcodeFocus=false" type="text" class="form-control" ng-model="localState.selectedHotelCode" id="hotelCode" placeholder="{{'page.checkin.hotelCode' | translate}}" style="height: 80px;font-size: 2em;display: block;margin: 0 auto;text-align: center;border-radius: 10px;outline: 0;">
                                        <div>
                                            {{'page.checkin.askReception' | translate}}
                                        </div>
                                        <!--<button style="margin-top: 15px;" ng-click="onCheckinSubmit()" ng-disabled="localState.disableCheckin" class="btn btn-lg btn-block btn-orange" >{{localState.selectedFilterHotel.name}} {{'page.checkin.doCheckIn' | translate }}</button>-->
    
                                    </div>
    
                                    <i style="margin-top: -4px;padding-left: 8px;padding-right: 5px;position: absolute;" class="fa fa-info-circle navIconItem hotelCitySelectInfo" ng-click="openHotelCodePopup()"></i>
    
                                </div>
                                
                            
                            
                                <!--<div ng-show="localState.selectedFilterHotel">-->
                                    <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/showHotelBlock.html' " />-->
                                <!--</div>-->
                                
                        </div>
                        
                    </div>
              
                    <!--<div class="line b-b line-dashed line-lg pull-in"></div>-->

                    <div class="hiddenContent">
                    
                        <div ng-style="!localState.showManualCheckin && {'visibilty':'hidden'} ">
    
                            <div layout="row" style="justify-content: center;margin-bottom: 5px;">
                                
                                <div style="width: 100%;">
                                    <div data-ng-include=" 'angulr/tpl/hotel/blocks/selectHotelCityBlock.html' " />
                                </div>
    
                                <!--<div class="text-center navbar bg-light lt b-t" ng-show="(localState.selectedFilterHotel)" style="margin-top: 10px;">-->
                                    <!--<button ng-click="onCheckinSubmit()" ng-disabled="localState.disableCheckin" class="btn btn-lg btn-block btn-orange hiddenContent">{{localState.selectedFilterHotel.name}} {{'page.checkin.doCheckIn' | translate }}</button>-->
                                <!--</div>-->
                                
                                <!--<div ng-style="!localState.selectedFilterHotel && {'visibility' : 'hidden'} " style="margin-top: 39px;margin-left: -39px;">-->
                                    <!--<button ng-click="onCheckinSubmit()" class="btn btn-sm  btn-orange" tabindex="0" aria-disabled="false">-->
                                         <!-- -->
                                        <!--<i class="fa fa-sign-in" style="font-size: 20px;" ></i>-->
                                    <!--</button>-->
                                <!--</div>-->
    
                               
                                
                            </div>
    
                            <div  ng-repeat="(key, previewHotel) in localState.filterHotels | orderBy: 'id':true  track by previewHotel.id" style="margin: 5px;">
    
                                <div data-ng-include=" 'angulr/tpl/hotel/blocks/showHotelPreviewBlock.html' " />
    
                            </div>
    
                            <div ng-style=" ::!isSmartDevice && {'height':'150px'}"></div>
                            
                            
                            <!--<div class="text-center app-footer navbar navbar-fixed-bottom bg-light lt b-t" ng-show="(localState.selectedFilterHotel || localState.selectedHotelCode || localState.hotelcodeFocus)" ng-style=" ::(isSmartDevice && {'position': 'fixed', 'margin-top': '8px', 'margin-bottom': '7px'}) || (!isSmartDevice && { 'position': 'relative', 'margin-top': '8px', 'margin-left': '0'})">-->
                                <!--<button ng-click="onCheckinSubmit()" ng-disabled="localState.disableCheckin" class="btn btn-lg btn-block btn-orange hiddenContent">{{localState.selectedFilterHotel.name}} {{'page.checkin.doCheckIn' | translate }}</button>-->
                            <!--</div>-->
                            <!--<div class=" text-center app-footer navbar navbar-fixed-bottom bg-light lt b-t" ng-style=" ::(isSmartDevice && {'margin': '5px', 'position': 'fixed', 'margin-top': '8px', 'margin-bottom': '2px'}) || (!isSmartDevice && { 'position': 'initial', 'margin-top': '8px', 'margin-left': '0', 'background-color': 'transparent'})" style="background-color: #fff;">-->
                                <!--&lt;!&ndash;ng-hide="(localState.selectedFilterHotel || localState.selectedHotelCode || localState.hotelcodeFocus)" >&ndash;&gt;-->
                                <!--<button ng-click="onCheckinSubmit('demo')" ng-disabled="localState.disableCheckin || mainState.disableCheckin" class="btn btn-sm  btn-blue hiddenContent">-->
                                    <!--&lt;!&ndash;{{'page.checkin.demoCheckin' | translate }}&ndash;&gt;-->
                                    <!--Demo Hotel-->
                                <!--</button>-->
                            <!--</div> -->
                    

                        </div>
                    </div>
 
              </form>
          
           
        </div>

        <div ng-style="isSmartDevice && !localState.selectedFilterHotel && !isSmallDevice && {'position': 'fixed'}" style="bottom: 5px; width:100%; text-align: center;" class="hiddenContent" >
             
            <div class=" b-b line-sm pull-in"></div>

            <div style="width: 100%; margin-top: 5px;">
                <button ng-click="onCheckinSubmit('demo')" ng-disabled="localState.disableCheckin" class="btn btn-sm btn-blue" style="font-weight: bold;">{{'page.checkin.demoCheckin' | translate }}</button>
            </div>
        </div>
        
        
     
    
    
    </div> 
</div> 