      <!--&lt;!&ndash; navbar header &ndash;&gt;-->
      <!--<div class="navbar-header box-shadow {{app.rootSettings.navbarHeaderColor}}">-->
        <!--&lt;!&ndash;<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="glyphicon glyphicon-cog"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--<button class="pull-right visible-xs topRightMenuButton" ng-click="setHeaderColor()" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">-->
          <!--<i class="glyphicon glyphicon-align-justify"></i>-->
        <!--</button>-->
        <!--&lt;!&ndash; brand &ndash;&gt;-->
        <!--<div style="display: flex; justify-content: flex-start;">-->

          <!--<i class="fa fa-angle-left"  ng-click="mainStepBack();" id="hback" ng-class="{'hide': !app.header.showBackArrow, 'arrow-left': true}"/>-->
        <!-- -->
          <!--&lt;!&ndash;<a ng-href="{{app.titleUrl}}" class="navbar-brand text-lt" style="max-height: 40px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="angulr/img/build/logoWhite.png" style="background-color: white;border-radius: 3px;border-width: 1px;border-style: solid;" alt="." ng-class="{'hide': showBackArrow}">&ndash;&gt;-->
          <!--&lt;!&ndash;</a> &ndash;&gt;-->
          <!-- -->
          <!--<a ng-click="clickLoading(null, null, app.titleUrl)" class="thumb-xs avatar headerAvatar" ng-class="{'hide': !app.header.titleAvatarSrc || !isSmartDevice}">-->
            <!--<img ng-src="{{app.header.titleAvatarSrc}}" style=" background-color: white;">-->
            <!--<i class="on md b-white right customerOnlineStatus" ng-show="hotelNotification.notificationObj.hotelOnlineGuestIds[localState.userData.id]"></i>-->
            <!--<i class="offline md b-white right customerOnlineStatus" ng-hide="hotelNotification.notificationObj.hotelOnlineGuestIds[localState.userData.id]"></i>-->
          <!--</a>-->
          <!-- -->
          <!--<div ng-hide="app.header.showBackArrow" style="margin-left: 27px;"></div>-->
          <!-- -->
          <!--&lt;!&ndash;<div style="text-overflow: ellipsis; max-width: 100px; white-space: nowrap;">&ndash;&gt;-->
            <!--<a ng-click="clickLoading(null, null, app.header.titleUrl)" class="hidden-folded m-l-xs headerTitle text-ellipsis" style="max-width: 80%;color: white;">{{app.header.showTitle}}</a>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!-- -->
          <!--<span ng-show="app.header.showTitleStaff" class="bg-orange-border" style=" margin-left: 5px;color: #f1592a;margin-top: 7px;padding: 5px;padding-bottom: 24px;border-radius: 50px;">{{'system.hotelStaff' | translate}}</span>-->


        <!--</div>-->
       <!-- -->
        <!--&lt;!&ndash; / brand &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; / navbar header &ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash; navbar collapse &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" ng-show="!isSmartDevice">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; buttons &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="nav navbar-nav hidden-xs" style="display: flex;">&ndash;&gt;-->
          <!--&lt;!&ndash;<a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;<div ng-show="showProfile">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">&ndash;&gt;-->
               <!--&lt;!&ndash;<i class="icon-user fa-fw"></i>&ndash;&gt;-->
             <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash; &ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; / buttons &ndash;&gt;&ndash;&gt;-->

        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; link and dropdown &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<ul class="nav navbar-nav hidden-sm">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<li class="dropdown pos-stc" dropdown>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<a href class="dropdown-toggle" dropdown-toggle>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<span>Mega</span> &ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<span class="caret"></span>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<div class="dropdown-menu wrapper w-full bg-white">&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<div class="row">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="m-l-xs m-t-xs m-b-xs font-bold">Pages <span class="badge badge-sm bg-success">10</span></div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="row">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-6">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<ul class="list-unstyled l-h-2x">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Profile</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Post</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Search</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Invoice</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-6">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<ul class="list-unstyled l-h-2x">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Price</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lock screen</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign in</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign up</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="col-sm-4 b-l b-light">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="m-l-xs m-t-xs m-b-xs font-bold">UI Kits <span class="label label-sm bg-primary">12</span></div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="row">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-6">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<ul class="list-unstyled l-h-2x">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Buttons</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Icons <span class="badge badge-sm bg-warning">1000+</span></a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Grid</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Widgets</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-6">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<ul class="list-unstyled l-h-2x">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Bootstap</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sortable</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Portlet</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;<a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Timeline</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="col-sm-4 b-l b-light">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="m-l-xs m-t-xs m-b-sm font-bold">Analysis</div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="text-center">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div class="inline">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<div ui-jq="easyPieChart" ui-options="{&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;percent: 65,&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;lineWidth: 50,&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;trackColor: '{{app.color.light}}',&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;barColor: '{{app.color.info}}',&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;scaleColor: false,&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;size: 100,&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;rotate: 90,&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;lineCap: 'butt',&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;&lt;!&ndash;animate: 2000&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;}">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<li class="dropdown" dropdown>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<a href class="dropdown-toggle" dropdown-toggle>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<i class="fa fa-fw fa-plus visible-xs-inline-block"></i>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<span translate="header.navbar.new.NEW">New</span> <span class="caret"></span>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<ul class="dropdown-menu" role="menu">&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li><a href="#" translate="header.navbar.new.PROJECT">Projects</a></li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="badge bg-info pull-right">5</span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span translate="header.navbar.new.TASK">Task</span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li><a href translate="header.navbar.new.USER">User</a></li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li class="divider"></li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="badge bg-danger pull-right">4</span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span translate="header.navbar.new.EMAIL">Email</span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; / link and dropdown &ndash;&gt;&ndash;&gt;&ndash;&gt;-->

        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; search form &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<div class="form-group">&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<div class="input-group">&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;</form>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; / search form &ndash;&gt;&ndash;&gt;&ndash;&gt;-->

         <!--&lt;!&ndash; &ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; #### nabar right &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<div ng-show="!isSmartDevice">    &ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right" >&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href class="dropdown-toggle" dropdown-toggle>&ndash;&gt;-->
              <!--&lt;!&ndash;{{selectLang}} <b class="caret"></b>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; dropdown &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="dropdown-menu animated fadeInRight w">&ndash;&gt;-->
              <!--&lt;!&ndash;<li ng-repeat="(langKey, label) in langs">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ng-click="setLang(langKey, $event)" href>{{label}}</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; / dropdown &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="hidden-xs">&ndash;&gt;-->
            <!--&lt;!&ndash;<a ui-fullscreen></a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<li class="dropdown" dropdown ng-show="showProfile">&ndash;&gt;&ndash;&gt;-->

            <!--&lt;!&ndash;&lt;!&ndash;<a href class="dropdown-toggle" dropdown-toggle>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<i class="icon-bell fa-fw"></i>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<span class="visible-xs-inline">Notifications</span>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<span class="badge badge-sm up bg-danger pull-right-xs">2</span>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; dropdown &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<div class="dropdown-menu w-xl animated fadeInUp">&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<div class="panel bg-white">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="panel-heading b-light bg-light">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<strong>You have <span>2</span> notifications</strong>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="list-group">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<a href class="media list-group-item">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<span class="pull-left thumb-sm">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<img src="angulr/img/build/a0.jpg" alt="..." class="img-circle">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<span class="media-body block m-b-none">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;Use awesome animate.css<br>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<small class="text-muted">10 minutes ago</small>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<a href class="media list-group-item">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<span class="media-body block m-b-none">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;1.0 initial released<br>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<small class="text-muted">1 hour ago</small>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="panel-footer text-sm">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<a href class="pull-right"><i class="fa fa-cog"></i></a>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; / dropdown &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="dropdown" dropdown ng-show="showProfile">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href class="dropdown-toggle clear" dropdown-toggle>&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm" >&ndash;&gt;-->
                <!--&lt;!&ndash;<img ng-src="{{getProfileImageUrl()}}" style="border-radius: 500px;" alt="...">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="on md b-white bottom"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</span>&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="hidden-sm hidden-md">{{profileData.firstName}} {{profileData.lastName}}</span> <b class="caret"></b>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; dropdown &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="dropdown-menu animated fadeInRight w">&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li class="wrapper b-b m-b-sm bg-light m-t-n-xs">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<p>300mb of 500mb used</p>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="badge bg-danger pull-right">30%</span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span>Settings</span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="app.me">Profile</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a ui-sref="app.docs">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="label bg-info pull-right">new</span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;Help&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li ng-show="profileData.hotelId>0">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ng-click="resetCheckin()">CheckOut</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li> &ndash;&gt;-->
              <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a ui-sref="access.login" ng-click="resetLogin()">Logout</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; / dropdown &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; / ####navbar right &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash; / navbar collapse &ndash;&gt;&ndash;&gt;-->
      <!-- -->
      <!-- -->
      <!--<div style="display: none" id="imageCache">-->
        <!-- -->
        <!--<div id="activityImageCache"></div>-->
        <!--<div id="hotelImageCache"></div>-->
        <!--<div id="menuImageCache">-->
          <!--<img src="angulr/img/build/menu/bottom/chat-inactive.png">-->
          <!--<img src="angulr/img/build/menu/bottom/chat-active.png">          -->
          <!--<img src="angulr/img/build/menu/bottom/hotel-inactive.png">-->
          <!--<img src="angulr/img/build/menu/bottom/hotel-active.png">          -->
          <!--<img src="angulr/img/build/menu/bottom/wall-inactive.png">-->
          <!--<img src="angulr/img/build/menu/bottom/wall-active.png">          -->
          <!--<img src="angulr/img/build/menu/bottom/me-inactive.png">-->
          <!--<img src="angulr/img/build/menu/bottom/me-active.png">          -->
          <!--<img src="angulr/img/build/menu/bottom/checkout-inactive.png">-->
          <!--<img src="angulr/img/build/menu/bottom/checkout-active.png">          -->
          <!--<img src="angulr/img/build/menu/bottom/logout-inactive.png">-->
          <!--<img src="angulr/img/build/menu/bottom/language-inactive.png">-->
          <!--<img src="angulr/img/build/loading/loader.gif">-->
        <!--</div>-->
        <!--<div id="profileImageCache">-->
          <!--<img src="angulr/img/build/avatar/incognito-m.png">-->
          <!--<img src="angulr/img/build/avatar/incognito-f.png">-->
          <!--<img src="angulr/img/build/staff.png">-->
        <!--</div>-->
      <!--</div>-->
