<!--<accordion close-others="oneAtATime">-->
    <!--<accordion-group is-open="accordionStatus.newActivityOpen" is-disabled="accordionStatus.isNewActivityDisabled" class="b-info">-->
        <!--<accordion-heading>-->
            <!--<div>-->
                <!--<i ng-class="::localState.newActivityAccordionIconClass"></i>  &nbsp; {{::'page.activities.addActivity' | translate }} <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.newActivityOpen, 'fa-angle-right': !accordionStatus.newActivityOpen}"></i>-->
            <!--</div>-->
        <!--</accordion-heading>-->


        <!--<form class="m-b-none ng-pristine ng-valid " ng-submit="submitNewActivity()" name="newActivityForm">-->

            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.activityTitle' | translate}}</label>-->
                <!--<input type="text" class="form-control" ng-model="localState.newActivity.title" placeholder="{{::'page.activities.activityTitle' | translate}}" required>-->

            <!--</div>-->
           <!---->
            <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.activityShortDescription' | translate}}</label>-->
                    <!--<div style="  /*margin-bottom: -20px;*/">-->
                        <!--&lt;!&ndash;<small>{{::'system.restLength' | translate}}:</small> &ndash;&gt;-->
                        <!--<span class="count" ng-bind="localState.maxActivityShortDescription - localState.newActivity.shortDescription.length" ng-class="{danger: localState.newActivity.shortDescription.length > localState.maxActivityShortDescription}">{{::localState.maxActivityShortDescription}}</span>-->
                    <!--</div>-->
                <!---->
                <!--<textarea class="form-control" rows="5" ng-model="localState.newActivity.shortDescription" placeholder="{{::'page.activities.activityShortDescription' | translate}}"></textarea>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.activityDescription' | translate}}</label>-->
                    <!--<div style="  margin-bottom: -20px;">-->
                        <!--&lt;!&ndash;<small>{{::'system.restLength' | translate}}:</small> &ndash;&gt;-->
                        <!--<span class="count" ng-bind="localState.maxActivityDescription - localState.newActivity.description.length" ng-class="{danger: localState.newActivity.description.length > localState.maxActivityDescription}">{{::localState.maxActivityDescription}}</span>-->
                    <!--</div>-->
                <!---->
                <!--<div text-angular ng-model="localState.newActivity.description" class="btn-groups"  ta-toolbar="[['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear']]" ></div>-->
                <!--&lt;!&ndash;<textarea class="form-control" rows="5" ng-model="localState.newActivity.description" placeholder="{{::'page.activities.activityDescription' | translate}}"></textarea>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.validFrom' | translate}}</label>-->

                <!--<div class="input-group"  ng-controller="DatepickerCheckinCtrl">-->
                    <!--<input type="text" placeholder="DD.MM.YYYY"  class="form-control" datepicker-popup="{{format}}" ng-model="localState.newActivity.validFrom" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required/>-->
                                        <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                                    <!--</span>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.validTo' | translate}}</label>-->
                <!--<div class="input-group"  ng-controller="DatepickerCheckinCtrl">-->
                    <!--<input type="text" placeholder="DD.MM.YYYY"  class="form-control" datepicker-popup="{{format}}" ng-model="localState.newActivity.validTo" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required/>-->
                                        <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

            <!--<div class="form-group">-->
                <!--<label>{{::'page.activities.activityLogo' | translate}}</label>-->

                <!--<input ng-model="newActivityFile"-->
                       <!--onchange="angular.element(this).scope().newFile_changed(this, 'activity', angular.element(this).scope().localState.newActivity.activityId)"-->
                       <!--type="file" accept="image/*" />-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<button type="submit" class="btn btn-block btn-lg btn-success" ng-disabled="localState.newActivity.shortDescription.length > localState.maxShortDescription || localState.newActivity.shortDescription.length === 0">{{::'page.activities.addActivity' | translate }}</button>-->
            <!--</div>-->
        <!--</form>-->

    <!--</accordion-group>-->
<!--</accordion>-->