<div class="modal-body wrapper-lg loginBody" stop-event="touchend" ng-controller="MenuListController"
     ng-init="initLogin();unlockModal();">

    <a ng-click="cancel()" style="position: absolute; top:0; right:5px;"><i class="fa fa-times"/></a>

    <div class="row">
        <div>

            <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

                <div class="wrapper text-center" style="padding-top: 0px; font-size: 15px;">
                    <span ng-show="hotelState.currentMenuOrder.orderStatus=='ACCEPTED' && hotelState.currentMenuOrder.orderCode">{{::'page.menu.order' | translate }} Code: {{hotelState.currentMenuOrder.orderCode}}<br/></span>
                    {{::'page.menu.order' | translate }}: <span class="status-{{hotelState.currentMenuOrder.orderStatus }}">{{hotelState.currentMenuOrder.orderStatus }}</span>
                    <span ng-show="localState.orderLoaded || (!hotelState.currentMenuOrder || !hotelState.currentMenuOrder.menuItems || hotelState.currentMenuOrder.menuItems.length==0)" class="text-orange">{{::'page.menu.noItemsFound' | translate }}</span>
                </div>

                <div id="hotelPart" ng-controller="hotelCtrl">

                    <!--<div ng-show="selectedFilterHotel.id>0">-->

                    <!--</div>-->

                    <ul style="list-style-type: none;padding-left: 0px;">
                        <li ng-repeat = "showMenuItem in hotelState.currentMenuOrder.menuItems | orderBy: 'index'">

                            <div class="item_{{showMenuItem.id}}" data-ng-include=" 'angulr/tpl/hotel/blocks/menuItemOrderingBlock.html' "/>

                        </li>
                    </ul>

                    <div style="float: right; margin: 5px; margin-bottom: 15px;">
                        <span style="font-weight: bolder;margin-right: 10px;margin-top: 10px;">Gesamtbetrag: </span>
                        <span class="menu-price">
                         {{ hotelState.currentMenuOrder.totalPrice | currency:"":2}} <i class="fa fa-eur menu-euro"></i>
                        </span>
                    </div>

                    <div class="line b-b line-lg" style="margin-left: 15px;margin-right: 15px;"></div>

                    <div layout="column" style="margin: 15px;">

                        <div style="width: 245px;">
                            <md-content layout-padding>
                                <div>
                                    <div layout-gt-sm="column">
                                        
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>First name <span ng-hide="hotelState.currentMenuOrder.firstName" class="requiredField">*</span></label>
                                            <input ng-model="hotelState.currentMenuOrder.firstName" required ng-disabled="localState.menuAccepted">
                                        </md-input-container>
                                        
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Last name <span ng-hide="hotelState.currentMenuOrder.lastName" class="requiredField">*</span></label>
                                            <input ng-model="hotelState.currentMenuOrder.lastName" required ng-disabled="localState.menuAccepted">
                                        </md-input-container>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                        
                        <div>
                            <div class="radio" layout="row">
                                <label class="i-checks">
                                    <input type="radio" name="inRoom" data-ng-value="true" ng-model="hotelState.currentMenuOrder.orderInRoom" ng-disabled="localState.menuAccepted" checked>
                                    <i></i>
                                    {{::'page.menu.orderInRoom' | translate }}
                                </label>
    
                                <div layout="row" style="margin-left: 10px;margin-top: -10px;" ng-show="hotelState.currentMenuOrder.orderInRoom">
                                    <!--<label>{{::'page.menu.orderLocation' | translate }}<span class="requiredField">*</span></label>-->
                                    <input stop-event="touchend" type="text" max="5" class="focusModal form-control" rows="5" ng-model="hotelState.currentMenuOrder.orderLocation" ng-disabled="localState.menuAccepted" placeholder="{{::'page.menu.roomNumber' | translate }}" style="max-width: 115px;"></in>
                                    <span class="requiredField">*</span>
                                    <!--<button class="btn btn-lg btn-blue btn-addon" ng-click="orderMenu(hotelState.currentMenuOrder, 'room')"><i class="fa fa-building-o "></i>{{::'page.menu.orderInRoom' | translate }}</button>-->
                                </div>
                                
                            </div>
                            <div class="radio">
                                <label class="i-checks">
                                    <input type="radio" name="inRest" data-ng-value="false" ng-model="hotelState.currentMenuOrder.orderInRoom" ng-disabled="localState.menuAccepted">
                                    <i></i>
                                    {{::'page.menu.orderInRestaurant' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="line b-b line-lg" style="margin-left: 15px;margin-right: 15px;"></div>

                    <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

                    <div  ng-class="{'container w-xxl w-auto-xs': isSmartDevice, 'myFlex mySpaceBetween': !isSmartDevice }" style="margin: 10px;" ng-hide="(!hotelState.currentMenuOrder || !hotelState.currentMenuOrder.menuItems || hotelState.currentMenuOrder.menuItems.length==0) || localState.menuAccepted || hotelState.currentMenuOrder.orderStatus=='ACCEPTED'">
                        
                        <div ng-if="::isSmartDevice">
                            <input type="text"  stop-event="touchend"  class="focusModal" ng-model="hotelState.currentMenuOrder.customerComment" class="btn-groups"  placeholder="{{::'page.menu.customerComment' | translate }}">
                        </div>
                        
                        <div ng-if="::!isSmartDevice" style="flex-grow: 1;margin: 10px;">
                            <textarea  stop-event="touchend" ng-model="hotelState.currentMenuOrder.customerComment"  placeholder="{{::'page.menu.customerComment' | translate }}" style="width:100%;" class="focusModal" ></textarea>                        
                        </div>
                    
                        <div style="margin-top: 10px;">
                            <button class="btn btn-lg btn-blue btn-block btn-addon" ng-click="orderMenuAction(hotelState.currentMenuOrder, 'submitMenu')"><i class="fa fa-cutlery"></i>{{::'page.menu.submitOrder' | translate }}</button>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>