<!-- START HOTEL DESCR --->
<div class="panel b-a panel-default image-box-shadow" ng-show="previewHotel.id>0 || previewHotel.id<0">
    
    <div layout="row" style="font-size: 25px;">
        
        <div ng-click="onHotelCheckinClick(previewHotel.id)">
            <div ng-if="previewHotel.rating>0" class="bottom text-white" style="padding: 5px;text-align: right;margin-bottom: -10px;height: 10px;z-index: 9;position: relative;top: -2px;left: -7px; font-size: 12px;" >
                <!--ng-show="!localState.selectedFilterHotel"-->
                <div class="hotelInfoOpacity">
                    <div class="top text-right padder w-full text-orange" style="padding-left: 5px; padding-right: 5px;">
                        <rating ng-model="previewHotel.rating" readonly="true" max="5"></rating>
                    </div>
                </div>
            </div>
            <img ng-src="{{previewHotel.previewPictureUrl}}" ng-show="previewHotel.previewPictureUrl" style="width: 100px; border-radius: 5px; margin: 2px;">
        </div>
        
        <div style="flex-grow: 1; margin-left: 3px;" layout="column">
            <div style="flex-grow: 1;" layout="column" ng-click="onHotelCheckinClick(previewHotel.id)">
                <div layout="row" >
                    <span class="text-lt" style="font-weight: bold;" >{{previewHotel.name}}</span>
                    
                </div>
                
                <div class="text-orange" layout="column" style="margin-left:5px; font-size: 20px;font-size: 17px;margin-top: -4px;">
                    <!--ui-sref="app.activityList({filterCity: previewHotel.city, filterHotelId: previewHotel.id})"-->
                   
                    <!--<span ng-show="!localState.hotelBlockInternActivities && previewHotel.activityNumber>0 && !localState.hotelBlockInternGuests && previewHotel.customerNumber>0">-->
                        <!--, -->
                    <!--</span>-->
                    <!--ng-click="clickLoading('app.chatList', null, null, {hotelScope: hotelState.profileData.checkedIn && app.header.tabIndex==1, filterCity: previewHotel.city, filterHotelId: previewHotel.id})"-->
                    <a class="text-lt" style="text-decoration: underline;"  ng-show="!localState.hotelBlockInternGuests && previewHotel.customerNumber>0">{{previewHotel.customerNumber}}
                        <!--<img style="margin-top: -5px; margin-right: 5px;" src="angulr/img/build/menu/bottom/angebot-active.png" />-->
                        <span ng-show="previewHotel.customerNumber==1">{{'system.guest' | translate}}</span>
                        <span ng-show="previewHotel.customerNumber>1">{{'system.guests' | translate}}</span>
                    </a>
                    
                    <a class="text-lt" style="text-decoration: underline;"  ng-show="!localState.hotelBlockInternActivities && previewHotel.activityNumber>0">{{previewHotel.activityNumber}}
                        <!--<img style="margin-top: -5px; margin-right: 5px;" src="angulr/img/build/menu/bottom/angebot-active.png" />-->
                        <span ng-show="previewHotel.activityNumber==1">{{'system.activity' | translate}}</span>
                        <span ng-show="previewHotel.activityNumber>1">{{'system.activities' | translate}}</span>
                    </a>
                </div> 
               
             </div>
            
            <!--<div style="font-size: 16px;margin-left: 5px;" ng-show="previewHotel.currentHotelAccessCode=='demo'" ng-click="onHotelCheckinClick(previewHotel.id)">-->

                <!--<i class="fa fa-info-circle "></i> {{'page.checkin.tryDemo' | translate}}-->
                <!-- -->
            <!--</div> -->
            
            <div layout="row" style="font-size: 18px;margin-left: 5px; justify-content: space-between; -webkit-justify-content: space-between; -moz-justify-content: space-between; " ng-show="previewHotel.currentHotelAccessCode!='demo'">
                 
                <div   ng-click="openModal('editHotel', previewHotel.id)" is-disabled="accordionStatus.isInfoHotelDisabled[previewHotel.id]">
                    <i class="fa fa-info-circle "></i> Details
                </div>
                
                <div ng-click="onHotelCheckinClick(previewHotel.id)">
                    <span ng-show="previewHotel.kmFromMe"  style="font-size: 14px; font-weight: bold;">({{previewHotel.kmFromMe}} km)</span>
                </div>

            </div>
            
            <!--<div class="hotelDescrElt" ng-if="previewHotel.description" style="font-size: 15px;">-->

                <!--<div class="text-center" > -->
                    <!--<div class="hotelAccordion" ng-click="accordionStatus.infoHotelOpen[previewHotel.id] = !accordionStatus.infoHotelOpen[previewHotel.id];" is-disabled="accordionStatus.isInfoHotelDisabled[previewHotel.id]">-->
                        <!--<i class="glyphicon glyphicon-align-justify"></i> {{'page.hotel.dataFacts' | translate }}-->
                    <!--</div>-->
                <!--</div>-->
                <!-- -->

            <!--</div>-->

            <!--<div class="hotelDescrElt" ng-show="previewHotel.info">-->
                <!--<accordion close-others="oneAtATime">-->

                    <!--<accordion-group is-open="accordionStatus.infoHotelOpen[previewHotel.id]" is-disabled="accordionStatus.isInfoHotelDisabled[previewHotel.id]">-->

                        <!--<accordion-heading>-->


                            <!--<div class="text-center">-->
                                <!--<div class="hotelAccordion">-->
                                    <!--<i class="glyphicon glyphicon-align-justify"></i> {{'page.hotel.azInfos' | translate }}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': accordionStatus.infoHotelOpen[previewHotel.id], 'fa-angle-right': !accordionStatus.infoHotelOpen[previewHotel.id]}"></i>&ndash;&gt;-->

                        <!--</accordion-heading>-->

                        <!--<div ng-bind-html="previewHotel.info" style="word-wrap: break-word; font-size: 14px;"></div>-->


                    <!--</accordion-group>-->

                <!--</accordion>-->

            <!--</div>-->
        
        </div>
        <div layout="column" class="myCenter" ng-click="onHotelCheckinClick(previewHotel.id);">
            <i class="fa fa-angle-right" style="padding:5px; color: #888; font-size: 24px;"></i>
        </div>
   </div>
   <!--<div ng-show="accordionStatus.infoHotelOpen[previewHotel.id]" style="border-top-width:1px; border-top-style: inherit; border-top-color: lightgray; ">-->
       <!--<div ng-bind-html="previewHotel.info" style="word-wrap: break-word; font-size: 14px; margin: 5px;"></div>-->
   <!--</div> -->

    
    

</div>