spring:
  application:
    name: hotel-menu
  zipkin:
    base-url: http://localhost:9411
server:
  port: 8083
  
eureka:
  client:
    service-url: 
      defaultZone: http://localhost:8761/eureka
      
---

spring:
  config:
    activate:
      on-profile: development