<div data-ng-include=" 'angulr/tpl/hotel/blocks/dealSubTabBlock.html' " style="display: flex;"/>

<div id="minPaddingPage" class="bg-light lter wrapper-md" ng-controller="MenuListController" ng-init="
app.hideFooter = false;
app.header.showTab = true;
app.header.tabIndex = 0;
app.header.showBackArrow = true;
app.rootSettings.darkBg = true;
">

    <div class="wrapper-md">
        <div class="row">
            <div>
                <!--ng-class="::{'col-sm-9': !isSmartDevice}">-->


                <div class="text-center" style="padding-top: 0px;">

                    <div style="text-align: left; margin-top: 10px;" ng-if="!hotelState.profileData.checkedIn && !localState.selectedFilterHotel.id">

                        <!--<div style="white-space: pre-line;">{{::'page.hotel.hotelFilterLabel' | translate}}:</div>-->
                        <div data-ng-include=" 'angulr/tpl/hotel/blocks/selectHotelCityBlock.html' " />

                    </div>

                    
                    <!--<span ng-show="hotelState.acceptedMenuOrder.length>0" class="status-accepted">{{hotelState.acceptedMenuOrder.length}} menu-order waiting for you...</span>-->
                    <span ng-show="hotelState.isHotelStaffOrAdmin" class="status-accepted">You can only edit the hotel-menu...</span>
                    
                    <hr style="margin: 0;"/>
          
                  <span class="hotelicoHeader" ng-show="localState.filterMenuItems.length>0 && localState.selectedFilterHotel">
                      {{::'system.menu' | translate}}  <span ng-show="localState.selectedFilterHotel.name">in {{localState.selectedFilterHotel.name}}</span>:
                  </span>
                </div>
                
                <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

                <div id="hotelPart" ng-controller="hotelCtrl">
                    
                    <div class="wrapper text-center" style="padding-top: 0px; font-size: 15px;" ng-show="hotelState.currentMenuOrder.orderStatus=='ACCEPTED'">
                        <span ng-show="hotelState.currentMenuOrder.orderCode">{{::'page.menu.order' | translate }} Code: {{hotelState.currentMenuOrder.orderCode}}<br/></span>
                        {{::'page.menu.order' | translate }}: <span class="status-{{hotelState.currentMenuOrder.orderStatus }}">{{hotelState.currentMenuOrder.orderStatus }}</span> 
                        <!--<a ng-click="resetOrder()" style="text-decoration: underline;">(reset)</a>-->
                    </div>
                    
                    <!--<div ng-repeat="(key, showHotel) in localState.filterMenuItems | orderBy: 'id':true  track by showMenuItem.id" >-->
                    <!-- -->
                    <!--<div data-ng-include=" 'angulr/tpl/hotel/blocks/showHotelPreviewBlock.html' " />-->
                    <!-- -->
                    <!--</div>-->

                    <!--<div ng-show="selectedFilterHotel.id>0">-->

                    <!--</div>-->

                    <div ng-if="hotelState.isHotelStaffOrAdmin" >
                        <ul id="menuItemsUl" class = "sortable sortable-1" dnd-container dnd-sortable-list = "localState.filterMenuItems" style="list-style-type: none;padding-left: 0px;">

                            <!--Eugen: $index - is index in having array -> also in localState.filterMenuItems!!!-->
                            <li ng-repeat = "showMenuItem in localState.filterMenuItems | orderBy: $index" dnd-sortable
                                dnd-sortable-opts = "{layer: 'test12'}"
                                dnd-on-sortstart = "onSortStart()"
                                dnd-on-sort = "onSort()"
                                dnd-on-sortchange = "onSortChange(showMenuItem, $index)"
                                dnd-on-sortend = "onSortEnd(showMenuItem, $index)"
                                dnd-on-sortenter1 = "onSortEnter(showMenuItem, $index)"
                            >

                                <div data-ng-include=" 'angulr/tpl/hotel/blocks/menuItemBlock.html' " />


                            </li>
                        </ul>
                    </div>
                      
                    <div ng-if="!hotelState.isHotelStaffOrAdmin">
                        <ul style="list-style-type: none;padding-left: 0px;">
                            <li ng-repeat = "showMenuItem in localState.filterMenuItems | orderBy: 'orderIndex'">

                                <div ng-class="{'selectedMenuItem' :showMenuItem.amount>0}" data-ng-include=" 'angulr/tpl/hotel/blocks/menuItemBlock.html' " ng-click="addOrderItemAction(showMenuItem, 'addItemToOrder')"/>

                            </li>
                        </ul>
                    </div>
                    
                    
                    

                    <div layout="column" class="container w-xxl w-auto-xs" ng-show="localState.selectedFilterHotel.id>0 && hotelState.isHotelStaffOrAdmin">

                        <!--<button class="btn btn-lg btn-orange btn-block btn-addon" ng-show="localState.orderingChanged" ng-click="saveOrdering()"><i class="fa fa-list"></i> Save new ordering</button>-->
                        
                        <button class="btn btn-lg btn-blue btn-block btn-addon" ng-click="addMenuItem('item')"><i class="fa fa-plus"></i> Add menu item</button>

                        <button class="btn btn-lg btn-blue btn-block btn-addon" ng-click="addMenuItem('delimiter')"><i class="fa fa-align-left"></i> Add menu delimiter</button>

                    </div>



                    <!--<div class="nothingFoundMsg" ng-show="localState.noHotelFound">{{::'page.hotel.noHotelFound' | translate}}</div>-->
                  

                    <div class="myCenter m-t">
                        <div ng-show="localState.selectedFilterHotel.name && localState.menuItemsLoaded && localState.filterMenuItems.length==0" style="text-align: center;">
                            {{::'page.hotel.noActualMenus' | translate}} in {{localState.selectedFilterHotel.name}}
                        </div>                        
                        
                        <span ng-show="!localState.menuItemsLoaded && localState.selectedFilterHotel.id">Loading...</span>
                    </div>
                    
                    <!--<div>-->
                    <!--<div class="menu-disclaimer yd-grid">-->


                    <!--<div class="yd-grid-12">-->
                    <!--<h2>Stoffe oder Erzeugnisse, die Allergien oder Intoleranzen auslösen</h2>-->
                    <!--<ul>-->
                    <!--<li><span>1</span> <span>Enthält glutenhaltige/s Getreide/-Erzeugnisse</span></li>-->
                    <!--<li><span>2</span> <span>Enthält Krebstiere/-Erzeugnisse</span></li>-->
                    <!--<li><span>3</span> <span>Enthält Ei/-Erzeugnisse</span></li>-->
                    <!--<li><span>4</span> <span>Enthält Fisch/-Erzeugnisse</span></li>-->
                    <!--<li><span>5</span> <span>Enthält Erdnüsse/-Erzeugnisse</span></li>-->
                    <!--<li><span>6</span> <span>Enthält Sojabohnen/-Erzeugnisse</span></li>-->
                    <!--<li><span>7</span> <span>Enthält Milch/-Erzeugnisse (laktosehaltig)</span></li>-->
                    <!--<li><span>8</span> <span>Enthält Schalenfrüchte/Nüsse bzw. Nusserzeugnisse</span></li>-->
                    <!--<li><span>9</span> <span>Enthält Sellerie/-Erzeugnisse</span></li>-->
                    <!--<li><span>10</span><span>Enthält Senf/-Erzeugnisse</span></li>-->
                    <!--<li><span>11</span><span>Enthält Sesamsamen/-Erzeugnisse</span></li>-->
                    <!--<li><span>12</span><span>Enthält Schwefeloxid/Sulfite</span></li>-->
                    <!--<li><span>13</span><span>Enthält Lupine/-nerzeugnisse</span></li>-->
                    <!--<li><span>14</span><span>Enthält Weichtiere/-Erzeugnisse</span></li>-->
                    <!--</ul>-->

                    <!--<h2>LMIV - Allergene</h2>-->
                    <!--<ul>-->
                    <!--<li><span>A</span> <span>Mit Süßungsmittel(n)</span></li>-->
                    <!--<li><span>B</span> <span>Mit Zucker(n) und Süßungsmittel(n)</span></li>-->
                    <!--</ul>-->

                    <!--</div>-->
                    <!--<div class="yd-grid-11 yd-off-01">-->

                    <!--<ul>-->
                    <!--<li><span>C</span> <span>Enthält Aspartam</span></li>-->
                    <!--<li><span>D</span> <span>Kann bei übermäßigem Verzehr abführend wirken</span></li>-->
                    <!--<li><span>E</span> <span>Enthält Süßholz</span></li>-->
                    <!--<li><span>F</span> <span>Erhöhter Koffeingehalt. Für Kinder und schwangere oder stillende Frauen nicht empfohlen</span></li>-->
                    <!--<li><span>G</span> <span>Enthält Koffein. Für Kinder und schwangere Frauen nicht empfohlen</span></li>-->
                    <!--</ul>-->

                    <!--<h2>Zusatzstoffe</h2>-->
                    <!--<ul>-->
                    <!--<li><span>H</span> <span>Mit Farbstoff</span></li>-->
                    <!--<li><span>I</span> <span>Mit Konservierungsstoff</span></li>-->
                    <!--<li><span>J</span> <span>Mit Nitritpökelsalz</span></li>-->
                    <!--<li><span>K</span> <span>Mit Nitrat</span></li>-->
                    <!--<li><span>L</span> <span>Mit Nitritpökelsalz und Nitrat</span></li>-->
                    <!--<li><span>M</span> <span>Mit Antioxidationsmittel</span></li>-->
                    <!--<li><span>N</span> <span>Mit Geschmacksverstärker</span></li>-->
                    <!--<li><span>O</span> <span>Geschwärzt</span></li>-->
                    <!--<li><span>P</span> <span>Gewachst</span></li>-->
                    <!--<li><span>Q</span> <span>Mit Phosphat</span></li>-->
                    <!--<li><span>S</span> <span>Sulfite</span></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!-- -->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="bottom-menu-sum" ng-hide="hotelState.isHotelStaffOrAdmin || !localState.selectedFilterHotel.id">
                        <div class="bottom-menu-sum-transparent">
                            <div class="bottom-menu-sum-content" ng-click="openModal('editMenuOrder')">
                                {{hotelState.currentMenuOrder.itemAmount}} Items 
                                <span>
                                    ({{ hotelState.currentMenuOrder.totalPrice | currency:"":2}} <i class="fa fa-eur menu-euro" style="font-size: 15px;"></i>)
                                </span>
                                <span ng-show="hotelState.currentMenuOrder.orderStatus=='ACCEPTED'">. Code: {{hotelState.currentMenuOrder.orderCode}}</span>

                                <a style="float: right;margin-right: 12px;padding-top: 3px;font-size: 33px;" ng-hide="hotelState.currentMenuOrder.orderStatus=='ACCEPTED'">
                                    <i class="fa fa-cart-arrow-down" ></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>