<!--<div class="aside-wrap">-->
  <!--&lt;!&ndash; if you want to use a custom scroll when aside fixed, use the slimScroll-->
    <!--<div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">-->
  <!--&ndash;&gt;-->
  <!--<div class="navi-wrap">  -->
    <!--&lt;!&ndash; user &ndash;&gt;-->
    <!--<div class="clearfix hidden-xs text-center hide" id="aside-user">-->
      <!--<div class="dropdown wrapper" dropdown>-->
        <!--<div style="float: left;">-->
            <!--<a ui-sref="app.me">-->
              <!--<span class="thumb-lg w-auto-folded avatar m-t-sm" style="float: left; margin-right: 5px;">-->
                <!--&lt;!&ndash;<img src="{{getProfileImageUrl()}}" class="img-full" alt="...">&ndash;&gt;-->
                <!--<img ng-src="{{hotelState.profileData.avatarUrl}}" class="img-full" alt="...">-->
              <!--</span>-->
            <!--</a>-->
         <!--</div>-->
         <!--<div style="float: left;">-->
          <!--<a href class="dropdown-toggle hidden-folded" dropdown-toggle>-->
            <!--<span class="clear">-->
              <!--<span class="block m-t-sm">-->
                <!--<strong class="font-bold text-lt">{{hotelState..profileData.firstName}} {{hotelState.profileData.lastName}}</strong> -->
                <!--<b class="caret"></b>-->
              <!--</span>-->
              <!--&lt;!&ndash;<span class="text-muted text-xs block">{{profileData.jobTitle}} {{profileData.jobDescriptor}}</span>&ndash;&gt;-->
            <!--</span>-->
          <!--</a>-->
        <!--</div>-->
       <!-- -->
        <!--&lt;!&ndash; dropdown &ndash;&gt;-->
        <!--<ul class="dropdown-menu animated fadeInRight w hidden-folded">-->
          <!--&lt;!&ndash;<li class="wrapper b-b m-b-sm bg-info m-t-n-xs">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="arrow top hidden-folded arrow-info"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>300mb of 500mb used</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<progressbar value="60" type="white" class="progress-xs m-b-none dker"></progressbar>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href>Settings</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--<li>-->
            <!--<a ui-sref="app.me">Profile</a>-->
          <!--</li>-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href>&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="badge bg-danger pull-right">3</span>&ndash;&gt;-->
              <!--&lt;!&ndash;Notifications&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--<li class="divider"></li>-->
          <!--<li ng-show="profileData.hotelId>0">-->
            <!--<a ng-click="resetCheckin()">CheckOut</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a ui-sref="access.login" ng-click="resetLogin()">Logout</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; / dropdown &ndash;&gt;-->
      <!--</div>-->
      <!--<div class="line dk hidden-folded"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash; / user &ndash;&gt;-->

    <!--&lt;!&ndash; nav &ndash;&gt;-->
    <!--<nav ui-nav class="navi clearfix" ng-include="'angulr/tpl/blocks/nav.html'"></nav>-->
    <!--&lt;!&ndash; nav &ndash;&gt;-->

    <!--&lt;!&ndash; aside footer &ndash;&gt;-->
    <!--<div class="wrapper m-t">-->
      <!--&lt;!&ndash;<div class="text-center-folded">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="pull-right pull-none-folded">60%</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="hidden-folded" translate="aside.MILESTONE">Milestone</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<progressbar value="60" class="progress-xxs m-t-sm dk" type="info"></progressbar>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="text-center-folded">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="pull-right pull-none-folded">35%</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="hidden-folded" translate="aside.RELEASE">Release</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<progressbar value="35" class="progress-xxs m-t-sm dk" type="primary"></progressbar>&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; / aside footer &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->