<div style="position: absolute;" ng-if="::isSmartDevice">
    <a class="hidden-folded m-l-xs headerTitle text-ellipsis" style="color: white; text-decoration: none; margin-left: 35px;">Hotelico</a>
</div>

<div ng-style="::isSmartDevice && {'margin-top': '55px', 'width': '1px'}"/>
  
<div class="clearfix" id="aside-user" ng-show="hotelState.profileData.id>0">
  <div class="wrapper" style="/*background-color: #445454;*/padding-bottom: 0px;">
   
    <ul class="nav" style="margin-left: -10px;">

      <li  ui-sref-active="active" class="leftMenuMe">
        <a ui-sref="app.me" class="menuALeft" style="padding-top: 0px; display: flex; display: -webkit-flex; display: -moz-flex;display: -ms-flexbox;align-items: center;">
          <!--<i class="icon-user icon menuIconLeft"></i>-->
          <div class="thumb-md w-auto-folded avatar m-t-sm" style="background-color: #fff;     flex-shrink: 0;   flex-basis: 66px;">
            <img ng-src="{{hotelState.profileData.avatarUrl}}" class="img-full" alt="...">
          </div>
          <!--<b class="badge bg-success pull-right">30%</b>-->
          <div class="menuLabelLeft" ng-style="::!isSmartDevice && {'max-width': '149px'}" style="margin-left: 5px;word-wrap: break-word; white-space: pre-wrap;display: block;text-overflow: ellipsis;white-space: inherit;">
            {{hotelState.profileData.firstName}} {{hotelState.profileData.lastName}}
            <span class="label bg-orange hotelStaff inline" ng-show="hotelState.profileData.hotelStaff" style="position: relative;margin: 0;top: -2px;">{{::'system.hotelStaff' | translate}}</span>
            <span class="label bg-orange hotelStaff inline" ng-show="hotelState.profileData.admin" style="position: relative;margin: 0;top: -2px;">{{::'system.admin' | translate}}</span>
          </div>
          
          <!--<span class="menuLabelLeft" style="margin-left: 5px;" ng-show="hotelState.profileData.admin">Admin</span>-->
        </a>
      </li>
    </ul>
    
    <!--<a ui-sref="app.me">-->
    <!--<span class="thumb-md w-auto-folded avatar m-t-sm" style="background-color: #fff;">-->
    <!--<img src="{{getProfileImageUrl()}}" class="img-full" alt="...">-->
     <!-- -->
    <!--</span>-->
    <!--</a>-->
    
    
    <a href class="hidden-folded" ui-toggle-class="show" target="#user">
        
      <span class="block m-t-sm auto">
        <span class="pull-right">
          <i class="fa fa-fw fa-caret-down text"></i>
          <i class="fa fa-fw fa-caret-up text-active"></i>
        </span>
        <strong class="font-bold text-lt">User Settings</strong> 
      </span>
      <!--<span class="text-xs block">{{hotelState.profileData.jobTitle}} {{hotelState.profileData.jobDescriptor}}</span>-->
    </a>

    
    
  </div>
</div>
<!-- / user -->

<!-- nav -->
<nav class="navi hide" id="user" >
  <ul class="nav" ng-show="hotelState.profileData && hotelState.profileData.id>0">
    <li ui-sref-active="active">
      <a ui-sref="app.avatar">
        <i class="glyphicon glyphicon-user icon"></i>
        <span>Change Avatar</span>
      </a>
    </li>
    <!--<li ui-sref-active="active">-->
    <!--<a ng-click="resetCheckin()">-->
    <!--<i class="glyphicon glyphicon-cog icon"></i>-->
    <!--<span>Checkout</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="m-b-sm">-->
    <!--<a ui-sref="access.signin">-->
    <!--<i class="glyphicon glyphicon-log-out icon"></i>-->
    <!--<span>Logout</span>-->
    <!--</a>-->
    <!--</li>-->
  </ul>
</nav>

<li class="line dk"></li>
<nav ui-nav class="navi clearfix" ng-include="'angulr/tpl/blocks/nav.html'"></nav>
<!-- nav -->

<!-- aside footer -->
<!--<div class="wrapper m-t">-->
  <!--<div class="text-center-folded">-->
    <!--&lt;!&ndash;<span class="pull-right pull-none-folded">60%</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="hidden-folded" translate="aside.MILESTONE">Impressum</span>&ndash;&gt;-->
      <!--<a class="text-muted"  ui-sref="app.impressum">Impressum</a>-->
  <!--</div>-->
  <!--&lt;!&ndash;<progressbar value="60" class="progress-xxs m-t-sm dk" type="info"></progressbar>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="text-center-folded">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="pull-right pull-none-folded">35%</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="hidden-folded" translate="aside.RELEASE">Release</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<progressbar value="35" class="progress-xxs m-t-sm dk" type="primary"></progressbar>&ndash;&gt;-->
<!--</div>-->
