<div ng-class="{'menuPriceItem' : !showMenuItem.delimiter}"  style="margin-bottom: 10px;" >
    <div class="myFlex mySpaceBetween">

        <div class="v-middle" style="width: 25px; min-width: 25px; flex-basis: 25px; padding: 0; text-align: center; white-space: nowrap;">

            <b>{{showMenuItem.amount}}</b>&nbsp;x&nbsp;

            <div class="menuItem_{{showMenuItem.id}}_index menuItem_index hidden">
                {{ showMenuItem.orderIndex }}
            </div>
        </div>

        <div class="v-middle" layout="column" style="flex-grow: 1;flex-shrink: 1;" ng-style="showMenuItem.delimiter && {'font-size': '17px'}">
            <!-- editable username (text with validation) -->
            <a href="#" >
                <b>{{ showMenuItem.title || 'empty' }}</b>
            </a>
            <a href="#">
                {{ showMenuItem.shortDescription || '&nbsp;' }}
            </a>
        </div>
        <div layout="row" class="v-middle" style="width: 75px; min-width:75px; flex-basis: 75px; padding: 2px; text-align: right;" ng-style="(showMenuItem.delimiter || localState.menuAccepted || hotelState.currentMenuOrder.orderStatus=='ACCEPTED') && {'visibility':'hidden'}">
            <!-- editable status (select-local) -->
            <div class="menuItemAmountcount myBorder text-orange menuItem-{{showMenuItem.id}}-plus" ng-click="changeOrderingAmount(showMenuItem, '+', 'menuItem-'+showMenuItem.id+'-plus')">+</div>
            <div class="menuItemAmountcount myBorder text-orange menuItem-{{showMenuItem.id}}-minus" ng-click="changeOrderingAmount(showMenuItem, '-', 'menuItem-'+showMenuItem.id+'-minus')">-</div>
        </div>

    </div>
    <div>
        <div class="v-middle" style="white-space: nowrap; margin-left: 5px; padding: 0;" >
            <a href="#" ng-style="showMenuItem.delimiter && {'visibility':'hidden'}">
                {{ showMenuItem.price*showMenuItem.amount | currency:"":2}} <i class="fa fa-eur menu-euro"></i>
            </a>
        </div>
    </div>
</div>
