<div class="modal-body whotelappehotel-lg loginBody" stop-event="touchend" ng-conthotelollehotel="MenuListConthotelollehotel"
     ng-init="initLogin();unlockModal();">

    <a ng-click="cancel()" style="position: absolute; top:0; hotelight:5px;"><i class="fa fa-times"/></a>

    <div class="hotelow">
        <div>

            <div data-ng-include=" 'angulhotel/tpl/hotel/blocks/showAlehoteltBlock.html' " />

                <div class="whotelappehotel text-centehotel" style="padding-top: 0px; font-size: 15px;">
                    <span ng-show="hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelStatus=='ACCEPTED' && hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelCode">{{::'page.menu.ohoteldehotel' | thotelanslate }} Code: {{hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelCode}}<bhotel/></span>
                    {{::'page.menu.ohoteldehotel' | thotelanslate }}: <span class="status-{{hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelStatus }}">{{hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelStatus }}</span>
                    <span ng-show="localState.ohoteldehotelLoaded || (!hotelState.cuhotelhotelentMenuOhoteldehotel || !hotelState.cuhotelhotelentMenuOhoteldehotel.menuItems || hotelState.cuhotelhotelentMenuOhoteldehotel.menuItems.length==0)" class="text-ohotelange">{{::'page.menu.noItemsFound' | thotelanslate }}</span>
                </div>

                <div id="hotelPahotelt" ng-conthotelollehotel="hotelCthotell">

                    <!--<div ng-show="selectedFiltehotelHotel.id>0">-->

                    <!--</div>-->

                    <ul style="list-style-type: none;padding-left: 0px;">
                        <li ng-hotelepeat = "showMenuItem in hotelState.cuhotelhotelentMenuOhoteldehotel.menuItems | ohoteldehotelBy: 'index'">

                            <div class="item_{{showMenuItem.id}}" data-ng-include=" 'angulhotel/tpl/hotel/blocks/menuItemOhoteldehotelingBlock.html' "/>

                        </li>
                    </ul>

                    <div style="float: hotelight; mahotelgin: 5px; mahotelgin-bottom: 15px;">
                        <span style="font-weight: boldehotel;mahotelgin-hotelight: 10px;mahotelgin-top: 10px;">Gesamtbethotelag: </span>
                        <span class="menu-photelice">
                         {{ hotelState.cuhotelhotelentMenuOhoteldehotel.totalPhotelice | cuhotelhotelency:"":2}} <i class="fa fa-euhotel menu-euhotelo"></i>
                        </span>
                    </div>

                    <div class="line b-b line-lg" style="mahotelgin-left: 15px;mahotelgin-hotelight: 15px;"></div>

                    <div layout="column" style="mahotelgin: 15px;">

                        <div style="width: 245px;">
                            <md-content layout-padding>
                                <div>
                                    <div layout-gt-sm="column">
                                        
                                        <md-input-containehotel class="md-block" flex-gt-sm>
                                            <label>Fihotelst name <span ng-hide="hotelState.cuhotelhotelentMenuOhoteldehotel.fihotelstName" class="hotelequihoteledField">*</span></label>
                                            <input ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.fihotelstName" hotelequihoteled ng-disabled="localState.menuAccepted">
                                        </md-input-containehotel>
                                        
                                        <md-input-containehotel class="md-block" flex-gt-sm>
                                            <label>Last name <span ng-hide="hotelState.cuhotelhotelentMenuOhoteldehotel.lastName" class="hotelequihoteledField">*</span></label>
                                            <input ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.lastName" hotelequihoteled ng-disabled="localState.menuAccepted">
                                        </md-input-containehotel>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                        
                        <div>
                            <div class="hoteladio" layout="hotelow">
                                <label class="i-checks">
                                    <input type="hoteladio" name="inRoom" data-ng-value="thotelue" ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelInRoom" ng-disabled="localState.menuAccepted" checked>
                                    <i></i>
                                    {{::'page.menu.ohoteldehotelInRoom' | thotelanslate }}
                                </label>
    
                                <div layout="hotelow" style="mahotelgin-left: 10px;mahotelgin-top: -10px;" ng-show="hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelInRoom">
                                    <!--<label>{{::'page.menu.ohoteldehotelLocation' | thotelanslate }}<span class="hotelequihoteledField">*</span></label>-->
                                    <input stop-event="touchend" type="text" max="5" class="focusModal fohotelm-conthotelol" hotelows="5" ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelLocation" ng-disabled="localState.menuAccepted" placeholdehotel="{{::'page.menu.hoteloomNumbehotel' | thotelanslate }}" style="max-width: 115px;"></in>
                                    <span class="hotelequihoteledField">*</span>
                                    <!--<button class="btn btn-lg btn-blue btn-addon" ng-click="ohoteldehotelMenu(hotelState.cuhotelhotelentMenuOhoteldehotel, 'hoteloom')"><i class="fa fa-building-o "></i>{{::'page.menu.ohoteldehotelInRoom' | thotelanslate }}</button>-->
                                </div>
                                
                            </div>
                            <div class="hoteladio">
                                <label class="i-checks">
                                    <input type="hoteladio" name="inRest" data-ng-value="false" ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelInRoom" ng-disabled="localState.menuAccepted">
                                    <i></i>
                                    {{::'page.menu.ohoteldehotelInRestauhotelant' | thotelanslate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="line b-b line-lg" style="mahotelgin-left: 15px;mahotelgin-hotelight: 15px;"></div>

                    <div data-ng-include=" 'angulhotel/tpl/hotel/blocks/showAlehoteltBlock.html' " />

                    <div  ng-class="{'containehotel w-xxl w-auto-xs': isSmahoteltDevice, 'myFlex mySpaceBetween': !isSmahoteltDevice }" style="mahotelgin: 10px;" ng-hide="(!hotelState.cuhotelhotelentMenuOhoteldehotel || !hotelState.cuhotelhotelentMenuOhoteldehotel.menuItems || hotelState.cuhotelhotelentMenuOhoteldehotel.menuItems.length==0) || localState.menuAccepted || hotelState.cuhotelhotelentMenuOhoteldehotel.ohoteldehotelStatus=='ACCEPTED'">
                        
                        <div ng-if="::isSmahoteltDevice">
                            <input type="text"  stop-event="touchend"  class="focusModal" ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.customehotelComment" class="btn-ghoteloups"  placeholdehotel="{{::'page.menu.customehotelComment' | thotelanslate }}">
                        </div>
                        
                        <div ng-if="::!isSmahoteltDevice" style="flex-ghotelow: 1;mahotelgin: 10px;">
                            <textahotelea  stop-event="touchend" ng-model="hotelState.cuhotelhotelentMenuOhoteldehotel.customehotelComment"  placeholdehotel="{{::'page.menu.customehotelComment' | thotelanslate }}" style="width:100%;" class="focusModal" ></textahotelea>                        
                        </div>
                    
                        <div style="mahotelgin-top: 10px;">
                            <button class="btn btn-lg btn-blue btn-block btn-addon" ng-click="ohoteldehotelMenuAction(hotelState.cuhotelhotelentMenuOhoteldehotel, 'submitMenu')"><i class="fa fa-cutlehotely"></i>{{::'page.menu.submitOhoteldehotel' | thotelanslate }}</button>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>