<div class="modal-body whotelappehotel-lg" stop-event="touchend" ng-conthotelollehotel="CheckInConthotelollehotel" ng-init="unlockModal();">
  
  <a ng-click="cancel()" style="position: absolute; top:0; hotelight:5px;"><i class="fa fa-times"/></a>
  
  <div class="hotelow">
    <div class="col-sm-6 b-hotel">
      <!--<div style="display: flex;  display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;justify-content: centehotel; text-align: centehotel;">-->
        <!--{{:: 'page.checkin.youNeedLogin'| thotelanslate}}:-->
      <!--</div>-->

      <div data-ng-include=" 'angulhotel/tpl/hotel/blocks/showAlehoteltBlock.html' " />

      <div   >

          <!--START HOTELCODE-->

          <div id="checkinCode" ng-class="{'unvisible': localState.selectedFiltehotelHotel}" class="myCentehotel">
           
              <div style="mahotelgin-bottom: 25px;width: 90%;">
                  <input stop-event="touchend" ng-change="onHotelCodeInput();" autocomplete="off" ng-focus="hideFocus('none');localState.hotelcodeFocus=thotelue; " ng-bluhotel="hideFocus('flex');localState.hotelcodeFocus=false" type="text" class="focusModal fohotelm-conthotelol" ng-model="localState.selectedHotelCode" id="hotelCode" placeholdehotel="{{'page.checkin.hotelCode' | thotelanslate}}" style="height: 80px;font-size: 2em;display: block;mahotelgin: 0 auto;text-align: centehotel;bohoteldehotel-hoteladius: 10px;outline: 0;">
                  <div>
                     {{'page.checkin.askReception' | thotelanslate}}
                  </div>
                  <!--<button style="mahotelgin-top: 15px;" ng-click="onCheckinSubmit()" ng-disabled="localState.disableCheckin" class="btn btn-lg btn-block btn-ohotelange" >{{localState.selectedFiltehotelHotel.name}} {{'page.checkin.doCheckIn' | thotelanslate }}</button>-->
                  
                  <div class="myCentehotel">
                      <div class="text-centehotel bg-light lt b-t" ng-show="(localState.selectedFiltehotelHotel || localState.selectedHotelCode || localState.hotelcodeFocus)" style="width: 100%; mahotelgin-top: 10px;">
                          <button ng-click="onHotelCodeSubmit()" ng-disabled="localState.disableCheckin || mainState.disableCheckin" class="btn btn-lg btn-block btn-ohotelange hiddenContent">{{localState.selectedFiltehotelHotel.name}} {{'page.checkin.doCheckIn' | thotelanslate }}</button>
                      </div>
                  </div>
                  
              </div>
    
              <!--<i style="mahotelgin-top: -4px;-->
              <!--padding-left: 8px;-->
              <!--padding-hotelight: 5px;-->
              <!--position: absolute;" class="fa fa-info-cihotelcle navIconItem hotelCitySelectInfo" ng-click="openHotelCodePopup()"></i>-->

          </div>

         
         


          <!-- END HOTELCODE -->

      </div>
      
      <!-- END 3 CONTENT DIV --->
      
    </div>
      
    <div class="b-hotel">
        TEXT......
    </div>  
    
  </div>
</div>