<div ng-controller="filterHotelCityCtrl">
    <img src="angulr/icons/loader.gif" ng-show="localState.showCityLoading">
    
    <div ng-hide="localState.showCityLoading" class="myCenter" >
        <div class="hotelCityBlockWrapper">

            <div class="form-group" style="margin-bottom: 0px;">
                <!--<label class="col-sm-3 control-label text-left">Default</label>-->
                <div class="selectWrapper">
                    <select ng-change="onChangeHotelCitySelector();" class="form-control ng-pristine ng-valid ng-touched" ng-model="localState.selectedCityHotel" id="hotelCity" ng-options="hotel as hotel.city for hotel in mainState.hotelCitiesArray | unique:'city'" placeholder=" {{::'page.checkin.hotelCityManualSelect' | translate}}">
                        <option value="" disabled> {{::'alert.info.chooseHotelCity' | translate}}</option>
                    </select>
                </div>
                <img src="angulr/icons/loader.gif" ng-show="localState.showCityHotelLoading">
            </div>
            <!--<span ng-show="localState.selectedCityHotel">Hotels in {{localState.selectedCityHotel.city}}:</span>-->
            
            <!--<select ng-change="onChangeFilterHotelSelector()" ng-show="localState.selectedCityHotel && !localState.showCityHotelLoading" style="margin-top: 5px;" class="form-control ng-pristine ng-valid ng-touched" ng-model="localState.selectedFilterHotel" id="hotelListByCitySelector" ng-options="hotel as hotel.name for hotel in localState.hotelsFilteredByCityArray" placeholder=" {{'page.checkin.hotelManualSelect' | translate}}">-->
                <!--<option value="" disabled><span ng-show="localState.selectedCityHotel.city">Hotels in {{localState.selectedCityHotel.city}}</span></option>-->
                <!--&lt;!&ndash;<option value=""> {{::'page.checkin.noHotelChoosed' | translate}}</option>&ndash;&gt;-->
            <!--</select>-->


            <div class="form-group">
                <!--<label class="col-sm-3 control-label text-left">With a clear button</label>-->
                <div>
                    <div class="input-group" style="display: flex;">

                        <div class="selectWrapper" style="margin-top: 5px; width: 100%;" >
                            <select ng-change="onChangeFilterHotelSelector()" ng-show="localState.selectedCityHotel && !localState.showCityHotelLoading" ng-style="localState.hotelSelectCheckinButtonShow && {'display':'block'}" class="form-control ng-pristine ng-valid ng-touched" ng-model="localState.selectedFilterHotel" id="hotelListByCitySelector" ng-options="hotel as hotel.name for hotel in localState.hotelsFilteredByCityArray" placeholder=" {{'page.checkin.hotelManualSelect' | translate}}">
                                <option value="" disabled><span ng-show="localState.selectedCityHotel.city">Hotels in {{localState.selectedCityHotel.city}}</span></option>
                                <!--<option value=""> {{::'page.checkin.noHotelChoosed' | translate}}</option>-->
                            </select>
                        </div>
                        
                        <span class="input-group-btn" ng-show="localState.hotelSelectCheckinButtonShow && localState.selectedFilterHotel && !localState.showCityHotelLoading" style="width: auto;">
                          <button ng-click="onHotelCheckinClick(localState.selectedFilterHotel? localState.selectedFilterHotel.id : null)" class="btn btn-orange" style="margin-top: 5px;margin-left: 0px;">
                              <span class="fa fa-chevron-right"></span>
                          </button>
                        </span>
                        

                    </div>
                </div>
            </div>
            
            
        </div>
        <i style="position: absolute;" class="fa fa-info-circle navIconItem hotelCitySelectInfo" ng-click="openCityPopup()"></i>
    </div>
    
   
</div>
