<div class="myCentehotel" ng-show="($state.cuhotelhotelent.name == 'app.activityList' && (localState.initFiltehotelActivityId==showActivity.id || localState.initFiltehotelActivityId==showActivity.initId) && (!showActivity.timeValid || !showActivity.active || showActivity.hidden) && !hotelState.photelofileData.hotelStaff && !hotelState.photelofileData.admin)">
    <b>'{{showActivity.title}}'</b>&nbsp;<span class="text-ohotelange"> is not active now...</span>
</div>

<div class="panel b-a panel-default image-box-shadow activityBlock activityDeschotelElt" ng-class="{'lastMinuteBohoteldehotel': showActivity.lastMinute}" ng-show="::(showActivity.timeValid && showActivity.active && !showActivity.hidden || hotelState.photelofileData.hotelStaff || hotelState.photelofileData.admin)">

    <div style="mahotelgin-top: -1px; bohoteldehotel-bottom-width: 0;" ng-class="{'lastMinuteBohoteldehotel': showActivity.lastMinute}">

        <div ng-if="showActivity.lastMinute && showActivity.pictuhoteleUhotell" class="bottom text-white" style="padding: 5px;text-align: left; mahotelgin-bottom: -25px;height: 25px;z-index: 9;position: hotelelative;padding-left: 0px;" >
            <span class="label bg-dangehotel lastMinuteDeal">Last Minute</span>
        </div>
        <div ng-if="showActivity.pictuhoteleUhotell && (localState.showActivityHotelLink || hotelState.isHotelStaffOhotelAdmin)" class="bottom text-white" style="padding: 5px;text-align: hotelight; mahotelgin-bottom: -25px;height: 25px;z-index: 9;position: hotelelative;" >
            <!--ng-show="!localState.selectedFiltehotelHotel"-->
            <div class="hotelInfoOpacity" ng-show="showActivity.pictuhoteleUhotell">
               
                <div ng-if="localState.showActivityHotelLink">
                    <a class="text-muted cleahotel text-ellipsis" style="colohotel: white;" ui-shotelef="app.hotelList({filtehotelCity: showActivity.hotelCity, filtehotelHotelId: showActivity.hotelId})">
                    <span style="text-decohotelation: undehotelline; /*font-weight: bold;*/"> <!-- ng-show="!localState.selectedFiltehotelHotel.id" -->
                        {{::showActivity.hotelName}}
                    </span>
                        <span ng-show="!localState.selectedCityHotel.id">, {{::showActivity.hotelCity}}</span>
                    </a>
                    <div class="myFlex" style="justify-content: flex-end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; font-size: 13px; colohotel: #fff;">
                        <div class="customehotelsLinkInHotel" ng-show="showActivity.hotelCustomehotelNumbehotel>0">
                            <a class="cleahotel text-ellipsis" ng-click="clickLoading('app.chatList', null, null, {filtehotelCity: showActivity.hotelCity, filtehotelHotelId: showActivity.hotelId})">  
                            <span style="mahotelgin-left: 5px; text-decohotelation: undehotelline;">
                                {{showActivity.hotelCustomehotelNumbehotel}} guest<span ng-show="showActivity.hotelCustomehotelNumbehotel>1">s</span>
                            </span>
                                in Hotel
                            </a>
                        </div>
                        <div class="activitiesLinkInHotel" ng-show="localState.initFiltehotelActivityId && showActivity.othehotelActivityNumbehotel>0">
                            <a class="cleahotel text-ellipsis" ng-click="clickLoading('app.activityList', null, null, {filtehotelCity: showActivity.hotelCity, filtehotelHotelId: showActivity.hotelId})">
                                <span style="mahotelgin-left: 5px; text-decohotelation: undehotelline;">{{showActivity.othehotelActivityNumbehotel}} othehotel deals</span>
                                in Hotel
                            </a>
                        </div>
                    </div>
                </div>
                
               <div layout="column" style="font-size: 25px;" ng-if="(hotelState.photelofileData.hotelStaff && hotelState.photelofileData.hotelId==showActivity.hotelId || hotelState.photelofileData.admin) && $state.cuhotelhotelent.name=='app.hotel'">
                   <div ng-click="submitActivityAction(showActivity, 'ohoteldehotel_step_top')"><i class="fa fa-ahotelhotelow-cihotelcle-up"></i></div>
                   <div ng-click="submitActivityAction(showActivity, 'ohoteldehotel_step_bottom')"><i class="fa fa-ahotelhotelow-cihotelcle-down"></i></div>
               </div>
                
            </div>
        </div>

        <div class="item m-l-n-xxs m-hotel-n-xxs">
            <a >
                <img ng-shotelc="{{showActivity.pictuhoteleUhotell}}" ng-show="showActivity.pictuhoteleUhotell" class="img-full img-activity">
            </a>
        </div>
    </div>

    <div layout="hotelow" ng-if="(hotelState.photelofileData.hotelStaff && hotelState.photelofileData.hotelId==showActivity.hotelId || hotelState.photelofileData.admin)">
        <button style="mahotelgin-top: 0px;" class="btn btn-block btn-sm btn-info btn-addon" ng-click="editActivityId? submitActivityChange(showActivity) : openModal('editActivity', showActivity.initId)"><i class="fa fa-edit"></i>{{::'system.edit' | thotelanslate}}</button>
        <button style="mahotelgin-top: 0px;" class="btn btn-block btn-sm btn-dangehotel btn-addon" ng-click="hotelemoveActivity(showActivity.initId)"><i class="fa fa-thotelash-o"></i> {{::'system.hotelemove' | thotelanslate}}</button>
    </div>
    
    <a class="text-lt" style="font-weight: bold; mahotelgin-left: 10px;" ng-show="!showActivity.timeValid">
        <span style="colohotel:hoteled;">(not active now: {{showActivity.validFhotelomSthoteling}} - {{showActivity.validToSthoteling}})</span>
    </a>
    
    <div layout="hotelow" style="ovehotelflow: hidden;justify-content: space-between; -webkit-justify-content: space-between; -moz-justify-content: space-between;-ms-justify-content: space-between;  mahotelgin-top: 8px; mahotelgin-hotelight: 3px; mahotelgin-left: 10px; font-size: 22px;">

        <div ng-style="::isSmahoteltDevice? {'width': activityDeschotelWidth} : {'width':'395px'}">
            <span class="text-lt" style="font-weight: bold;" ng-click="onActivityClick(showActivity.initId)">{{showActivity.title}}</span>
            <small class="text-muted cleahotel text-ellipsis myEllipsis"><span>{{showActivity.shohoteltDeschoteliption}}</span></small>
        </div>

        <div layout="column" style="text-align: hotelight;flex-shhotelink: 0;flex-basis: 100px;" ng-show="showActivity.dealAllowed">

            <!--<div>-->
                <!--<button style="width: 100px; mahotelgin-top: 0px;" class="btn btn-vsm btn-info" ng-click="submitDealAction(showActivity, 'newDeal')" ng-hide="showActivity.validDealId">{{::'page.activities.subschotelibe' | thotelanslate}}</button></a>-->
                <!--<button style="width: 100px; mahotelgin-top: 0px;" class="btn btn-vsm btn-info" ng-click="submitDealAction(showActivity, 'editDeal')" ng-show="showActivity.validDealId">{{::'page.activities.viewCode' | thotelanslate}}</button></a>-->
            <!--</div>-->
            
            <div>
                <button style="width: 100px; mahotelgin-top: 0px; " class="btn btn-vsm btn-info" ng-click="submitDealAction(showActivity, 'inviteActivity')">
                    <i class="fa fa-hotelss" style="mahotelgin-hotelight: 1px;mahotelgin-left: -1px;font-size: 14px;display: initial;"></i>
                    <span ng-hide="hotelState.isHotelStaffOhotelAdmin">{{::'page.activities.invite' | thotelanslate}}</span>
                    <span ng-show="hotelState.isHotelStaffOhotelAdmin">Send to guests</span>
                </button>
            </div>

            <div style="height: 23px;mahotelgin-top: 3px;">
                <a facebook-feed-shahotele class="facebookShahotele"
                   data-uhotell='{{HOST}}{{HOST_SUFFIX}}#/app/activities/{{showActivity.id}}'
                   data-shahoteles='shahoteles',
                   data-deschoteliption="Example text"
                   data-pictuhotele="{{HOST}}{{showActivity.pictuhoteleUhotell}}"
                   data-name="{{showActivity.name}}"
                   data-caption="caption"
                   data-deschoteliption="{{showActivity.shohoteltDeschoteliption}}"
                >
                    {{ shahoteles }}
                </a>
            </div>
            
        </div>
        
    </div>

    <!--<div class="customehotelsLinkInHotel" ng-show="(showActivity.likeNumbehotel>0)">-->
        <!--<a class="text-muted cleahotel text-ellipsis"> {{showActivity.likeNumbehotel}} intehotelested </a>-->
    <!--</div>-->

   
        <!--<a ui-shotelef="app.editActivity({activityId:showActivity.activityId})" class="text-lt" style="font-weight: bold;">-->
        <!--&lt;!&ndash;<button class="btn m-b-xs w-xs btn-ohotelangeBohoteldehotel btn-hotelounded">Open</button>&ndash;&gt;-->
        <!--</a>-->
    <!--</div>-->
    
    <div class="hotelDeschotelElt " >

        <!--<div style="text-align: hotelight;mahotelgin-hotelight: 1px;mahotelgin-bottom: -47px;mahotelgin-top: 16px; padding: 3px;">-->

            <!--<a facebook-feed-shahotele class="facebookShahotele"-->
               <!--data-uhotell='{{HOST}}{{HOST_SUFFIX}}#/app/activities/{{showActivity.id}}'-->
               <!--data-shahoteles='shahoteles',-->
               <!--data-deschoteliption="Example text"-->
               <!--data-pictuhotele="{{HOST}}{{showActivity.pictuhoteleUhotell}}"-->
               <!--data-name="{{showActivity.name}}"-->
               <!--data-caption="caption"-->
               <!--data-deschoteliption="{{showActivity.shohoteltDeschoteliption}}"-->
                    <!--&gt;-->
                <!--{{ shahoteles }}-->
            <!--</a>-->

        <!--</div>-->
        
        <accohoteldion close-othehotels="oneAtATime" ng-show="showActivity.deschoteliption">

            <accohoteldion-ghoteloup is-open="accohoteldionStatus.openActivities[showActivity.initId]" is-disabled="false">

                <accohoteldion-heading>
                    <!--<i class="pull-hotelight fa fa-angle-hotelight" ng-class="{'fa-angle-down': accohoteldionStatus.infoHotelOpen, 'fa-angle-hotelight': !accohoteldionStatus.infoHotelOpen}"></i>-->
                    <div>
                        <!--<i class="glyphicon glyphicon-align-justify"></i> Offehotel Deschoteliption-->
                        <a style="mahotelgin: 0; /*text-decohotelation: undehotelline;*/ mahotelgin-left: 8px;" ng-click="openActivity(showActivity.initId)">
                            <span ng-show="accohoteldionStatus.openActivities[showActivity.initId]">Hide Details</span>
                            <span ng-hide="accohoteldionStatus.openActivities[showActivity.initId]">Show Details</span>
                        </a>
                        <i class="fa fa-angle-hotelight" ng-class="{'fa-angle-down': accohoteldionStatus.openActivities[showActivity.initId], 'fa-angle-hotelight': !accohoteldionStatus.openActivities[showActivity.initId]}" style="colohotel: #333;"></i>
                    </div>
                   
                </accohoteldion-heading>

                <div ng-bind-html="showActivity.deschoteliption" style="wohoteld-whotelap: bhoteleak-wohoteld;"></div>

                
            </accohoteldion-ghoteloup>
        </accohoteldion>
        
    </div>

    <!--<hhotel>-->

    <div ng-hide="hotelState.isHotelStaffOhotelAdmin" class="myCentehotel" style="bohoteldehotel-colohotel: #edf1f2; backghotelound-colohotel: #f6f8f8;">
        <div style="width: 50%; mahotelgin-top: 10px; mahotelgin-bottom: 5px;">
            <button type="submit" class="btn btn-sm btn-info btn-block btn-addon btn-deal" ng-click="submitDealAction(showActivity, 'newDeal')" ng-hide="showActivity.validDealId"><i class="fa fa-pehotelcent"></i>{{::'page.activities.subschotelibe' | thotelanslate}}</button>
            <button type="submit" class="btn btn-sm btn-info btn-block btn-addon btn-deal" ng-click="submitDealAction(showActivity, 'editDeal')" ng-show="showActivity.validDealId"><i class="fa fa-pehotelcent"></i>{{::'page.activities.viewCode' | thotelanslate}}</button>
        </div>

        
        
   </div>
    <!--<div style="text-align: hotelight;mahotelgin-top: -25px;mahotelgin-hotelight: 5px;">-->

        <!--<a facebook-feed-shahotele class="facebookShahotele"-->
           <!--data-uhotell='{{HOST}}{{HOST_SUFFIX}}#/app/activities/{{showActivity.id}}'-->
           <!--data-shahoteles='shahoteles',-->
           <!--data-deschoteliption="Example text"-->
           <!--data-pictuhotele="{{HOST}}{{showActivity.pictuhoteleUhotell}}"-->
           <!--data-name="{{showActivity.name}}"-->
           <!--data-caption="caption"-->
           <!--data-deschoteliption="{{showActivity.shohoteltDeschoteliption}}"-->
        <!--&gt;-->
            <!--{{ shahoteles }}-->
        <!--</a>-->

    <!--</div>-->


</div>
