
<!-- list -->
<ul class="nav">


  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <!--<b class="badge bg-info pull-right" ng-show="hotelNotification.notificationObj.myDealsNumber>0">{{hotelNotification.notificationObj.myDealsNumber}}</b>-->
      <div class="menuIconLeft iconActivity"/>
      <span class="font-bold menuLabelLeft" translate="system.activities">activities</span>
    </a>
    <ul class="nav nav-sub dk">
      
      <li class="nav-sub-header">
        <a href>
          <span translate="system.activities">activities</span>
        </a>
      </li>
      
      <li ui-sref-active="active" class="leftMenuHotel subMenu" ng-show="!hotelState.profileData.checkedIn">
        <a ui-sref="app.activityList" class="menuALeft">

          <span class="font-bold menuLabelLeft subMenuLabel" translate="tab.allActivities">All Activities</span>
        </a>
      </li>
      
      <li ui-sref-active="active" class="leftMenuHotel subMenu" ng-show="hotelState.profileData.logged && hotelState.profileData.checkedIn">
        <a ui-sref="app.hotel" class="menuALeft">
          <b class="badge bg-orange pull-right" ng-show="hotelNotification.notificationObj.hotelUnreadActivitiesNumber && hotelState.profileData.id>0">{{hotelNotification.notificationObj.hotelUnreadActivitiesNumber}}</b>
          <span class="font-bold menuLabelLeft subMenuLabel" translate="system.hotelActivities">Hotel Deals</span>
        </a>
      </li>

      <li ui-sref-active="active" class="leftMenuHotel subMenu" ng-show="hotelState.profileData.hotelStaff || hotelState.profileData.admin">
        <a ui-sref="app.dealList({staffScope:true})" class="menuALeft">

          <span class="font-bold menuLabelLeft subMenuLabel">Staff Deals</span>
        </a>
      </li>

      <li ui-sref-active="active" class="leftMenuHotel subMenu" ng-show="!hotelState.profileData.logged && hotelState.profileData.checkedIn">
        <a ui-sref="app.hotelPreview" class="menuALeft">
          <b class="badge bg-orange pull-right" ng-show="hotelNotification.notificationObj.hotelUnreadActivitiesNumber && hotelState.profileData.id>0">{{hotelNotification.notificationObj.hotelUnreadActivitiesNumber}}</b>
          <span class="font-bold menuLabelLeft subMenuLabel" translate="system.hotelActivities">Hotel Activities</span>
        </a>
      </li>

      <li ui-sref-active="active" class="leftMenuHotel subMenu" ng-show="!hotelState.profileData.hotelStaff">
        <a ui-sref="app.dealList({staffScope:false})" class="menuALeft">
            
         <b class="badge bg-info pull-right" ng-show="hotelNotification.notificationObj.myDealsNumber>0">{{hotelNotification.notificationObj.myDealsNumber}}</b>

          <span class="font-bold menuLabelLeft subMenuLabel" translate="tab.myDeals">My Deals</span>
        </a>
      </li>
      
    </ul>
  </li>

 
  

  <li  ui-sref-active="active" class="leftMenuCheckout" ng-show="hotelState.profileData && !hotelState.profileData.checkedIn && (!hotelState.profileData.hotelStaff)">
    <a ui-sref="app.checkin" class="menuALeft">
      <!--<i class="fa fa-sign-out navIconItem"></i>-->
      <!--<img src="angulr/img/build/menu/bottom/checkout-inactive.png" class="menuIconLeft"/>-->
      <div class="menuIconLeft iconCheckout"/>
      <span class="menuLabelLeft" translate="system.checkin">Checkin</span>
    </a>
  </li>
  
  <!--<li ui-sref-active="active" ng-show="hotelState.currentHotelId && hotelState.currentHotel.id>0">-->
    <!--<a ui-sref="app.editActivity">-->
      <!--<b class="badge bg-info pull-right" ng-show="hotelUnreadActivitiesNumber">{{hotelUnreadActivitiesNumber}}</b>-->
      <!--&lt;!&ndash;<i class="fa fa-weibo navIconItem"></i>&ndash;&gt;-->
      <!--<img src="angulr/img/build/menu/iconHotelLeft.png" class="menuIconLeft"/>-->
      <!--<span class="font-bold menuLabelLeft" translate="system.activities">Activities</span>-->
    <!--</a>-->
  <!--</li>-->
  <li ui-sref-active="active" class="leftMenuChat">
    <!--<a ng-click="clickLoading('app.chatList', null, null, {hotelScope: hotelState.profileData.checkedIn && app.header.tabIndex==1})" class="menuALeft uiSrefLink">-->
    <a ng-click="clickLoading('app.chatList', null, null, {hotelScope: hotelState.profileData.checkedIn})" class="menuALeft uiSrefLink">
      <b class="badge bg-orange pull-right menuNotificationLeft" ng-show="hotelNotification.notificationObj.unreadChatsCounter && hotelState.profileData.id>0">{{hotelNotification.notificationObj.unreadChatsCounter}}</b>
      <!--<i class="fa fa-comments-o navIconItem"></i>-->
      <!--<img src="angulr/img/build/menu/bottom/chat-inactive.png" class="menuIconLeft"/>-->
      <div class="menuIconLeft iconChat"/>
      <!--<span class="font-bold menuLabelLeft" translate="system.contacts" ng-hide="app.header.tabIndex==1">Contacts</span>-->
      <span class="font-bold menuLabelLeft" translate="system.chat">Chat</span>
    </a>
    <a ui-sref="app.chatList" style="display: none;"></a>
  </li>
    
  <li ui-sref-active="active" class="leftMenuWall"  ng-show="hotelState.profileData.checkedIn">
    <a ng-click="clickLoading('app.wall')" class="menuALeft uiSrefLink">
      <!--<b class="badge bg-info pull-right">9</b>-->
      
      <b class="badge bg-orange pull-right menuNotificationLeft" ng-show="hotelNotification.notificationObj.hotelUnreadWallNumber && hotelState.profileData.id>0">{{hotelNotification.notificationObj.hotelUnreadWallNumber}}</b>

      
      <!--<i class="fa fa-comment-o  navIconItem"></i>-->
      <!--<img src="angulr/img/build/menu/bottom/wallpost-inactive.png" class="menuIconLeft"/>-->
      <div class="menuIconLeft iconWall"/>
      <span ui-sref="app.wall" class="font-bold menuLabelLeft" translate="system.wall">Wall</span>
    </a>
    <a ui-sref="app.wall" style="display: none;"></a>
  </li>

  <li ui-sref-active="active" class="leftMenuWall" >
    <a ui-sref="app.menuList({filterCity: hotelState.profileData.hotelCity, filterHotelId: hotelState.profileData.hotelId} )" class="menuALeft uiSrefLink">
      <!--<b class="badge bg-info pull-right">9</b>-->

      
      <div class="badge bg-orange pull-right menuNotificationLeft" ng-show="(hotelState.profileData.hotelStaff || hotelState.profileData.admin) && hotelNotification.notificationObj.menuOrderInRoomNumber && hotelNotification.notificationObj.menuOrderInRoomNumber>0 && hotelState.profileData.id>0 " ng-click="clickLoading('app.dealList', null, null, {staffScope: hotelState.profileData.checkedIn})">{{hotelNotification.notificationObj.menuOrderInRoomNumber}} Room</div>
      <!--<b class="badge bg-orange pull-right menuNotificationLeft" ng-show="hotelNotification.notificationObj.menuOrderInRoomNumber>0 && hotelState.profileData.id>0 ">{{hotelNotification.notificationObj.menuOrderInRoomNumber}}</b>-->

      <i class="fa fa-cutlery navIconItem leftMenuIcon"></i>

      <!--<img src="angulr/img/build/menu/bottom/wallpost-inactive.png" class="menuIconLeft"/>-->
      <!--<div class="menuIconLeft iconWall"/>-->
      <span class="font-bold menuLabelLeft">Menu</span>
    </a>
    <!--<a ui-sref="app.menuList" style="display: none;"></a>-->
  </li>
    
  <li  ui-sref-active="active" class="leftMenuCheckout" ng-show="hotelState.profileData.checkedIn && (!hotelState.profileData.hotelStaff)">
    <a ng-click="checkinService.resetCheckin()" class="menuALeft uiSrefLink">
      <!--<i class="fa fa-sign-out navIconItem leftMenuIcon"></i>-->
      <!--<img src="angulr/img/build/menu/bottom/checkout-inactive.png" class="menuIconLeft"/>-->
      <div class="menuIconLeft iconCheckout"/>
      <span class="menuLabelLeft" translate="system.checkout">Checkout</span>
    </a>
  </li> 
        
    
        <li  ui-sref-active="active" class="leftMenuLogout" ng-show="hotelState.profileData && hotelState.profileData.id>0">
          <a ng-click="loginService.resetLogin()" class="menuALeft uiSrefLink">
            <!--<i class="fa fa-chain-broken navIconItem leftMenuIcon"></i>-->
            <img ng-src="angulr/img/build/menu/bottom/logout-inactive.png" class="menuIconLeft"/>
            <span class="menuLabelLeft" translate="system.logout">Logout</span>
          </a>
        </li> 
    
       <li  ui-sref-active="active" class="leftMenuLogout" ng-show="!hotelState.profileData.logged || hotelState.profileData.id==0">
          <a class="menuALeft" ng-click="openModal('login')">
            <!--<i class="fa fa-chain-broken navIconItem leftMenuIcon"></i>-->
            <img ng-src="angulr/img/build/menu/bottom/logout-inactive.png" class="menuIconLeft"/>
            <span class="menuLabelLeft" translate="Login">Login</span>
          </a>
        </li>

  <li class="leftMenuLanguage">
    <a ui-sref="app.language" class="menuALeft">
      <b  class="badge bg-orange-border pull-right menuNotificationLeft" style="position: absolute;right: 5px; border-width: 2px; text-transform: capitalize;">{{hotelState.prefferedLanguage}}</b>
      <!--<i class="fa fa-chain-broken navIconItem leftMenuIcon"></i>-->
      <img ng-src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>
      <span class="menuLabelLeft" translate="system.language">language</span>

    </a>
    <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
    <!--{{ app.rootSettings.prefferedLanguage }}-->
    <!--</a>-->
  </li>

  <li class="line dk" ng-show="hotelState.profileData"></li>


  <li  ui-sref-active="active" >
    <a ui-sref="app.feedback" class="menuALeft">
      <!--<b  class="badge bg-orange-border pull-right menuNotificationLeft" style="position: absolute;right: 5px; border-width: 2px;">{{gelLanguageKey()}}</b>-->
      <i class="fa fa-envelope-o navIconItem leftMenuIcon"></i>
      <!--<img src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>-->
      <span class="menuLabelLeft" translate="system.feedback">Feedback</span>

    </a>
    <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
    <!--{{ app.rootSettings.prefferedLanguage }}-->
    <!--</a>-->
  </li>



  <li  ui-sref-active="active" ng-if="hotelState.profileData.checkedIn && (hotelState.profileData.hotelStaff || hotelState.profileData.admin)">
    <a ng-click="openModal('inviteActivity')" class="menuALeft">
      <!--<b  class="badge bg-orange-border pull-right menuNotificationLeft" style="position: absolute;right: 5px; border-width: 2px;">{{gelLanguageKey()}}</b>-->
      <i class="fa fa-rss navIconItem leftMenuIcon"></i>
      <!--<img src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>-->
      <span class="menuLabelLeft" translate="system.hotelFeed">HotelFeed</span>
      
    </a>
    <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
      <!--{{ app.rootSettings.prefferedLanguage }}-->
    <!--</a>-->
  </li>

  <li  ui-sref-active="active" class="leftMenuLogout" ng-show="!hotelState.profileData.logged || hotelState.profileData.id==0">
    <a ui-sref="app.hotelLogin" class="menuALeft">
      <!--<i class="fa fa-chain-broken navIconItem leftMenuIcon"></i>-->
      <div class="menuIconLeft iconHotel"/>
      <span class="menuLabelLeft" translate="Hotel Login">Hotel Login</span>
    </a>
  </li>
  
  <li  ui-sref-active="active" ng-if="hotelState.profileData.checkedIn && (hotelState.profileData.hotelStaff || hotelState.profileData.admin)">
    <a ui-sref="app.editHotel" class="menuALeft">
      <!--<b  class="badge bg-orange-border pull-right menuNotificationLeft" style="position: absolute;right: 5px; border-width: 2px;">{{gelLanguageKey()}}</b>-->
      <i class="fa fa-pencil-square-o navIconItem leftMenuIcon"></i>
      <!--<img src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>-->
      <span class="menuLabelLeft" translate="page.hotel.updateHotelInfo">Update HotelInfo</span>
      
    </a>
    <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
      <!--{{ app.rootSettings.prefferedLanguage }}-->
    <!--</a>-->
  </li>

    <li  ui-sref-active="active" ng-if="hotelState.profileData.checkedIn && (hotelState.profileData.hotelStaff || hotelState.profileData.admin)">
        <a ui-sref="app.hotelMailList" class="menuALeft">
            <i class="fa fa-envelope-o navIconItem leftMenuIcon"></i>
            <!--<img src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>-->
            <span class="menuLabelLeft">Wellcome Mail</span>

        </a>
        <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
        <!--{{ app.rootSettings.prefferedLanguage }}-->
        <!--</a>-->
    </li>

    <li  ui-sref-active="active" >
    <a ui-sref="app.about" class="menuALeft">
      <i class="fa fa-info-circle navIconItem leftMenuIcon"></i>
      <!--<img src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>-->
      <span class="menuLabelLeft" translate="system.about">About</span>
      
    </a>
    <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
      <!--{{ app.rootSettings.prefferedLanguage }}-->
    <!--</a>-->
  </li>
    
  
  <li  ui-sref-active="active" ng-if="::isSmartDevice">
    <a ui-sref="app.impressum" class="menuALeft">
      <i class="fa fa-info navIconItem leftMenuIcon"></i>
      <!--<img src="angulr/img/build/menu/bottom/language-inactive.png" class="menuIconLeft"/>-->
      <span class="menuLabelLeft">Impressum</span>
      
    </a>
    <!--<a id="languageSelector" editable-select="languages" e-ng-options="s.value as s.text for s in languages">-->
      <!--{{ app.rootSettings.prefferedLanguage }}-->
    <!--</a>-->
  </li>
  <!--<li>-->
    <!--<a ui-sref="app.form.imagecrop">-->
      <!-- -->
      <!--&lt;!&ndash;<b class="badge bg-success pull-right">30%</b>&ndash;&gt;-->
      <!--<span translate="system.profile">My cccc</span>-->
    <!--</a>-->
  <!--</li>-->
  
  <!--<li>-->
    <!--<a ui-sref="app.docs">-->
      <!--<i class="icon-question icon"></i>-->
      <!--<span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>-->
    <!--</a>-->
  <!--</li>-->
</ul>
<!-- / list -->
