<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Hotel Anmelden</h1>
</div>

<div id="minPaddingPage" class="wrapper-md" ng-controller="HotelRegisterController" ng-init="
app.hideFooter = true;
app.header.showTab = false;
app.header.showBackArrow = true;
">

  <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />



  <div class="wrapper-md">
    <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
      
      <tab heading="Hotel-Information" active="steps.step1" select="steps.percent=10">
        
        <div class="m-b" style="text-align: right;">
          
          <button type="submit" ng-class="{'btn-orange' : showHotel.name && showHotel.currentHotelAccessCode, 'btn-default' : !showHotel.name || !showHotel.currentHotelAccessCode ,'btn btn-rounded' : true}" ng-disabled="!showHotel.name || !showHotel.currentHotelAccessCode" ng-click="steps.step2=true">Next</button>
          
        </div>

        <div style="text-align: center; font-weight: bold;">
          <p class="m-b text-orange" ng-show="showHotel.id<=0">{{'page.register.hotelRegisterIntro' | translate}}</p>

        </div>


        <!--<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>-->
        <!--<h4>Validate Form</h4>-->
        <!--<label class="control-label">{{'page.activities.activityLogo' | translate}}</label>-->

        <!--<div  ng-cloak>-->
          <!--<div>-->
            <!--<div class="well">-->
              <!--&lt;!&ndash;<form action="" class="dropzone" dropzone="" id="dropzone">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="dz-default dz-message">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="pull-right" style="z-index: 999;margin-top: -40px;">-->
              <!--&lt;!&ndash;<button class="btn btn-success" ng-click="uploadFile()">Upload Avatar</button>&ndash;&gt;-->
              <!--<button class="btn btn-danger resetDropzone" ng-click="reset()" ng-show="fileAdded && !hideReset">{{'profile.removeAvatar' | translate}}</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        
        <!--<form name="step1" class="form-validation">-->
          
          <!--<div class="m-t m-b">-->
            <!--<button type="submit" ng-class="{'btn-orange' : showHotel.name && showHotel.currentHotelAccessCode, 'btn-default' : !showHotel.name || !showHotel.currentHotelAccessCode ,'btn btn-rounded' : true}" ng-disabled="!showHotel.name || !showHotel.currentHotelAccessCode" ng-click="steps.step2=true">Next</button>-->
          <!--</div>-->
          
          <!--<p>Hotel Name:</p>-->
          <!--<input type="email" name="email" class="form-control" ng-model="localState.newHotel.name" required ng-change="step1.email.$valid ? (steps.percent=30) : (steps.percent=20)">-->

          <!--<p>Hotel email:</p>-->
          <!--<input type="email" name="email" class="form-control" ng-model="localState.newHotel.email" required ng-change="step1.email.$valid ? (steps.percent=30) : (steps.percent=20)">-->
          <!-- -->
          <!--<p class="m-t">Hotel website:</p>-->
          <!--<input type="url" name="url" placeholder="http://" class="form-control" ng-model="localState.newHotel.website" required>-->
    

          <button ng-click="openModal('editHotel', showHotel.id)" style="margin-bottom: 15px;"  class="btn btn-lg btn-block btn-blue">{{localState.editHotelAccordionTitle}}</button>

          <!-- / END hotel accordion -->
          <b>{{::'system.editPreview' | translate}}:</b>

          <div data-ng-include=" 'angulr/tpl/hotel/blocks/showHotelBlock.html' " />
          <!--<div class="m-t m-b">-->
            <!--<button type="submit" ng-class="{'btn-orange' : localState.newHotel.name && localState.newHotel.currentHotelAccessCode, 'btn-default' : !localState.newHotel.name || !localState.newHotel.currentHotelAccessCode ,'btn btn-rounded' : true}" ng-disabled="step1.$invalid" ng-click="steps.step2=true">Next</button>-->
          <!--</div>-->
          
        <!--</form>-->
      </tab>
      
      
      
      <tab heading="Staff Information" disabled="showHotel.id<=0" active="steps.step2" select="steps.percent=60">
        
         <form name="step2" class="form-validation" ng-submit="submitNewStaffHotel();">
          
            <p class="m-b">{{:: 'page.register.staffRegisterIntro' | translate}}</p>
          <!--<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>-->

          <!--<div class="panel panel-default">-->






            <!--<div class="panel-heading font-bold">-->
              <!--Personal Information-->
            <!--</div>-->

            <!--<div class="panel-body">-->

              <!--<div class="form-group">-->
              <!--<label class="col-sm-2 control-label">Status</label>-->
              <!--<div class="col-sm-10">-->
              <!--<input type="text" class="form-control rounded" placeholder="{{'status' | translate}}"  ng-model="localState.newStaff.status">-->
              <!--<span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->

              <!--</div>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label"></label>-->
                <div>
                  <label class="i-checks">
                    <input type="radio" value="m" ng-model="localState.newStaff.sex" ng-required="!localState.newStaff.sex"><i></i> Herr &nbsp;
                  </label>
                  <label class="i-checks">
                    <input type="radio" value="w" ng-model="localState.newStaff.sex" ng-required="!localState.newStaff.sex"><i></i> Frau
                  </label>
                </div>
              <!--</div>-->

              <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

              <!--<div class="form-group">-->
                <label class="control-label">{{'firstName' | translate}}<span class="requiredField">*</span></label>
                <!--<div class="col-sm-10">-->
                  <input type="text" class="form-control" placeholder="{{'firstName' | translate}}"  ng-model="localState.newStaff.firstName" required>
                <!--</div>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <label class="control-label">{{'lastName' | translate}}<span class="requiredField">*</span></label>
                <!--<div class="col-sm-10">-->
                  <input type="text" class="form-control" placeholder="{{'lastName' | translate}}" ng-model="localState.newStaff.lastName" required>
                <!--</div>-->
              <!--</div>-->

              <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
          <label class="control-label">City<span class="requiredField">*</span></label>
          <!--<div class="col-sm-10">-->
          <input type="text" class="form-control" placeholder="{{'city' | translate}}"  ng-model="localState.newStaff.city" required>
          <!--</div>-->
        
          <!--<label class="control-label">Geburtstag</label>-->
          <!--<br/>-->
          <!--<div>-->

            <!--<a editable-date="staffBirthday">{{ getStaffBirthdayString() || 'system.selectDate' | translate }}</a>-->

          <!--</div>-->
        <br/>

        <!--<div class="form-group">-->
          <label class="control-label">{{'language' | translate}}<span class="requiredField">*</span></label>
        <br/>

        <div>
            <div isteven-multi-select id="selectLanguages"   input-model="localState.languages" output-model="localState.newStaff.languages" button-label="icon" item-label="icon name" tick-property="ticked" max-labels="5" max-height="320px" search-property="name" output-properties="name" helper-elements="filter"></div>
          </div>
        <!--</div>-->
          
         
          <!--<p>Your age:</p>-->
          <!--<input type="number" name="age" class="form-control" ng-model="age" required>-->
          <br>
          <br>
          <p>Hotel Staff email:<span class="requiredField">*</span></p>
          <input type="email" name="email" class="form-control" ng-model="localState.newStaff.email" required ng-change="step1.email.$valid ? (steps.percent=30) : (steps.percent=20)" required>

          <p class="m-t">Staff {{'password' | translate}}:<span class="requiredField">*</span></p>
          <input type="password" name="password" class="form-control" id="inputPassword" ng-model="localState.newStaff.password" placeholder="{{'password' | translate}}" required>

          <p class="m-t">Staff {{'confirmPassword' | translate}}:</p>
          <input type="password" name="confirmPassword" class="form-control" id="inputConfirmPassword" ng-model="localState.newStaff.confirmPassword" placeholder="{{'confirmPassword' | translate}}" required>


          <br/>

          <div class="checkbox m-b-md m-t-none">
            <label class="i-checks">
              <input type="checkbox" ng-model="localState.agree" required><i></i> <span style="margin-left: 5px;">{{'page.register.agree' | translate}}</span> <a href ui-sref="app.agb" style="text-decoration: underline;">{{'page.register.termsAndConditions' | translate}}</a>
            </label>
          </div>
          <br>
          <div data-ng-include=" 'angulr/tpl/hotel/blocks/showAlertBlock.html' " />

          <div class="m-t m-b">
              
            <!--<button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">Prev</button>-->
            <!--<button type="submit" ng-disabled="step2.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step3=true">Next</button>-->
            <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">Prev</button>
            <button type="submit" class="btn btn-orange btn-rounded" ng-disabled="step2.$invalid">{{'page.register.doRegister' | translate }}</button>
          </div>
          
        </form>
      </tab>
      
      
      
      
      <!--<tab heading="{{'profile.section.loginData' | translate}}" disabled="step2.$invalid" active="steps.step3" select="steps.percent=60">-->
        <!--<p class="m-b">Congraduations! You got the last step.</p>-->
        <!--<progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>-->
        <!--<p>Just one click to finish it.</p>-->
        <!-- -->
        <!--<p>Hotel Staff email:</p>-->
        <!--<input type="email" name="email" class="form-control" ng-model="email" required ng-change="step1.email.$valid ? (steps.percent=30) : (steps.percent=20)">-->

        <!--<p class="m-t">Staff {{'password' | translate}}:</p>-->
        <!--<input type="password" name="password" class="form-control" id="inputPassword" ng-model="localState.newStaff.password" placeholder="{{'password' | translate}}">-->

        <!--<p class="m-t">Staff {{'confirmPassword' | translate}}:</p>-->
        <!--<input type="password" name="confirmPassword" class="form-control" id="inputConfirmPassword" ng-model="localState.newStaff.confirmPassword" placeholder="{{'confirmPassword' | translate}}">-->


        <!--<div class="m-t m-b">-->
          <!--<button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true">Prev</button>-->
          <!--<button type="button" class="btn btn-default btn-rounded" ng-click="steps.percent=100">Click me to Finish</button>-->
        <!--</div>-->
      <!--</tab>-->
    </tabset>
  </div>

  <!--<div class="container w-xxl w-auto-xs ng-scope">-->

    <!-- -->
    <!--&lt;!&ndash;<button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()" ng-disabled='form.$invalid'><span translate="hotel.login.CREATEACCOUNT">Create an account</span></button>&ndash;&gt;-->
    <!--<button type="submit" class="btn btn-lg btn-orange btn-block" ng-click="register()"   >{{'page.register.doRegister' | translate }}</button>-->
    <!--<div class="line line-dashed"></div>-->
    <!--<p class="text-center"><small>{{'page.register.alreadyHaveAccount' | translate}}</small></p>-->
    <!--<a ui-sref="access.login" class="btn btn-lg btn-default btn-block">{{'page.login.doLogin' | translate }}</a>-->
  <!--</div>-->
  <!--</form>-->
</div>

